urls_downloaded_cb({"token": "control", "urls": ["concepts/presets.html#the-exploration-preset", "concepts/presets.html#the-gallery-preset", "concepts/presets.html#the-news-preset", "tutorial/ingester.html#parsing-the-rss-feed", "tutorial/app.html#customizing-the-front-page-ui"]});