urls_downloaded_cb({"urls": ["tutorial/app-full-code.html#page-description", "tutorial/app.html#app-icon"], "token": "org.example.creativecommonsblog.desktop"});