urls_downloaded_cb({"token": "org.example.creativecommonsblog.desktop", "urls": ["tutorial/app-full-code.html#page-description", "tutorial/app.html#app-icon"]});