.page_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.sidenav-panel-body,
.sidenav-main-panel-body {
  padding: 15px;
}
body {
  padding-top: 50px;
}
.section_headings {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  padding-bottom: 4px;
}
.section_headings:before,
.section_headings:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: #3E3F3A;
}
.section_headings:before {
  margin-left: -51%;
  text-align: right;
}
.section_headings:after {
  margin-left: 1%;
}
a,
a:active,
a:focus {
  outline: none !important;
  cursor: pointer;
}
button,
button:active,
button:focus {
  outline: none !important;
  cursor: pointer;
}
#navbar-wrapper > ul > li > button {
  margin: 0;
  height: 50px;
}
.navbar {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.base_symbol_container,
.symbol_section,
#page-description,
#subpages {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
img {
  max-width: 100%;
}
#page-description img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.license-description {
  width: 100%;
  padding-bottom: 20px;
}
.license-description table {
  width: 100%;
}
.license-description table tbody tr td:nth-child(2) {
  text-align: right;
}
.license-description table tbody tr td:nth-child(2) a .license-logo {
  max-width: 100px;
}
blockquote {
  font-style: italic;
}
html,
body {
  height: 100%;
  margin: 0pt;
}
html {
  position: relative;
}
body {
  display: table;
  width: 100%;
}
.page-row {
  display: table-row;
  height: 1px;
}
.page-row-expanded {
  height: 100%;
}
.hotdoc-navbar-brand {
  height: 50px;
  padding: 5px;
  float: left;
}
.hotdoc-navbar-brand img {
  max-height: 40px;
  min-height: 40px;
  min-width: 40px;
}
#sidenav-lookup-field,
.twitter-typeahead input.form-control {
  width: 150px;
}
#sidenav-lookup-field:focus,
.twitter-typeahead input.form-control {
  width: 100%;
}
#search_results {
  display: none;
}
.tt-menu {
  width: 100%;
  text-align: left;
  margin: 2px 0;
  padding: 8px 0;
  background-color: #fff;
}
.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #98978B;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #325D88;
}
.tt-suggestion p {
  margin: 0;
}
#sidenav-column {
  padding: 0px;
}
#sidenav {
  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0px;
  width: 25%;
  margin-bottom: 0px;
  background-color: #3E3F3A;
  border: 0px;
  border-radius: 0px;
  color: #8E8C84;
}
@media (min-width: 1600px) {
  #sidenav {
    width: 16.66%;
  }
}
#toc-column {
  position: fixed;
  top: 70px;
  bottom: 0px;
  right: 0px;
  width: 16.66%;
}
#toc-wrapper {
  overflow-y: auto;
  height: 100%;
}
#sitenav-wrapper {
  overflow-y: auto;
  height: 100%;
}
nav[data-toggle='toc'] .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #3E3F3A;
}
nav[data-toggle='toc'] .nav > li > a:hover {
  padding-left: 19px;
  color: #93C54B;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #93C54B;
}
nav[data-toggle='toc'] .nav > .active > a,
nav[data-toggle='toc'] .nav > .active:hover > a {
  padding-left: 18px;
  font-weight: bold;
  color: #93C54B;
  background-color: transparent;
  border-left: 2px solid #93C54B;
}
/* Nav: second level (shown on .active) */
nav[data-toggle='toc'] .nav .nav {
  display: none;
  /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
nav[data-toggle='toc'] .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
nav[data-toggle='toc'] .nav .nav > li > a:hover {
  padding-left: 29px;
}
nav[data-toggle='toc'] .nav .nav > .active > a,
nav[data-toggle='toc'] .nav .nav > .active:hover > a {
  padding-left: 28px;
  font-weight: 500;
}
nav[data-toggle='toc'] .nav > li > a:focus {
  background-color: transparent;
}
/* from https://github.com/twbs/bootstrap/blob/e38f066d8c203c3e032da0ff23cd2d6098ee2dd6/docs/assets/css/src/docs.css#L631-L634 */
nav[data-toggle='toc'] .nav > .active > ul {
  display: block;
}
.sidenav-panel-body,
.sidenav-main-panel-body {
  padding: 0px;
  padding-left: 5px;
}
.sidenav-main-panel-body {
  padding: 0px;
}
.sidenav-panel-odd {
  background-color: #3E3F3A;
}
.sidenav-panel-even {
  background-color: #2c2c29;
}
a[aria-expanded=true] .glyphicon-chevron-right {
  display: none;
}
a[aria-expanded=false] .glyphicon-chevron-down {
  display: none;
}
.parameter_container > table,
.member_container > table,
.multi_return_value_container > table {
  border: none;
  width: 100%;
}
.parameter_container > table thead tr td,
.member_container > table thead tr td,
.multi_return_value_container > table thead tr td,
.parameter_container > table tbody tr td,
.member_container > table tbody tr td,
.multi_return_value_container > table tbody tr td,
.parameter_container > table tfoot tr td,
.member_container > table tfoot tr td,
.multi_return_value_container > table tfoot tr td {
  padding-left: 10px;
}
.parameter_container > table thead tr td:nth-child(3),
.member_container > table thead tr td:nth-child(3),
.multi_return_value_container > table thead tr td:nth-child(3),
.parameter_container > table tbody tr td:nth-child(3),
.member_container > table tbody tr td:nth-child(3),
.multi_return_value_container > table tbody tr td:nth-child(3),
.parameter_container > table tfoot tr td:nth-child(3),
.member_container > table tfoot tr td:nth-child(3),
.multi_return_value_container > table tfoot tr td:nth-child(3) {
  text-align: right;
}
.parameter_container > table thead tr td:nth-child(4),
.member_container > table thead tr td:nth-child(4),
.multi_return_value_container > table thead tr td:nth-child(4),
.parameter_container > table tbody tr td:nth-child(4),
.member_container > table tbody tr td:nth-child(4),
.multi_return_value_container > table tbody tr td:nth-child(4),
.parameter_container > table tfoot tr td:nth-child(4),
.member_container > table tfoot tr td:nth-child(4),
.multi_return_value_container > table tfoot tr td:nth-child(4) {
  text-align: right;
}
.base_symbol_container > table,
#page-description > table,
.csp-previewer > table,
#subpages > table,
.base_symbol_container .authors-description,
#page-description .authors-description,
.csp-previewer .authors-description,
#subpages .authors-description {
  overflow: auto;
  margin-bottom: 16px;
  word-break: keep-all;
  width: 100%;
}
.base_symbol_container > table thead tr,
#page-description > table thead tr,
.csp-previewer > table thead tr,
#subpages > table thead tr,
.base_symbol_container .authors-description thead tr,
#page-description .authors-description thead tr,
.csp-previewer .authors-description thead tr,
#subpages .authors-description thead tr,
.base_symbol_container > table tbody tr,
#page-description > table tbody tr,
.csp-previewer > table tbody tr,
#subpages > table tbody tr,
.base_symbol_container .authors-description tbody tr,
#page-description .authors-description tbody tr,
.csp-previewer .authors-description tbody tr,
#subpages .authors-description tbody tr,
.base_symbol_container > table tfoot tr,
#page-description > table tfoot tr,
.csp-previewer > table tfoot tr,
#subpages > table tfoot tr,
.base_symbol_container .authors-description tfoot tr,
#page-description .authors-description tfoot tr,
.csp-previewer .authors-description tfoot tr,
#subpages .authors-description tfoot tr {
  background-color: #fff;
  border-top: 1px solid #CCC;
}
.base_symbol_container > table thead tr th,
#page-description > table thead tr th,
.csp-previewer > table thead tr th,
#subpages > table thead tr th,
.base_symbol_container .authors-description thead tr th,
#page-description .authors-description thead tr th,
.csp-previewer .authors-description thead tr th,
#subpages .authors-description thead tr th,
.base_symbol_container > table tbody tr th,
#page-description > table tbody tr th,
.csp-previewer > table tbody tr th,
#subpages > table tbody tr th,
.base_symbol_container .authors-description tbody tr th,
#page-description .authors-description tbody tr th,
.csp-previewer .authors-description tbody tr th,
#subpages .authors-description tbody tr th,
.base_symbol_container > table tfoot tr th,
#page-description > table tfoot tr th,
.csp-previewer > table tfoot tr th,
#subpages > table tfoot tr th,
.base_symbol_container .authors-description tfoot tr th,
#page-description .authors-description tfoot tr th,
.csp-previewer .authors-description tfoot tr th,
#subpages .authors-description tfoot tr th,
.base_symbol_container > table thead tr td,
#page-description > table thead tr td,
.csp-previewer > table thead tr td,
#subpages > table thead tr td,
.base_symbol_container .authors-description thead tr td,
#page-description .authors-description thead tr td,
.csp-previewer .authors-description thead tr td,
#subpages .authors-description thead tr td,
.base_symbol_container > table tbody tr td,
#page-description > table tbody tr td,
.csp-previewer > table tbody tr td,
#subpages > table tbody tr td,
.base_symbol_container .authors-description tbody tr td,
#page-description .authors-description tbody tr td,
.csp-previewer .authors-description tbody tr td,
#subpages .authors-description tbody tr td,
.base_symbol_container > table tfoot tr td,
#page-description > table tfoot tr td,
.csp-previewer > table tfoot tr td,
#subpages > table tfoot tr td,
.base_symbol_container .authors-description tfoot tr td,
#page-description .authors-description tfoot tr td,
.csp-previewer .authors-description tfoot tr td,
#subpages .authors-description tfoot tr td {
  padding: 6px 13px;
  border: 1px solid #DDD;
}
#search-mgn-glass {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
#navbar-search-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
