a.eos-no-link {
    cursor: text;
    -webkit-user-drag: none;
    text-decoration: none;
}

.toc a {
    cursor: pointer;
}

.magnify {
    display: none;
}

.eos-no-image {
    display: none;
}

object > embed {
    display:none;
}

#Video {
    display:none;
}
