.eos-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 99999;
    pointer-events: none;
    -webkit-user-select: none;
    transition: opacity 400ms ease-in;
    background: rgba(0, 0, 0, 0.8);
}

.eos-modal:target {
    opacity: 1;
    pointer-events: auto;
}

.eos-modal > div {
    position: relative;
    width: 600px;
    margin: 10% auto;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    background: white;
}

.eos-modal-close-button {
    position: absolute;
    color: white;
    font-family: "Fira Sans";
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    top: -10px;
    right: -12px;
    width: 24px;
    border-radius: 12px;
    box-shadow: 1px 1px 3px black;
    background: gray;
}

.eos-modal-close-button:hover {
    color: white;
    background: lightgray;
}

.eos-modal-close-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: none;
}
