#copy-button {
    font-family: Lato;
    font-size: 0.9em;

    color: #cccccc;
    background-color: rgba(21, 25, 26, 0.8);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;

    border-radius: 5px;
    border-color: rgba(18, 22, 23, 0.8);
    border-width: 1px;
    border-style: solid;

    position: absolute;
    z-index: 100;
    display: none;
    cursor: pointer;
    -webkit-user-select: none;
}

#copy-button:hover {
    color: white;
}
