@import "compass";
@import "clipboard";
@import "eos-no-link";

html, body {
    height: 100%;
}

html {
    background: #efefef;
}

#inside-content {
    h1 {
        color: #333333;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 2.25em; /* 36px / 12px/em * 72/96 */
    }
    h2 {
        color: #333333;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.75em; /* 28px / 12px/em * 72/96 */
    }
    h3 {
        color: #444444;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.56em; /* 25px / 12px/em * 72/96 */
    }
    h4 {
        color: #444444;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.375em; /* 22px / 12px/em * 72/96 */
    }
    h5 {
        color: #666666;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.25em; /* 20px / 12px/em * 72/96 */
    }
    h6 {
        color: #666666;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.0625em; /* 17px / 12px/em * 72/96 */
    }
    p, li {
        color: black;
        font-family: 'DejaVu Sans';
        font-size: 20px;
    }
    p {
        line-height: 1.56;
    }
    li {
        line-height: 1.875;
    }
    a {
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
    }
    blockquote {
        color: #000000;
        font-family: Roboto;
        font-style: italic;
        font-size: 1em; /* 16px / 12px/em * 72/96 */
        line-height: 1.3125;
    }
    img {
        clear: right;
        float: right;
        margin: 15px;
        max-width: 66%;
    }
    hr {
        border: none;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 50px 0px 50px 0px;
        clear: both;
    }
}
