@charset "UTF-8";

@import "compass";
@import "clipboard";
@import "eos-no-link";

html, body {
    height: 100%;
}

html {
    background: #efefef;
}

#inside-content {
    margin: 15px;
    h2 {
        color: #666666;
        font-family: Fjalla One;
        font-size: 36px;
    }
    h3 {
        color: #6C2253;
        font-family: Lato;
        font-weight: bold;
        font-size: 30px;
    }
    h4 {
        color: #333333;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 24px;
    }
    h5 {
        color: #93A917;
        font-family: Lato;
        font-weight: 300; /* light (300 instead of 200 for Lato) */
        font-style: italic;
        font-size: 22px;
    }
    h6 {
        color: #333333;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 18px;
    }
    p, li {
        color: #666666;
        font-family: Lato;
        font-weight: 300; /* light (300 instead of 200 for Lato) */
        font-size: 15px;
    }
    p {
        line-height: 20px;
    }
    li {
        line-height: 30px;
    }
    a {
        color: #00BCB5;
        font-family: Lato;
        font-weight: 900;
        font-size: 15px;
    }
    blockquote {
        color: #000000;
        font-family: Roboto;
        font-style: italic;
        font-size: 16px;
        line-height: 21px;
    }
    img {
        clear: right;
        float: right;
        margin: 15px;
        max-width: 66%;
    }
}
