@charset "UTF-8";

@import "compass";
@import "clipboard";
@import "eos-no-link";

html, body {
    height: 100%;
}

html {
    background: #efefef;
}

#inside-content {
    margin: 15px;
    h1 {
        color: #333333;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 2.25em; /* 36px / 12px/em * 72/96 */
    }
    h2 {
        color: #333333;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.75em; /* 28px / 12px/em * 72/96 */
    }
    h3 {
        color: #444444;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.56em; /* 25px / 12px/em * 72/96 */
    }
    h4 {
        color: #444444;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.375em; /* 22px / 12px/em * 72/96 */
    }
    h5 {
        color: #666666;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.25em; /* 20px / 12px/em * 72/96 */
    }
    h6 {
        color: #666666;
        font-family: Lato;
        font-weight: 800; /* black */
        font-size: 1.0625em; /* 17px / 12px/em * 72/96 */
    }
    p, li {
        color: #666666;
        font-family: Lato;
        font-weight: 300; /* light (300 instead of 200 for Lato) */
        font-size: 0.9375em; /* 15px / 12px/em * 72/96 */
    }
    p {
        line-height: 1.25em; /* 20px / 12px/em * 72/96 */
    }
    li {
        line-height: 1.875em; /* 30px / 12px/em * 72/96 */
    }
    a {
        color: #666666;
        font-family: Lato;
        font-weight: bold;
        font-size: 0.9375em; /* 15px / 12px/em * 72/96 */
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
    }
    blockquote {
        color: #000000;
        font-family: Roboto;
        font-style: italic;
        font-size: 1em; /* 16px / 12px/em * 72/96 */
        line-height: 1.3125em; /* 21px / 12px/em * 72/96 */
    }
    img {
        clear: right;
        float: right;
        margin: 15px;
        max-width: 66%;
    }
}
