@import "clipboard";
@import "eos-modal";

$body-font: Merriweather;
$body-font-composite: "DejaVu Sans";
$headline-font: "Fira Sans";
$caption-font: "Fira Sans";

$gray: #666666;
$dark-gray: #333333;
$medium-gray: #e9e5e0;
$light-gray: #faf5f0;
$dark-blue: #0f1b3c;
$red: #b11c08;
$blue: #7297a7;

$top-overlay: rgba(255, 0, 0, 0.4);
$bottom-overlay: #e9e5e0;

$body-line-height: 1.5;

$compact-max-size: 779px;
$large-min-size: 1180px;

// Remove user agent styles
figure, blockquote, p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

// Remove unused elements
.auth-info, [data-soma-widget="Title"] {
    display: none;
}

html {
    overflow-x: hidden;  // So 100vw divs don't cause a horizontal scrollbar
    font-family: $body-font;
    background-image: linear-gradient($bottom-overlay, $bottom-overlay), linear-gradient($top-overlay, $top-overlay), url('../images/background.png');
    background-size: auto, auto, cover;
    background-repeat: no-repeat;
    background-position: 0px 300px, 0px 0px, 0px 0px;
}

body {
    margin-bottom: 200px;
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 5px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}

main {
    color: $dark-gray;
    line-height: $body-line-height;
}

// Headers

h1, h2, h3, h4, h5, h6 {
    font-family: $headline-font;
    font-weight: bold;
    line-height: 1.333;
}

header h1 {
    color: $dark-blue;
    line-height: 1.18;
}

// Body text

// Synopsis
p[data-soma-widget="Subtitle"] {
    font-style: italic;
    color: $gray;
}

a {
    color: $red;
    text-decoration: none;
}

a:hover {
    color: $blue;
    text-decoration: underline;
}

// Page features

figure,
.photo {
    img {
        width: 100%;
    }

    figcaption {
        font-family: $caption-font;
        color: $gray;
    }

    background-color: $light-gray;
}

blockquote {
    display: flex;
    flex-wrap: wrap;

    p {
        font-family: $headline-font;
        font-style: italic;
        color: $blue;
        align-self: center;
    }

    &::before {
        content: url('../images/quote.svg');
        align-self: flex-start;
    }
}

aside {
    position: relative;
    width: 100%;

    & > * {
        margin-left: 10%;
        margin-right: 10%;
    }

    background-color: $light-gray;
}

.extra-header {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;

    .context {
        font-family: $body-font;
        color: $red;
        flex: 1;
    }

    .extra-header-right {
        font-family: $caption-font;
        max-width: 50%;
        text-align: right;
    }

    .date-published {
        color: $gray;
        font-style: italic;
        margin-bottom: 0;
    }

    .source-link {
        margin-bottom: 0;
    }
}

hr {
    border: 1px solid $medium-gray;
}

.disclaimer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-family: $caption-font;
        color: $gray;
        margin-bottom: 0;
    }

    &::before {
        content: url('../images/prensa-libre.svg');
    }
}

.eos-modal {
    font-family: $body-font;
}

// Responsive

// Define all our responsive properties in terms of three parameters, then
// include this mixin in the various media queries
@mixin responsive-elements($body-size, $indent: 20.4vw, $dedent: -10.2vw) {
    $body-unit-height: $body-line-height * $body-size;

    main {
        margin: (2 * $body-unit-height) $indent 0;
        font-size: $body-size;
    }

    .eos-article-title {
        margin: 0 $indent;
    }

    .disclaimer {
        margin: 0 $indent;
        padding: $body-unit-height 0;
    }

    .eos-modal,
    .eos-modal-link {
        font-size: 0.6 * $body-size;
    }

    .eos-modal,
    .eos-modal-link {
        font-size: 0.6 * $body-size;
    }

    .extra-header {
        font-size: 0.8 * $body-size;
        line-height: $body-size;
        margin: $body-unit-height ($indent + $dedent) $body-unit-height;
    }

    header h1 {
        font-size: 2.8 * $body-size;
        margin: 0 $dedent $body-unit-height;
    }

    h2 {
        font-size: 2.2 * $body-size;
        margin-top: 2 * $body-unit-height;
    }

    h3 {
        font-size: 1.7 * $body-size;
        margin-top: 2 * $body-unit-height;
    }

    h4 {
        font-size: 1.4 * $body-size;
    }

    h5 {
        font-size: 1.2 * $body-size;
    }

    h6 {
        font-weight: normal;
        font-style: italic;
        line-height: $body-line-height;
    }

    p[data-soma-widget="Subtitle"] {
        margin-left: $dedent;
        margin-bottom: $body-unit-height;
    }

    p, ul {
        margin-bottom: $body-unit-height;
    }

    figure,
    .photo {
        figcaption {
            padding: $body-unit-height;
            font-size: 0.8 * $body-size;
        }

        margin-top: 2 * $body-unit-height;
        margin-bottom: 2 * $body-unit-height;
    }

    blockquote {
        margin-left: $dedent;
        margin-bottom: $body-unit-height;

        p {
            margin: 0 $dedent 0 0;
            flex-basis: 100%;
        }

        cite {
            margin-left: -$dedent;
            flex-basis: 100%;
        }

        &::before {
            width: 3 * $body-size;
            height: 3 * $body-size;
            flex-basis: 3 * $body-size;
            margin-right: calc(-3 * #{$body-size} - #{$dedent});
        }
    }

    aside {
        padding: $body-unit-height 0;
    }

    .disclaimer::before {
        height: 2 * $body-size;
        // ugh, width: auto doesn't work for SVGs not specified via <img>
        // See https://css-tricks.com/scale-svg/
        width: 730 / 150 * 2 * $body-size;
    }
}

@include responsive-elements($body-size: 20px);

@media (max-width: $compact-max-size) {
    $body-size: 20px;
    $indent: 10vw;
    @include responsive-elements($body-size, $indent, $dedent: 0);

    header h1 {
        font-size: 2.5 * $body-size;
    }

    blockquote {
        margin-left: $indent;
        margin-right: 0;

        &::before {
            margin-left: -$indent;
        }
    }
}

@media (min-width: $large-min-size) {
    @include responsive-elements($body-size: 24px);
}

/* Composite resolutions */
@media (device-width: 720px) and (device-height: 480px),
       (device-width: 720px) and (device-height: 576px) {
    .main {
        font-family: $body-font-composite;
    }

    .eos-modal {
        font-family: $body-font-composite;
    }
}
