$title-font: TheSansRio2016 !default;
$body-font: TheSansRio2016 !default;
$display-font: Rio2016 !default;
$logo-font: Rio2016 !default;
$context-font: TheSansRio2016 !default;
$support-font: TheSansRio2016 !default;

$primary-light-color: #81d567 !default;
$primary-medium-color: #4faa33 !default;
$primary-dark-color: #39961b !default;

$accent-light-color: #fff400 !default;
$accent-dark-color: #0e65ab !default;

$background-light-color: white !default;
$background-dark-color: #0e65ab !default;

$shadow-color: transparentize(black, 0.6);
$card-background-color: transparentize(white, 0.1);
$card-title-highlight: #cc532b;

html {
    background-color: white;
    background-image: url('resource:///com/endlessm/knowledge/data/templates/images/bg-rio.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

* {
    font-family: TheSansRio2016;
}

.mw-body {
    padding: 0 0 300px;

    .eos-article-title {
        text-align: left;
        padding: 48px;
        margin-top: 0px;

        h1 {
            font-family: $display-font;
            font-weight: bold;
            color: $primary-dark-color;
            font-size: 64px;
            padding-bottom: 12px;
            border-bottom: 1px $primary-dark-color solid;
        }
    }

    .infobox, .infobox_v2, .thumb, .mbox-small, .tright, .floatright, .vertical-navbox,
    table[align="right"] {
        margin: 0px 20px 24px 20px;
        clear: right;
        float: right;
        /* Override !important rule in wikimedia.scss which is probably
        overriding an !important rule in a style attribute */
        width: 33% !important;
    }
}

#inside-content {
    padding-left: 96px;
    padding-right: 96px;
    p, ol, ul {
        max-width: 66%;
    }

    font-size: 22px;
    color: black;
    line-height: 36px;

    h2, h3, h4, h5, h6 {
        font-weight: bold;
        color: $primary-dark-color;
        margin-top: 36px;
        margin-bottom: 18px;
        text-transform: none;
    }

    h2 {
        font-size: 38px;
        line-height: 54px;
    }

    h3 {
        font-size: 29px;
    }

    a[href] {
        color: $primary-light-color;
        &:hover {
            text-decoration: underline;
        }
    }

    .disclaimer p {
        color: #999999;
        margin-top: 18px;
        font-size: 17px;
        line-height: normal;
        width: auto;
    }

    /* last <hr> is the separator between content and disclaimer */
    hr:last-of-type {
        border: 0;
        margin-top: 50px;
        height: 1px;
        background-color: #cccccc;
    }

    .infobox, .infobox_v2 {
        color: #666666;
        box-shadow: none;
        line-height: normal;

        th:only-child,
        caption {
            line-height: 22px;
            margin-bottom: 12px;

            /* Some rules need to override Wikipedia's hardcoded style attribute
            on the element */
            background-color: transparent !important;
            font-weight: normal !important;
            font-size: 22px !important;
        }

        /* Select primary cell of an infobox eigendata pair */
        tr > th:first-child:not(:only-child),
        tr > td:first-child:not(:only-child) {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            text-align: left;
            border-right: 0px; /* Get rid of spacing between infobox pairs */

            /* Some rules need to override Wikipedia's hardcoded style attribute
            on the element */
            background-color: #e7eeee !important;
            padding: 12px !important;
        }

        /* Select secondary cell(s) of an infobox eigendata pair */
        th ~ td,
        td:first-child ~ td {
            font-size: 14px;
            line-height: 14px;
            border-left: 0px; /* Get rid of spacing between infobox pairs */

            /* Some rules need to override Wikipedia's hardcoded style attribute
            on the element */
            background-color: #f6f6f6 !important;
            padding: 12px !important;
        }

        /* Select special case cell(s) with world heritage site text and others */
        tr:first-child > th.cabecera,   /* es */
        tr:first-child.media i,         /* pt */
        tr:first-child > th.topo.mapa { /* pt */
            line-height: 20px;

            /* Override Wikipedia's harcoded style */
            font-size: 18px !important;
            color: black !important;
        }
    }

    /* Style floating images. This works fine for images outside of infoboxes.
    The structure of images in infoboxes is so inconsistent in Wikipedia pages
    that this will be inadequate to catch everything. In particular, the border
    around the image and caption as a whole will not show up, as often the
    captions are cousin elements inside an unclassed toplevel div. We try the
    best we can anyway. */
    .thumb,
    td .eos-image-link image {
        border: 0px !important; /* Ugh, override !important rule in wikimedia.scss */
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

        &:hover, &:active {
            outline: 1px solid #49bde3;
        }

        &:active {
            box-shadow: none;
        }
    }

    .thumbcaption,
    td .eos-image-link + * {
        font-size: 17px;
        color: #044a80;
        padding: 12px;
        text-align: center;
        line-height: normal;
    }

    /* From wikimedia.scss */
    .gallery {
        li.gallerybox {
            width: auto !important;
            display: inline-block;
            margin-left: 4px;
            div, .gallerytext p, .gallerytextwrapper {
                width: auto !important;
            }
            .thumb {
                float: none;
                clear: none;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        li.gallerycaption {
            text-align: center;
            display: block;
            font-weight: bold;
        }
    }
}
