@import "project-setup";
@import "eos-no-link";

//////////////////////////////
// Variables
//////////////////////////////

$font-primary: "Merriweather", sans-serif;
$font-primary-composite: "Roboto";
$font-secondary: "Fira Sans", sans-serif;

$cols: 100% / 36;

$hxga: 512px * 36 / 56;
$vga: 640px * 36 / 56;
$svga: 800px * 36 / 56;
$wxga: 1366px * 36 / 56;
$fhd: 1920px * 36 / 56;
$two-column-width: 720px;

$text-color-body: #505050;
$text-color-title: #282828;

$table-color-body: #e9e9e3;
$table-color-title: #ddddd5;

$divider-color: #ccc;
$divider-color-composite: #959595;

//////////////////////////////
// Styles
//////////////////////////////

* {
    outline: none;
    -webkit-font-smoothing: antialiased;
    &[align="center"] {
        text-align: center;
    }
}

html, body {
    height: 100%;
    font: 20px $font-primary;    /* Root font */
    background-color: #fff;
}

a[href] {
    color: #277090;
    text-decoration: none;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
}

div[style*="float:right"] {
    float: none !important;
}

#toctitle,
#siteSub,
.mw-jump,
.mw-editsection,
.printfooter,
.mw-hidden-catlinks,
.mw-hidden-cats-hidden,
.noprint
{
    display: none !important;
}

$spacing-elements: 30px;

#bodycontents {
    .eos-article-title {
        color: $text-color-title;
        font: 700 2.8rem $font-secondary;   // 56px // Root: 20px 
        text-align: center;
        line-height: 1.125;
        margin-bottom: $spacing-elements;
        margin-top: $spacing-elements;
        padding: 50px 80px 70px 80px; // 60px because of mw-body top padding of 20px
        border-bottom: 1px solid $divider-color;
    }

    .disclaimer {
        font: 400 0.8rem $font-secondary;   // 16px // Root: 20px
        text-align: center;
        padding: 40px;
        margin-top: $spacing-elements;
        border-top: 1px solid $divider-color;
        clear: both;
        p {
            width: 100% !important;
        }
    }

    #inside-content {
        $spacing: 15px;
        $spacing-newh2: $spacing * 4;
        $spacing-newh3: $spacing * 3;
        $spacing-newh4: $spacing * 2.5;
        $spacing-newh5: $spacing * 1.7;
        $spacing-newh6: $spacing * 1.3;
        color: $text-color-body;
        font: 1.0rem;
        line-height: 1.71;
        padding: 20px $cols * 2;
        
        img, video {
            height: auto;
            max-width: 100%;
        }

        h2, .firstHeading, h3, h4, h5 {
            color: $text-color-title;
            line-height: 1.125;
        }

        h2, .firstHeading {
            font: 700 2.2rem $font-secondary;  // 44px // Root: 20px 
            margin-top: $spacing-newh2;
            + h3, + h4, + h5, + h6 {
                margin-top: $spacing;
            }
        }

        h3 {
            font: 700 1.7rem $font-secondary;  // 34px // Root: 20px 
            margin-top: $spacing-newh3;
        }

        h4 {
            font: 700 1.4rem $font-secondary;  // 28px // Root: 20px
            margin-top: $spacing-newh4;
        }

        h5 {
            font: 700 1.2rem $font-secondary;  // 24px // Root: 20px
            margin-top: $spacing-newh5;
        }

        h6 {
            font: 400 1.0rem $font-secondary;  // 20px // Root: 20px
            margin-top: $spacing-newh6;
            font-style: italic;
        }

        sup {
            font-size: xx-small;
            vertical-align: super;
        }

        p, ul, ol, .dablink {
            margin-bottom: $spacing;
            margin-top: $spacing;
        }

        ul {
            list-style: disc;
            margin-left: 30px;
            ul, li {
                margin-bottom: 5px;
                width: 100%;
            }
        }
        ol {
            list-style: decimal;
            margin-left: 30px;
        }

        table {
            color: $text-color-body;
        }

        .gallery {
            margin: 0 0 0 0 !important;

            img {
                width: 100%;
            }

            div, p {
                margin: 0 0 0 0 !important;
            }

            .gallerybox {
                width: 100% !important;
                display: inline-block;
                margin-bottom: 20px;

                div, .gallerytext p, .gallerytextwrapper {
                    width: auto !important;
                }

                .gallerytext {
                    font-family: $font-secondary; // 16 px
                    font-size: 0.8rem;
                    line-height: 1.125;        
                    padding: 10px;
                    background-color: $table-color-body;
                    margin-top: 0;
                    margin-bottom: $spacing-elements;
                    clear: both;
                }

                .thumb {
                    clear: none;
                    width: 100% !important;
                }
            }
        }
        .plainlist {
            ul, ol {
                list-style: none;
                margin-bottom: 0;
                margin-left: 0;
            }
        }
        .rellink {
            font-style: italic;
            margin-bottom: $spacing;
            margin-top: 0;
        }
        

        .hlist {
            dd, dt, li {
                display: inline;
                margin: 0;
            }
            dd, li {
                &:after {
                    content: " · ";
                    font-weight: bold;
                }
                &:last-child:after {
                    display: none;
                }
            }
        }
        .wikitable {
            font-size: 0.8rem;    // 16px // Root: 20px
            background: #fff;
            border-collapse: collapse;
            clear: left;
            float: none !important;
            margin-bottom: $spacing;
            width: 100% !important;
            box-sizing: border-box;
            p {
                margin: 0 0 0 0 !important;
            }
            th, td {
                background-color: $table-color-body;
                border: 1px solid #fff;
                padding: 5px 10px;
            }
            th {
                background: $table-color-title;
                font-weight: 700;
                text-align: center;
            }
        }

        tbody {
            font-size: 0.8rem;    // 16px // Root: 20px
            background: #fff;
            border-collapse: collapse;
            clear: left;
            float: none !important;
            margin-bottom: $spacing;
            width: 100% !important;
            p, ul {
                margin: 0 0 0 0;
            }
            dl, ul {
                margin-left: 20px;
            }
        }

        .mw-normal-catlinks {
            border-top: 1px solid $divider-color;
            clear: both;
            margin-top: $spacing;
            padding-top: $spacing - 5;
            ul {
                display: inline;
                list-style: none;
                margin: 0;
            }
            li {
                display: inline;
                &:before {
                    content: " · ";
                }
            }
        }


        .infobox, 
        .infobox_v2, 
        .thumb, 
        .mbox-small, 
        .tright, 
        .floatright, 
        .vertical-navbox,
        table[align="right"] {
            color: $text-color-body;
            font: 400 0.8rem $font-secondary;
            line-height: 1.71;
            margin-bottom: $spacing-elements;
            border: none !important;

            * {
                text-align: left !important;
            }

            p, ul {
                width: 100% !important;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }

            small {
                font-size: 0.6rem;
            }

            i {
                font-style: italic;
            }

             .fn {
                 color: $text-color-title !important;
                font: 1.25rem $font-secondary !important; // 25px // Root: 20px
                font-weight: 700 !important;
             }

            th, /*th .eos-no-link,*/ th .nowrap, /*th div,*/ th span, caption {        // FIXME: The commented elements mess up the dinosaurs timelines
                background-color: $table-color-title !important;
            }

            td {
                background-color: $table-color-body;
            }

            th, td, caption {
                padding: 13px 20px !important;
            }
            
            *[style*="nowrap"] {
                white-space: normal !important;
            }

            img {
                width: 100% !important;
                height: auto !important;
                top: 0 !important;
                left: 0 !important;
                bottom: 0 !important;
                right: 0 !important;
            }

            .maptable {
                td, th {
                    border-top: 0 none;
                }
            }
            .mergedrow {
                td, th {
                    border-top: 0 none;
                    padding: 0 0.6em 0.2em;
                }
            }
            .mergedbottomrow {
                td, th {
                    border-top: 0 none;
                    padding: 0 0.6em 0.4em;
                }
            }
            #Timeline-row {
                #end-border {
                    display: none;
                }
            }

        }
    }
}

.mediaContainer {
    margin: 0 auto;
    max-width: 100% !important;
    width: auto !important;
    padding-bottom: 15px;
}

.mediaContainer > audio {
    max-width: 100% !important;
    width: 300px !important;
    margin: 0 auto;
}

.thumb {
    div[style*="width"] {
        width: auto !important;
    }
    .thumbinner {
        position: relative;
        width: auto !important;
        .magnify {
            padding-top: 5px;
            img {
                $file: "object-view.png";
                background: image-url($file) no-repeat center center;
                content: "";
                display: none;
                height: image-height($file);
                padding-left: image-width($file);
                position: absolute;
                right: 10px;
                top: 10px;
                width: image-width($file);
                box-sizing: border-box;
            }
        }
        &:hover .magnify img {
            display: block;
        }
    }
    .thumbimage {
        display: block;
        height: auto;
        width: 100%;
    }
    .thumbcaption {
        font: 0.8rem $font-secondary;    // 16px // Root: 20px
        line-height: 1.125rem;        
        padding: 10px;
        background-color: $table-color-body;
        margin-top: 0;
        margin-bottom: $spacing-elements;
    }
}


.vertical-navbox {
    th, td {
        text-align: center;
    }
}

.NavHead {
    font-weight: 700;
}

//////////////////////////////
// Responsive
//////////////////////////////

@media (min-width: $vga) {  // FIXME: Haven't tested for vga yet
    #inside-content {
        .firstHeading {
            color: #fff;
            font: 700 1.25rem / 1.5rem $font-secondary; /* (18px, 24px) / 12px/em * 72/96 */
            left: $cols * 3;
            margin-bottom: 0;
            position: fixed;
            text-transform: none;
            top: 50px;
            width: $cols * 13;
        }
    }
    $in-cols: 100% / 13;
}

@media (min-width: $two-column-width) {
    #inside-content {
        $in-cols: 100% / 36;
        padding: 30px $cols * 2;

        p, ul, ol, dd {
            $in-cols: 100% / (36 - 4);
            width: $in-cols * 19;
        }

        .navbox, 
        .mw-normal-catlinks,
        div > table[style] {
            width: $in-cols * 32 !important;
        }

        .infobox, 
        .infobox[style],
        .infobox_v2, 
        .infobox_v2[style],
        .thumb, 
        .mbox-small, 
        .tright, 
        .floatright, 
        .vertical-navbox,
        table[align="right"] {
            $in-cols: 100% / (36 - 4);
            clear: right;
            float: right;
            width: $in-cols * 11 !important;
            margin-left: 20px;
        }
    }
}

/////
// Composite Resolutions
/////

@media (max-width: 720px) {
    .infobox, 
    .infobox[style],
    .infobox_v2, 
    .infobox_v2[style],
    .thumb, 
    .mbox-small, 
    .tright, 
    .floatright, 
    .vertical-navbox,
    table[align="right"] {
        width: 100% !important;
    }
}

@media (device-width: 720px) and (device-height: 480px),
       (device-width: 720px) and (device-height: 576px) {
    #bodycontents {
        font-family: $font-primary-composite;

        .disclaimer {
            border-top: 1px solid $divider-color-composite !important;
        }

        .eos-article-title {
            border-bottom: 1px solid $divider-color-composite !important;
        }
    }

    .infobox, 
    .infobox_v2,
    .vertical-navbox,
    .gallerytext,
    .wikitable,
    tbody,
    .thumbcaption,
    .disclaimer {
        font-size: 1.0rem !important;  // 20px // Root: 20px
    }
}


