@import "compass";
@import "eos-no-link";

@include global-reset;

//
// Variables
//

$font1: "Lato", sans-serif;
$font1-heading: "Lato";
$font1-composite: "DejaVu Sans";
$font2: "Montserrat", sans-serif;

$cols: 100% / 36;

$hxga: 512px * 36 / 56;
$vga: 640px * 36 / 56;
$svga: 800px * 36 / 56;
$xga: 1024px * 36 / 56;
$wxga: 1366px * 36 / 56;
$fhd: 1920px * 36 / 56;

$gray-darker: #191919;
$gray-dark: #333;
$gray: #666;
$gray-light: #959595;
$gray-lighter: #ccc;

$fast: 0.25s;
$normal: 0.5s;
$slow: 1s;

//
//
//

* {
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &[align="center"] {
        text-align: center;
    }
}

html, body {
    height: 100%;
}

body {
    background: #ececec image-url("noise.png");
}

img {
    vertical-align: middle;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

a[href] {
    color: #d16550;
    text-decoration: none;
}

//
//
//

.hidden,
.editsection,
.css-checkbox,
.altadder_section,
.relatedwikihows,
.altblock,
.ad_label,
#method_toc,
#intro,
#featurestar {
    display: none !important;
}

.checkbox-text {
    display: inline;
}

$rhythm: 22px;

#bodycontents {
    $in-cols: 100% / (36 - 2 * 2);
    padding: 20px $in-cols * 2;
    color: $gray;
    font: 0.8125em $font1; /* 13px / 12px/em * 72/96 */
    line-height: 1.71;
    img {
        height: auto;
        max-width: 100%;
    }
    .eos-article-title {
        color: $gray-dark;
        font: 1.875em $font1-heading; /* 30px / 12px/em * 72/96 */
        line-height: 1.375;
        margin-bottom: 36px;
        margin-top: 22px;
    }
    h2, h3, .firstHeading, h4 {
        color: $gray-dark;
        font: 900 0.875em $font2; /* 14px / 12px/em * 72/96 */
        line-height: 1.55;
        margin-bottom: $rhythm;
        // text-transform: uppercase
        a[href] {
            color: $gray-dark;
        }
    }
    h4 {
        text-transform: none;
    }
    sup {
        font-size: 0.625em; /* 10px / 12px/em * 72/96 */
        margin-left: 3px;
        vertical-align: super;
    }
}

.section {
    @include pie-clearfix;
    ul {
        margin-bottom: $rhythm;
        li:before {
            content: "• ";
            display: inline;
            margin-right: 4px;
        }
    }
}

h2 + ol, h3 + ol, .steps_list_2 {
    $in-cols: 100% / (36 - 2 * 2);
    > li {
        border-left: 1px solid $gray-lighter;
        clear: both;
        margin-bottom: $rhythm;
        padding-left: $in-cols * 2;
        @include box-sizing(border-box);
        @include pie-clearfix;
    }
    .mwimg {
        margin: 0 auto;
        margin-bottom: $rhythm;
        position: relative;
        width: $in-cols * 30;
        img {
            border: 5px solid #fff;
            display: block;
            height: auto;
            margin-bottom: $rhythm;
            width: 100%;
            @include box-shadow(0 0 6px 0 rgba(#000, 0.3));
            @include box-sizing(border-box);
        }
        &:before {
            $file: "object-view.png";
            background: image-url($file) no-repeat center center;
            content: "";
            display: none;
            height: image-height($file);
            padding-left: image-width($file);
            position: absolute;
            right: 10px + 5;
            top: 10px + 5;
            width: image-width($file);
            z-index: 10;
            @include box-sizing(border-box);
        }
        &:hover:before {
            display: block;
        }
    }
    .step_num {
        display: inline;
        // font-size: 12px
        margin-right: 1em;
    }
    .whb {
        color: $gray-dark;
    }
}

#sd_container,
#video {
    clear: both;
}

.sd_multiple_3 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: (100% / 3);
    @include box-sizing(border-box);
}

.sd_thumb {
    border: 5px solid #fff;
    background: #fff;
    line-height: 1.4;
    margin-bottom: $rhythm;
    @include box-shadow(0 0 6px 0 rgba(#000, 0.3));
    @include box-sizing(border-box);
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}

//
// Responsive
//

@media (min-width: $vga) {
    #bodycontents {
        $cols: 100% / 56;
        .firstHeading {
            color: #fff;
            font: 700 1.125em / 1.5em $font2; /* (18px, 24px) / 12px/em * 72/96 */
            left: $cols * 3;
            margin-bottom: 0;
            position: fixed;
            text-transform: none;
            top: 50px;
            width: $cols * 13;
            a[href] {
                color: #fff;
            }
        }
        h2, h3 {
            padding-top: 5px;
            &:before {
                font-size: 1.5em; /* 24px / 12px/em * 72/96 */
            }
        }
    }
    .steps_list_2 {
        > li {
            padding-left: 100% / (56 - 16 - 3 - 2 * 2);
        }
        .mwimg {
            width: 100% / (33 - 1) * 24;
        }
    }
}

@media (min-width: $xga) {
    #bodycontents {
        .firstHeading {
            font: 700 2em / 2.5em $font2; /* (32px, 40px) / 12px/em * 72/96 */
            top: 60px;
        }
        h2, h3 {
            padding-top: 9px;
            &:before {
                font-size: 2.25em; /* 36px / 12px/em * 72/96 */
            }
        }
    }
    .section {
        $in-cols: 100% / (56 - 17 - 3);
        padding: 30px $in-cols * 15 30px $in-cols * 2;
        padding-left: 0px;
    }
    $in-cols: 100% / (56 - 17 - 3 - 15 - 2);
    h2 + ol, h3 + ol, .steps_list_2 {
        > li {
            padding-left: $in-cols;
        }
        $in-cols: 100% / (19 - 1);
        .mwimg {
            clear: both;
            float: right;
            margin-bottom: 0;
            margin-right: -($in-cols * 13);
            width: $in-cols * 11;
        }
    }
    #sd_container,
    #video {
        width: $in-cols * 30;
        $in-cols: 100% / 30;
    }
    #sd_container {
        .sd_multiple_3 {
            padding-left: $in-cols / 2;
            padding-right: $in-cols / 2;
        }
    }
}

/* Composite */
@media (device-width: 720px) and (device-height: 480px),
       (device-width: 720px) and (device-height: 576px) {
    #bodycontents {
        font-family: $font1-composite;
        font-size: 19.4px;  /* 22px spec * 88% because spec was at 110% scale not 125% */

        h2, h3, .firstHeading, h4 {
            font-size: 22.9px;  /* 26px * 88% */
        }
    }
}
