@import "project-setup";
@import "eos-no-link";

//////////////////////////////
// Variables
//////////////////////////////

$font-primary: "Merriweather", sans-serif;
$font-primary-composite: "Roboto";
$font-secondary: "Fira Sans", sans-serif;

$cols: 100% / 36;

$hxga: 512px * 36 / 56;
$vga: 640px * 36 / 56;
$svga: 800px * 36 / 56;
$xga: 1024px * 36 / 56;
$wxga: 1366px * 36 / 56;
$fhd: 1920px * 36 / 56;

$text-color-body: #505050;
$text-color-title: #282828;

$section-color: #e9e9e3;

$divider-color: #ccc;
$divider-color-composite: #959595;

//////////////////////////////
// Styling
//////////////////////////////

* {
    outline: none;
    -webkit-font-smoothing: antialiased;
    &[align="center"] {
        text-align: center;
    }
}

html, body {
    height: 100%;
    font: 20px $font-primary;
}

body {
    background: white;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

a[href] {
    color: #d16550;
    text-decoration: none;
}

.hidden,
.editsection,
.css-checkbox,
.altadder_section,
.relatedwikihows,
.altblock,
.ad_label,
#method_toc,
#intro,
#featurestar {
    display: none !important;
}

.checkbox-text {
    display: inline;
}

$spacing-elements: 30px;

#bodycontents {
    .eos-article-title {
        color: $text-color-title;
        font: 700 2.8rem $font-secondary;   // 56px // Root: 20px 
        text-align: center;
        line-height: 1.125;
        margin-bottom: $spacing-elements;
        margin-top: $spacing-elements;
        padding: 50px 80px 70px 80px; // 60px because of mw-body top padding of 20px
        border-bottom: 1px solid $divider-color;
    }

    .disclaimer {
        font: 400 0.8rem $font-secondary;   // 16px // Root: 20px
        text-align: center;
        padding: 40px;
        margin-top: $spacing-elements;
        border-top: 1px solid $divider-color;
        clear: both;
        p {
            width: 100% !important;
        }
    }

    #inside-content {
        padding: 20px 20%;
        $spacing: 15px;
        $spacing-newh2: $spacing * 4;
        $spacing-newh3: $spacing * 3;
        $spacing-newh4: $spacing * 2.5;
        $spacing-newh5: $spacing * 1.7;
        $spacing-newh6: $spacing * 1.3;
        $in-cols: 100% / (36 - 2 * 2);
        color: $text-color-body;
        font: 1.0rem $font-primary; // 20px // Root: 20px
        line-height: 1.71;
        img {
            height: auto;
            max-width: 100% !important;
        }

        h2, .firstHeading, h3, h4, h5 {
            color: $text-color-title;
            margin-bottom: $spacing-elements;
            margin-top: $spacing-elements;
            a[href] {
                color: $text-color-title;
            }
        }

        h2, .firstHeading {
            font: 700 2.2rem $font-secondary;   // 44px // Root: 20px
            line-height: 1.125;
            margin-top: $spacing-newh2;
            + h3, + h4, + h5, + h6 {
                margin-top: $spacing;
            }
        }

        h3 {
            font: 700 1.7rem $font-secondary;  // 34px // Root: 20px 
            margin-top: $spacing-newh3;
        }

        h4 {
            font: 700 1.4rem $font-secondary;  // 28px // Root: 20px
            margin-top: $spacing-newh4;
        }

        h5 {
            font: 700 1.2rem $font-secondary;  // 24px // Root: 20px
            margin-top: $spacing-newh5;
        }

        h6 {
            font: 400 1.0rem $font-secondary;  // 20px // Root: 20px
            margin-top: $spacing-newh6;
            font-style: italic;
        }

        sup {
            font-size: xx-small;
            margin-left: 3px;
            vertical-align: super;
        }
    }
}

.section {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li, ul {
        background-color: $section-color;
        padding: 40px;
        img {
            width: 100%;
        }
    }
    ul {
        margin-top: $spacing-elements;
        li {
            padding: 0;
        }
        li:before {
            content: "• ";
            display: inline;
            margin-right: 4px;
        }
    }
}

h2 + ol, h3 + ol, .steps_list_2 {
    $in-cols: 100% / (36 - 2 * 2);
    > li {
        clear: both;
        margin-bottom: 50px;
        box-sizing: border-box;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .mwimg {
        margin: 0 auto;
        margin-bottom: $spacing-elements;
        margin-top: $spacing-elements;
        position: relative;
        max-width: 100% !important;
        img {
            display: block;
            height: auto;
            width: 100%;
            box-sizing: border-box;
        }
        &:before {
            $file: "object-view.png";
            background: image-url($file) no-repeat center center;
            content: "";
            display: none;
            height: image-height($file);
            position: absolute;
            z-index: 10;
            box-sizing: border-box;
        }
        &:hover:before {
            display: block;
        }
    }
    .step_num {
        display: inline;
        margin-right: 1em;
    }
    .whb {
        color: $text-color-title;
    }
}

#sd_container,
#video {
    clear: both;
}

.sd_multiple_3 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: (100% / 3);
    box-sizing: border-box;
}

.sd_thumb {
    border: 5px solid #fff;
    background: #fff;
    line-height: 1.4;
    margin-bottom: $spacing-elements;
    box-shadow: 0 0 6px 0 rgba(#000, 0.3);
    box-sizing: border-box;
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}


//////////////////////////////
// Responsive
//////////////////////////////

@media (min-width: $vga) {  // FIXME: Haven't tested for vga yet
    #bodycontents {
        $cols: 100% / 56;
        .firstHeading {
            color: #fff;
            font: 700 1.125em / 1.5em $font-secondary; // 22px // Root: 20px
            left: $cols * 3;
            margin-bottom: 0;
            position: fixed;
            text-transform: none;
            top: 50px;
            width: $cols * 13;
            a[href] {
                color: #fff;
            }
        }
        h2, h3 {
            padding-top: 5px;
            &:before {
                font-size: 1.5em; // 30px // Root: 20px
            }
        }
    }
    .steps_list_2 {
        > li {
            padding-left: 100% / (56 - 16 - 3 - 2 * 2);
        }
        .mwimg {
            width: 100% / (33 - 1) * 24;
        }
    }
}

@media (min-width: $xga) {
    #bodycontents {
        .firstHeading {
            font: 700 2em / 2.5em $font-secondary; // 40px // Root: 20px
            top: 60px;
        }
        h2, h3 {
            padding-top: 9px;
            &:before {
                font-size: 2.25em; // 45px // Root: 20px
            }
        }
    }
    $in-cols: 100% / (56 - 17 - 3 - 15 - 2);
    h2 + ol, h3 + ol, .steps_list_2 {
        $in-cols: 100% / (19 - 1);
        .mwimg {
            clear: both;
        }
    }
    #sd_container,
    #video {
        width: $in-cols * 30;
        $in-cols: 100% / 30;
    }
}

/* Composite */

@media (max-width: 720px) {
    #bodycontents {
        #inside-content {
            padding: 20px 7%;
        }

        .section li,
        .section ul {
            padding: 20px;
        }
    }
}

@media (device-width: 720px) and (device-height: 480px),
       (device-width: 720px) and (device-height: 576px) {
    #bodycontents {
        font-family: $font-primary-composite;

        #inside-content {
            padding: 10px 7%;
        }

        .eos-article-title {
            padding: 20px 0px 40px 0px; // 40px because of top padding of 20px
        }
    }
}
