.trigger {
    font-family: $support-font;
    font-size: 20px;
    color: $accent-light-color;

    .ThemeableImage {
        -gtk-icon-source: image-url('news-arrow-dark.svg');
        min-height: 14px;
        min-width: 14px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    &:hover {
        color: $accent-dark-color;

        .ThemeableImage {
            -gtk-icon-source: image-url('news-arrow-light.svg');
        }
    }
}
