.search-page-suggestions {
    margin: 50px 0;
    padding-bottom: 20px;

    .ContentGroup__title {
        font-family: $display-font;
        font-weight: bold;
        font-size: 40px;
        color: $black-60-color;
        padding-bottom: 30px;
    }
}
