.ContentGroupContentGroup {
    &__title {
        font-family: $display-font;
        font-weight: bold;
        font-size: 50px;
        color: transparentize(black, 1 - 0.60);
        margin-right: 10px;
    }

    &__trigger {
        font-family: $support-font;
        font-size: 25px;
        margin-left: 10px;

        .ThemeableImage {
            -gtk-icon-source: $arrow-recolored-icon;
            min-height: 14px;
            min-width: 14px;
            margin-left: 10px;
            margin-bottom: 8px;
        }
    }

    &__title,
    &__trigger {
        margin-bottom: 30px;
    }

    &__title--clickable,
    &__trigger {
        color: $accent-light-color;

        &:hover {
            color: $accent-dark-color;
        }
    }

    &__errorPage {
        padding: 40px;
        background-color: transparentize($primary-dark-color, 1 - 0.8);
    }

    &__errorMessage {
        font-family: $display-font;
        font-size: 30px;
        padding-bottom: 20px;
    }

    &__logButton {
        padding: 10px;
        border: 1px solid $accent-dark-color;
        border-radius: 5px;

        transition: all 250ms ease;
        background-image: linear-gradient(to bottom,
                                          $accent-dark-color,
                                          darken($accent-light-color, 10%));

        color: white;
        text-shadow: 0 1px transparentize(black, 0.4);
        -gtk-icon-shadow: 0 1px transparentize(black, 0.4);

        &:hover {
            background-image: linear-gradient(to bottom,
                                              lighten($accent-light-color, 5%),
                                              darken($accent-light-color, 5%));
        }

        &:active {
            background-image: linear-gradient(to bottom,
                                              darken($accent-dark-color, 20%),
                                              darken($accent-dark-color, 10%));
            transition-duration: 50ms;
            text-shadow: none;
            -gtk-icon-shadow: none;
        }
    }

    &__paginate {
        background-color: $primary-dark-color;
        color: white;
        font-size: 1.5em;
        box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.4);
        font-family: $support-font;
        border-radius: 22px;
        padding: 7px 35px;
        margin: 30px 0px 40px 0px;
    }
}

.ContentGroup--outercontainer {
    .CardContentGroup {
        margin: 0;
    }

    .Arrangement {
        margin: 0;
    }
}

.ContentGroup--highlightsall,
.ContentGroup--highlightsset,
.ContentGroup--previewset,
.ContentGroup--complementarycontent,
.ContentGroup--sets,
.ContentGroup--articles {
    padding: 50px 0;
}

spinner {
    margin: 20px;
}
