.search-page-suggestions {
    margin: 50px 0;
    padding-bottom: 20px;

    .ContentGroupContentGroup__title {
        font-family: $display-font;
        font-weight: bold;
        font-size: 40px;
        color: $black-60-color;
        padding-bottom: 30px;
    }
}

.highlights, .hierarchical-set {
    margin-top: 50px;
    .ContentGroupContentGroup__trigger {
        margin-bottom: 15px;
        font-family: $support-font;
        font-size: 20px;
        color: $accent-light-color;
        /* FIXME: We want a 'text-transform: lowercase;' here once GTK
         * CSS supports such a property, or once we figure out Dynamic
         * Titles in T11907
         */

        .ThemeableImage {
            -gtk-icon-source: $arrow-recolored-icon;
            min-height: 14px;
            min-width: 14px;
            margin-left: 5px;
            margin-bottom: 5px;
        }

        &:hover {
            color: $accent-dark-color;

            .ThemeableImage {
                -gtk-icon-source: $arrow-recolored-icon;
            }
        }
    }

    .ContentGroupContentGroup__title {
        margin: 25px 0px 15px 0px;
        color: $accent-light-color;
        font-family: $display-font;
        font-weight: bold;
        font-size: 40px;

        &:hover {
            color: $accent-dark-color;
        }
    }
}

.ContentGroupContentGroup {
    &__errorPage {
        padding: 40px 30px;
        background-color: $primary-dark-color;
    }

    &__errorMessage {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 12px;
    }

    &__logButton {
        padding: 10px;
        border: 1px solid $accent-dark-color;
        border-radius: 5px;

        transition: all 250ms ease;
        background-image: linear-gradient(to bottom,
                                          $accent-dark-color,
                                          darken($accent-light-color, 10%));

        color: white;
        text-shadow: 0 1px transparentize(black, 0.4);
        -gtk-icon-shadow: 0 1px transparentize(black, 0.4);

        &:hover {
            background-image: linear-gradient(to bottom,
                                              lighten($accent-light-color, 5%),
                                              darken($accent-light-color, 5%));
        }

        &:active {
            background-image: linear-gradient(to bottom,
                                              darken($accent-dark-color, 20%),
                                              darken($accent-dark-color, 10%));
            transition-duration: 50ms;
            text-shadow: none;
            -gtk-icon-shadow: none;
        }
    }
}

.search-results {
    background-color: $background-light-color;

    .no-results {
        background-color: $primary-dark-color;
    }

    .ContentGroupNoResultsMessage__title {
        padding: 50px 80px 30px 160px;
    }

    spinner {
        margin: 20px;
    }

    .composite & row {
        padding: 0 40px;
    }
}
