.Lightbox {
    &__navigationButton {
        padding: 10px;
        border-radius: 27px;
        background-color: transparentize(white, 1 - 0.2);
        box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.24);

        &:hover {
            background-color: transparentize(white, 1 - 0.4);
        }
    }

    &__shadow {
        background-color: transparentize(black, 1 - 0.9);
    }
}

