.ContentGroupNoResultsMessage {
    &__title {
        font-family: $display-font;
        color: $primary-light-color;
        font-size: 30px;
    }

    &__subtitle {
        font-family: $body-font;
        color: transparentize(black, 1 - 0.60);
        font-size: 20px;
        margin-top: 2.0em;
    }
}

.ContentGroup--outercontainer .ContentGroupNoResultsMessage {
    padding: 50px 0;
}

.composite {
    .ContentGroupNoResultsMessage {
        &__title {
            font-family: $support-font-composite;
        }
        &__subtitle {
            font-family: $body-font-composite;
        }
    }
}
