.ContentGroupSearch {
    background-color: $background-light-color;

    .no-results {
        background-color: white;
    }

    /* This used to be margin on the list cards inside, but ListCard doesn't support
     * margin properly at the moment. */
    .scrolling-list-grid {
        padding: 0 200px;
    }
}

.search-results {
    .results-message-title {
        font-family: $title-font;
        color: $primary-light-color;
        font-size: 30px;
        padding: 50px 80px 30px 160px;
    }

    .results-message-subtitle {
        font-family: $title-font;
        font-style: italic;
        color: #666666;
        font-size: 22px;
        padding-bottom: 50px;
        padding-left: 160px;
    }

    spinner {
        margin: 20px;
    }

    .composite & row {
        padding: 0 40px;
    }
}

.results-message-title {
    color: white;
    padding-bottom: 30px;
}

.results-message.subtitle {
    color: black;
}

.results-message-background {
    background-color: $background-light-color;
}
