.ContentGroupSuggestedArticles {
    margin: 50px 0;
    padding-bottom: 20px;

    & > .title {
        font-family: $title-font;
        font-weight: bold;
        font-size: 40px;
        color: $accent-light-color;
        padding-bottom: 30px;
    }
}

.ContentGroupSuggestedArticles {
    background-color: $background-dark-color;
}
