.ContentGroupThematic {
    grid {
        margin-bottom: 20px;
    }

    .CardTitle {
        .title {
            color: $accent-light-color;
            font-size: 40px;
            font-weight: bold;
        }

        &:hover .title {
            color: $accent-dark-color;
        }
    }

    .composite & .CardTitle .title.label {
        font-weight: normal;
    }
}
