.ContentGroupThematic {
    grid {
        margin-bottom: 20px;
    }

    .CardTitle .title {
        font-size: 40px;
        font-weight: bold;
    }

    .composite & .CardTitle .title.label {
        font-weight: normal;
    }
}
