.ContentGroupThematic {
    padding: 20px;

    .CardTitle {
        margin-top: 25px;

        .title {
            color: $accent-light-color;
            font-weight: 200;
            font-size: 29.3px;
        }

        .after {
            -gtk-icon-source: image-url('title-arrow-dark.svg');
            min-height: 10px;
            min-width: 11px;
            margin-left: 8px;
            margin-top: 6px;
        }

        &:hover {
            .title {
                color: $accent-dark-color;
            }

            .after {
                -gtk-icon-source: image-url('title-arrow-light.svg');
            }
        }
    }

    separator {
        background-color: #999999;
        min-height: 1px;
        margin: 4px 0px 10px 0px;
    }
}
