/*
 * NavButtonOverlay is a widget used internally by LayoutNavigation
 */
.NavButtonOverlay {
    &__backButton,
    &__forwardButton {
        color: white;
        background-color: transparentize(white, 1 - 0.2);
        -EknGrowButton-grow-pixels: 15;

        &:hover {
            background-color: transparentize(white, 1 - 0.3);
            transition: background-color 150ms ease-in-out;
        }

        &:active {
            background-color: transparentize(white, 1 - 0.2);
            transition: none;
            box-shadow: none;
            transition: box-shadow 150ms ease-in-out;
        }
    }

    &__backButton,
    &__forwardButton:dir(rtl) {
        border-left: 0px;
        border-radius: 0px 27px 27px 0px;
        padding: 15px;
    }

    &__forwardButton,
    &__backButton:dir(rtl) {
        border-radius: 27px 0px 0px 27px;
        border-right: 0px;
        padding: 15px;
    }

    &__backButtonImage,
    &__forwardButtonImage {
        color: white;
        min-width: 22px;
        min-height: 22px;
    }

    &__backButtonImage {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
    }

    &__forwardButtonImage {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
    }

    &__backButtonImage:dir(rtl) {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic-rtl");
    }

    &__forwardButtonImage:dir(rtl) {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic-rtl");
    }
}
