.LayoutResponsiveMargins {
    &--tiny {
        margin: 0px;
    }

    &--small {
        margin: 0px 40px;
    }

    &--medium {
        margin: 0px 62px;
    }

    &--large {
        margin: 0px 83px;
    }

    &--xlarge {
        margin: 0px 120px;
    }
}

.LayoutResponsiveMargins--complementarycontent {
    margin-top: 50px;
    margin-bottom: 50px;
}
