.LayoutSidebar {
    .sidebar {
        .ArrangementList {
            margin: 0px;
        }

        .CardTitle {
            margin: 0px;
            padding: 10px;

            &__title {
                padding: 0em 0em 0em 1.5em;
                font-family: $display-font;
                font-weight: 700;
                font-size: 1.125em; /* 18pt * 1/12 * 0.75 DPI correction factor */
                color: $primary-light-color;
            }

            &:hover {

                .Card__title {
                    color: $primary-medium-color;
                }
            }

            &:active {
                background: transparentize(black, 1 - 0.3);
            }

            &.highlighted {
                background: transparentize(black, 1 - 0.5);
                font-weight: 700;

                .Card__title {
                    color: white;
                    transition-property: color;
                    transition-timing-function: ease;
                    transition-duration: 0.5s;

                }

                &:hover {
                    background-color: transparentize(black, 1 - 0.9);
                }

                &:active {
                background: transparentize(black, 1 - 1);
                box-shadow: none;
                transition: none;
            }
            }
        }
    }

    & .content {
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.0) 65%, rgba(0,0,0,0.30) 85%, rgba(0,0,0,0.70) 100%);
    }

    .composite & .sidebar .CardTitle__title {
        font-family: $title-font-composite;
    }
}
