.LayoutSidebar {
    .sidebar {
        .ArrangementList {
            margin: 0px;
        }

        .CardTitle {
            margin: 0px;
            padding: 6px;
            border: 2px solid transparentize(white, 1);
            background-color: transparentize(white, 1);
            transition: background-color 250ms ease-in-out,
                        background-image 250ms ease-in-out,
                        border 250ms ease-in-out;

            &__title {
                padding: 0em 0em 0em 1.5em;
                font-family: $display-font;
                font-size: 1.125em; /* 18pt * 1/12 * 0.75 DPI correction factor */
                font-weight: normal;
                color: $primary-light-color;
                transition: color 250ms ease-in-out;
            }

            &:hover {
                border: 2px solid white;
                background-color: transparentize(white, 1 - 0.9);
                background-image: linear-gradient(-179deg,
                                                  transparentize(white, 1 - 0.05) 0%,
                                                  transparentize(black, 1 - 0.05) 100%);

                .Card__title {
                    color: $primary-medium-color;
                }
            }

            &.highlighted {
                background: transparentize(white, 1 - 0.8);
                text-shadow: 0px 1px 0px white;
                font-weight: bold;
                transition-property: none;

                .Card__title {
                    color: $primary-dark-color;
                    transition-property: none;
                }

                &:hover {
                    border: 2px solid white;
                    background-color: transparentize(white, 1 - 0.9);
                    background-image: linear-gradient(-179deg,
                                                      transparentize(white, 1 - 0.05) 0%,
                                                      transparentize(black, 1 - 0.05) 100%);

                    .Card__title {
                        color: $primary-dark-color;
                        transition-property: none;
                    }
                }
            }
        }
    }

    & .content {
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.0) 65%, rgba(0,0,0,0.30) 85%, rgba(0,0,0,0.70) 100%);
    }

    .composite & .sidebar .CardTitle__title {
        font-family: $title-font-composite;
    }
}
