.LayoutSidebar {
    .content {
        .BannerSet,
        .BannerSearch {
            margin-top: 0;
        }

        .BannerSet .CardTitle__title,
        .BannerSearch__title {
            font-size: 72px;
            color: white;
            padding: 1.0em 0em 1.0em 1.25em;
        }
    }

    .sidebar {
        background-color: $primary-medium-color;
        box-shadow: 0px 0px 5px 0px transparentize(black, 1 - 0.40);

        scrollbar {
            background-color: transparentize(black, 1 - 0.20);

            slider {
                min-width: 10px;
                background-color: transparentize(white, 1 - 0.40);
            }
        }

        .ArrangementList {
            margin: 0px;
        }

        .CardTitle {
            margin: 0;
            border-bottom: 1px solid transparentize(black, 1 - 0.20);
            font-weight: bold;
            &__title {
                font-size: 20px;
                font-family: $title-font;
                color: transparentize(white, 1 - 0.60);
                padding: 15px 15px 15px 30px;
            }

            &:hover .Card__title {
                color: $accent-light-color;
            }

            &:active,
            &.highlighted {
                .CardTitle {
                    &__title {
                        background-color: $primary-dark-color;
                        color: white;
                    }
                }
            }
        }

        .ContentGroupNoResultsMessage {
            margin: 2.0em;
        }
    }
}

.composite {
    .sidebar {
        .CardTitle {
            &__title {
                font-family: $display-font-composite;
                padding: 0em 0em 0em 1.0em;
                font-size: 20px;
            }
        }
    }
}
