.LayoutSideMenu {
    .context-bar {
        background-image: linear-gradient(to bottom, $primary-dark-color 0%, $primary-dark-color 100%);
        box-shadow: 0px 2px 5px 0px transparentize(black, 1 - 0.15);
    }

    .context-bar-shadow-frame {
        padding-bottom: 10px;
    }

    .panel {
        -EknSlidingPanel-shadow-margin: 40;
    }

    .menu {
        min-width: 199px;
        background-color: $primary-medium-color;
        box-shadow: 0px 1px 20px 0px transparentize(black, 1 - 0.5);

        .home-button,
        .card .title {
            font-size: 21.3px;
            font-family: $title-font;
            color: white;
        }

        .card {
            margin-top: 5px;
        }

        .home-button:hover,
        .card:hover .title {
            color: $accent-light-color;
        }

        separator {
            min-height: 1px;
            background-color: black;
            margin: 5px 10px 0 10px;
        }

        .sidebar {
            margin: 0 10px 5px 10px;
        }

    }

    .close-button,
    .menu-button {
        color: white;
    }

    .menu-button {
        padding: 10px;
    }

    .close-button:hover,
    .menu-button:hover {
        color: $accent-light-color;
    }

    .home-button {
        margin: 10px 0 0 10px;
        font-weight: bold;
    }

    .close-button {
        margin: 10px 10px 0 0;
    }

    .title-card,
    .home-button,
    .close-button {
        padding: 6px 0px;
    }
}
