.LayoutSideMenu {
    &__contextBar {
        background-image: linear-gradient(to bottom, $primary-dark-color 0%, $primary-dark-color 100%);
        box-shadow: 0px 2px 5px 0px transparentize(black, 1 - 0.15);
    }

    &__contextBarShadow {
        padding-bottom: 10px;
    }

    &__panel {
        -EknSlidingPanel-shadow-margin: 40;
    }

    &__menu {
        min-width: 199px;
        background-color: $primary-medium-color;
        box-shadow: 0px 1px 20px 0px transparentize(black, 1 - 0.5);
        padding: 10px 10px 5px 10px;

        .Card {
            &__title {
                font-size: 21.3px;
                font-family: $title-font;
                color: white;
            }

            &:hover .Card__title {
                color: $accent-light-color;
            }
        }

        separator {
            min-height: 1px;
            background-color: black;
            margin-top: 5px;
        }

        scrolledwindow {
            padding-top: 10px;
            background-color: transparent;
        }

        scrollbar {
            background-color: transparent;
        }
    }

    &__closeButton,
    &__homeButton,
    &__menuButton {
        color: white;
        &:hover {
            color: $accent-light-color;
        }
    }

    &__menuButton {
        padding: 10px;
    }

    &__homeButton {
        font-size: 21.3px;
        font-family: $title-font;
        font-weight: bold;
    }

    &__homeButton,
    &__closeButton {
        padding: 6px 0px;
    }
}
