.LayoutSideMenu {
    &__contextBar {
        background-color: $primary-dark-color;
        box-shadow: 0px 0px 5px 0px transparentize(black, 1 - 0.40);
        .BannerContext {
            font-size: 30px;
            color: white;
            font-weight: normal;
            margin-top: 0;
        }
    }

    &__contextBarShadow {
        padding-bottom: 10px;
    }

    &__panel {
        -EknSlidingPanel-shadow-margin: 40;
    }

    &__menu {
        min-width: 225px;
        background-color: $primary-medium-color;
        box-shadow: 0px 0px 5px 0px transparentize(black, 1 - 0.60);
        .ArrangementList {
            margin: 0;
            .CardTitle {
                margin: 0;
                border-bottom: 1px solid transparentize(black, 1 - 0.20);
                font-weight: bold;
                &__title {
                    font-size: 20px;
                    font-family: $title-font;
                    color: transparentize(white, 1 - 0.60);
                    padding: 15px;
                }

                &:hover .Card__title {
                    color: $accent-light-color;
                }

                &:active,
                &.highlighted {
                    .CardTitle {
                        &__title {
                            color: white;
                            background-color: $primary-dark-color;
                        }
                    }
                }
            }
        }

        separator {
            min-height: 1px;
            background-color: transparentize(black, 1 - 0.20);
        }

        scrolledwindow {
            background-color: transparent;
        }
    }

    &__closeButton,
    &__homeButton,
    &__menuButton {
        color: white;
    }

    &__closeButton:hover,
    &__homeButton:hover,
    &__menuButton:hover {
        color: $accent-light-color;
    }

    &__menuButton {
        padding: 10px;
    }

    &__homeButton {
        font-size: 21.3px;
        font-family: $display-font;
        font-weight: bold;
    }

    &__homeButton,
    &__closeButton {
        padding: 15px;
    }
}
