.LayoutTopMenu {
    &__menu {
        background-color: $primary-medium-color;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        padding: 0px 20px;

        .BannerApp .ThemeableImage {
            -EknThemeableImage-sizing: "size-min";
            min-width: 146px;
            min-height: 30px;
        }

        .BannerDynamic__logo {
            -EknDynamicLogo-sizing: "size-min";
            min-width: 146px;
            min-height: 30px;
        }
    }

    &__content {
        margin-top: 50px;
    }
}
