.LayoutTopMenu {
    &__menu {
        background-color: $primary-medium-color;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        padding: 0px 20px;

        .BannerApp {
            &__image {
                -EknThemeableImage-sizing: "size-min";
                min-width: 146px;
                min-height: 30px;
            }

            .DynamicLogo {
                -EknDynamicLogo-sizing: "size-min";
                min-width: 146px;
                min-height: 30px
            }
        }

        /* If there is a content group, make its error message really small; the
        top menu isn't really meant to fit an error message */
        .ContentGroupContentGroup__errorPage,
        .ContentGroupContentGroup__errorMessage {
            font-size: 1px;
            padding: 0;
        }
    }

    &__content {
        margin-top: 50px;
    }
}
