.LayoutTopMenu {
    &__menu {
        background-color: $primary-dark-color;
        box-shadow: 0px 0px 5px 0px transparentize(black, 1 - 0.60);
        padding: 0px 20px;

        .BannerApp .ThemeableImage {
            -EknThemeableImage-sizing: "size-min";
            min-width: 146px;
            min-height: 30px;
        }

        .BannerDynamic__logo {
            -EknDynamicLogo-sizing: "size-min";
            min-width: 146px;
            min-height: 30px;
        }

        .BannerApp,
        .BannerDynamic {
            padding-right: 50px;
        }
    }

    .WindowSimple & scrollbar,
    &__content {
        /* 50px is hard-coded as the menu minimum height */
        margin-top: 50px;
    }

    /* FIXME: All CSS for the menu buttons & text are in Arrangement.SideBySide.
    This seems a little unintuitive; we should move the code from
    Arrangement.SideBySide to Layout.TopMenu in the future. */
}
