@define-color tab-button-background #7DA443;

.card-title,
.section-page-title,
.article-page-title,
.no-search-results-page-title {
    font-family: 'Marcellus SC';
    font-weight: bold;
}

.card {
    background: #E8E4E1;
}

.card .card-title {
    color: #5A8715;
}
