/Makefile
/Makefile.in
/eos-knowledge-content-decl-list.txt
/eos-knowledge-content-decl.txt
/eos-knowledge-content-undeclared.txt
/eos-knowledge-content-undocumented.txt
/eos-knowledge-content-unused.txt
/eos-knowledge-content.args
/eos-knowledge-content.hierarchy
/eos-knowledge-content.interfaces
/eos-knowledge-content.prerequisites
/eos-knowledge-content.signals
/eos-knowledge-content.types
/html
/so_locations
/tags
/version.xml
/xml
/*.bak
/gtkdoc-check.test
