.View {
    &__title {
        color: white;
        font-family: $title-font;
        font-size: 45px;
        font-weight: bold;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.1);

        &.collapsed {
            font-size: 55px;
            padding: 1.0em 1.0em 0.5em 1.0em;
        }
    }

    .SlidingPanel {
        -EknSlidingPanel-fill-percentage: 0.73;
        -EknSlidingPanel-shadow-margin: 7;
    }
}
