.Card {
    font-size: 18.7px;

    &__title {
        color: $primary-medium-color;
    }

    &.highlighted &__title {
        color: white;
    }

    &__contentFrame {
        padding: 20px;
    }

    &.arrow {
        -gtk-icon-source: none; /* kill the arrow that Gtk adds by default in Gtk.render_arrow() */
    }

    &.invisible {
        opacity: 0.0;
    }

    &.fade-in {
        transition: opacity 1000ms ease-in-out;
        opacity: 1.0;
    }

    .thumbnail {
        background-position: center;
        background-size: 100% 100%;
        border-width: 0px;
    }
}

.Card__synopsis {
    font-family: $body-font;
    color: $black-60-color;
    font-size: 18.7px;
    padding-top: 20px;
}

.Card__context {
    font-family: $context-font;
    font-size: 14px;
    color: $primary-light-color;
}

.Card__context .FormattableLabel {
    -EknFormattableLabel-text-transform: 'uppercase';
}
