.Card {
    font-size: 18.7px;

    .title {
        color: $primary-medium-color;
    }

    &.highlighted .title {
        color: white;
    }

    .content-frame {
        padding: 20px;
    }

    &.arrow {
        -gtk-icon-source: none; /* kill the arrow that Gtk adds by default in Gtk.render_arrow() */
    }

    &.invisible {
        opacity: 0.0;
    }

    &.fade-in {
        transition: opacity 1000ms ease-in-out;
        opacity: 1.0;
    }

    .thumbnail {
        background-position: center;
        background-size: 100% 100%;
        border-width: 0px;
    }

    &.width-c .title,
    &.width-d.height-c .title,
    &.width-d.height-b .title {
        font-size: 21.3px;
    }

    &.width-d.height-d .title,
    &.width-e.height-b .title,
    &.width-e.height-c .title {
        font-size: 30.7px;
    }

    &.width-d .title,
    &.width-e .title,
    &.width-f .title,
    &.width-g .title,
    &.width-h .title {
        font-size: 49.3px;
    }

    &.width-e .content-frame,
    &.width-f .content-frame,
    &.width-g .content-frame,
    &.width-h .content-frame {
        padding: 40px;
    }

    &.width-e.height-e .card-context,
    &.width-f .card-context,
    &.width-g .card-context,
    &.width-h .card-context {
        font-size: 18.7px;
    }
}

.card-synopsis {
    font-family: $body-font;
    color: $black-60-color;
    font-size: 18.7px;
    padding-top: 30px;
}

.card-context {
    font-family: $context-font;
    font-size: 16px;
    color: $primary-light-color;
}
