.CardDeck {
    background-image: url('resource:///com/endlessm/knowledge/data/images/deckbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    &__title {
        font-weight: 300;
    }

    &__contentFrame {
        padding: 20px 0px 20px 0px;
        background-color: transparentize(white, 1 - 0.949);
        min-height: 80px;  /* 120px, compensated for 20px padding */
    }

    &__thumbnail {
        margin: 13px;
    }

    &:active {
        background-size: 98% 98%;
    }

    &.height-b &__contentFrame,
    &.height-a &__contentFrame {
        min-height: 40px;  /* 80px, compensated for 20px padding */
    }

    &:hover &__title {
        color: $accent-light-color;
    }

    &:hover &__thumbnail,
    &:active &__thumbnail {
        outline: 1px solid $primary-light-color;
        border-color: $primary-light-color;
        /* used for the triangle in the corner */
        outline-offset: -1px;
        -gtk-outline-radius: 0;
    }

    .composite &__title {
        font-weight: normal;
    }
}
