.CardDefault {
    background-color: white;
    box-shadow: 0px 2px 3px transparentize(black, 1 - 0.40);
    border-color: transparent;  /* used for the triangle in the corner */
    transition: box-shadow 80ms ease-in-out;

    &.CardPost .CardDefault__title {
        color: white;
    }

    &:hover {
        box-shadow: 0px 4px 5px transparentize(black, 1 - 0.35);
        .CardDefault__title {
            color: $accent-light-color;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        transition: font-size 150ms ease-in-out;
    }

    &__synopsis {
        font-size: 16px;
    }

    &__context {
        font-weight: bold;
        font-size: 14px;
    }

    .composite &__context {
        color: gray;
    }

    .CardDefault__content_grid {
        transition: padding 150ms ease-in-out;
    }

    &--pdf &__thumbnail {
        background-image: url('resource:///com/endlessm/knowledge/data/images/pdf_icon.png');
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-size: 50px;
    }

    &.CardText {
        .CardDefault {
            &__title {
                margin-bottom: 20px;
            }

            &__context {
                margin-top: 20px;
            }
        }

        &.width-h,
        &.width-g,
        &.width-f,
        &.width-e.height-e {
            .CardDefault__title {
                font-size: 48px;
            }
            .CardDefault__synopsis {
                font-size: 20px;
            }
            padding: 60px;
        }

        &.width-e.height-d,
        &.width-e.height-c {
            .CardDefault__title {
                font-size: 36.8px;
            }
            padding: 40px;
        }

        &.width-e,
        &.width-d {
            .CardDefault__title {
                font-size: 27.2px;
            }
            padding: 30px;
        }

        &.width-c {
            .CardDefault__title {
                font-size: 23.04px;
            }
            padding: 30px;
        }

        &.width-b {
            .CardDefault__title {
                font-size: 18px;
            }
            padding: 20px;
        }

        &.height-a {
            .CardDefault__title {
                font-size: 16px;
            }
            padding: 20px;
        }

        // Title bottom-margin
        &.height-b {
            .CardDefault__title {
                margin-bottom: 10px;
            }
        }

        &.height-a {
            .CardDefault__title {
                margin-bottom: 0;
            }
        }
    }

    &.CardPolaroid {
        .CardDefault {
            &__title {
                margin-bottom: 20px;
            }

            &__context {
                margin-top: 20px;
            }
        }

        &.width-h,
        &.width-g,
        &.width-f,
        &.width-e.height-e {
            .CardDefault__title {
                font-size: 36.8px;
            }
        }

        &.width-h,
        &.width-g,
        &.width-f,
        &.width-e.height-e {
            .CardDefault__content_grid {
                padding: 40px;
            }
        }

        &.width-h.height-b,
        &.width-g.height-b,
        &.width-f.height-b,
        &.width-e,
        &.width-d.height-e,
        &.width-d.height-d {
            .CardDefault__title {
                font-size: 24px;
                margin-bottom: 0;
            }
        }

        &.width-h.height-b,
        &.width-g.height-b,
        &.width-f.height-b,
        &.width-e,
        &.width-d.height-e,
        &.width-d.height-d {
            .CardDefault__content_grid {
                padding: 20px 30px;
            }
        }

        &.width-d,
        &.width-c,
        &.width-b.height-e,
        &.width-b.height-d {
            .CardDefault__title {
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        &.width-d,
        &.width-c,
        &.width-b.height-e,
        &.width-b.height-d {
            .CardDefault__content_grid {
                padding: 15px 20px;
            }
        }

        &.width-b,
        &.height-a {
            .CardDefault__title {
                font-size: 16px;
                margin-bottom: 0;
            }
        }

        &.width-b,
        &.height-a {
            .CardDefault__content_grid {
                padding: 20px;
            }
        }

        // Video/audio icon sizing
        &.height-b.width-c,
        &.height-b.width-b,
        &.height-b.width-a,
        &.height-a {
            .CardDefault__media_overlay.audio,
            .CardDefault__media_overlay.video {
                min-width: 60px;
                min-height: 60px;
                background-size: 18px 18px;
            }
        }
    }

    &.CardPost {
        .CardDefault__context {
            font-size: 14px;
            margin-top: 20px;
        }

        // context margin
        &.width-e.height-d,
        &.width-e.height-c,
        &.width-e.height-b,
        &.width-e.height-a,
        &.width-d,
        &.width-c,
        &.width-b,
        &.width-a {
            .CardDefault__context {
                margin-top: 10px;
            }
        }

        .CardDefault__content_grid {
            background-image: linear-gradient(to top, transparentize(black, 1 - 0.85) 0%, transparentize(black, 1 - 0.60) 20%, transparentize(black, 1 - 0.40) 35%, transparent 60%);
            min-height: 140px;  /* 90px, compensated for 20px padding */
        }

        &.width-h,
        &.width-g {
            .CardDefault__title {
                font-size: 48px;
            }
            .CardDefault__content_grid {
                padding: 60px;
            }
        }

        &.width-h.height-c,
        &.width-g.height-c,
        &.width-f,
        &.width-e.height-e {
            .CardDefault__title {
                font-size: 36.8px;
            }
            .CardDefault__content_grid {
                padding: 40px;
            }
        }

        &.width-g.height-b,
        &.width-h.height-b,
        &.width-f.height-b,
        &.width-e,
        &.width-d.height-e,
        &.width-d.height-d {
            .CardDefault__title {
                font-size: 24px;
            }
            .CardDefault__content_grid {
                padding: 30px;
            }
        }

        &.width-d,
        &.width-c,
        &.width-b.height-e,
        &.width-b.height-d {
            .CardDefault__title {
                font-size: 20px;
            }
            .CardDefault__content_grid {
                padding: 20px;
            }
        }

        &.width-b,
        &.height-a {
            .CardDefault__title {
                font-size: 16px;
            }
            .CardDefault__content_grid {
                padding: 20px;
            }
        }

        // Video/audio icon sizing
        &.height-b,
        &.height-a {
            .CardDefault__media_overlay.audio,
            .CardDefault__media_overlay.video {
                min-width: 60px;
                min-height: 60px;
                background-size: 18px 18px;
            }
        }
    }
}
