.DocumentCard {
    .CardSequence {
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        padding: 15px 30px;

        .title {
            font-size: 21.3px;
            font-weight: normal;
            color: $primary-medium-color;
        }

        .previous-label,
        .next-label {
            font-size: 14.7px;
            color: $primary-light-color;
        }
    }

    .SlidingPanel {
        -EknSlidingPanel-fill-percentage: 0.73;
        -EknSlidingPanel-shadow-margin: 7;
    }

    WebKitWebView {
        background-color: $background-light-color;
    }
}

.webview-tooltip {
    background-color: transparentize(black, 1 - 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;

    label {
        color: white;
        font-family: $title-font;
        font-size: 1.0em; /* 16px / 12px/em * 72/96 */
        font-weight: bold;
    }
}

.TableOfContents {
    &__entry {
        color: rgb(204, 204, 204);
        font-weight: 900;  /* Black */
        font-size: .7em;
        background-color: transparent;
        transition: background-color 150ms ease-in-out;
        border-radius: 1.75em;
        padding: .75em 0em;
        margin-bottom: .4em;

        &:hover,
        &:selected {
            color: white;
        }

        &:selected {
            background-color: transparentize(white, 1 - 0.247);
        }
    }

    &__entryTitle {
        padding-left: 1.5em;
    }

    &__entryIndex {
        padding: 0em 2em;
    }

    &__arrow {
        color: rgb(204, 204, 204);
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: transparentize(black, 1 - 0.3);
        padding: 5px;
        box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.3);

        &:hover {
            color: white;
            border-color: transparentize(black, 1 - 0.4);
            box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.4);
        }

        &:disabled {
            color: transparentize(rgb(204, 204, 204), 1 - 0.3);
            border-color: transparentize(black, 1 - 0.15);
            box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.15);
        }
    }

    /* Style table of contents when collapsed without section titles */
    &--collapsed &__entry {
        border-radius: 1.75em 0em 0em 1.75em;
    }

    &--collapsed &__entryIndex {
        padding-left: 0em;
        padding-right: 0em;
    }
}

.PDFView {
    background-image: image-url('pdf-background.png');
}

.InArticleSearch {
    background-color: #dbdbdb;
    padding: 3px;

    &__entry {
        background: rgba(0,0,0,0.3);
        padding: 0.5em .3em;
        font-size: 13.3px;
        color: #fff;
        caret-color: #fff;
        min-width: 350px;

        border-style: solid;
        border-radius: 50px;

        border-width: 3px;
        border-color: rgba(0,0,0,0.25);

        image {
            margin: 0 3px;
        }

        selection {
            color: rgba(0,0,0,0.7);
            background-color: #fff;
        }
    }

    &__button,
    .close {
        padding: 5px;
        color: #7a7e7f;

        &:hover {
            color: #54595a;
        }
    }

    .composite &__entry {
        font-size: 21.1px;  /* 18 px spec * 88% because spec was at 110% scale not 125% */
        background-color: transparentize(black, 1 - 0.8);
    }
}
