/* So this value can be used in composite, too */
$toc-selected-color: transparentize(white, 1 - 0.10);
/* This aligns the document title to the TOC entryTitle */
$toc-align-padding: 15px;

.CardKnowledgeDocument {
    &__contentFrame {
        padding: 0;
        margin: 0;
    }
    &__toolbarFrame {
        margin: 60px;
    }
}

.Webview {
    decoration {
        background-color: transparentize(black, 1 - 0.7);
        border-radius: 8px;
    }

    menu {
        padding: 8px 0px;
    }
}

.WebviewTooltip {
    background-color: transparentize(black, 1 - 0.60);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;

    label {
        color: white;
        font-family: $support-font;
        font-size: 16px;
        font-weight: bold;
    }
}

.TableOfContents {
    &__entry {
        font-family: $display-font;
        color: transparentize(white, 1 - 0.7);
        font-size: 18px;
        font-weight: 700;
        border-radius: 1.75em;
        padding: 0.50em 0em;
        text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);

        &:hover,
        &:selected {
            color: white;
        }

        &:active {
            color: transparentize(white, 1 - 0.90);
            text-shadow: 1px 5px 3px transparentize(black, 1 - 0.20);
        }

        &:selected {
            background-color: $toc-selected-color;
            text-shadow: none;
            box-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
            &:active {
                box-shadow: 1px 5px 3px transparentize(black, 1 - 0.20);
            }
        }
    }

    &__entryTitle,
    &__entryIndex {
        padding: 0em $toc-align-padding;
    }

    &__arrow {
        color: white;
        background-color: $toc-selected-color;
        border-radius: 50%;
        margin: 1em 0em;
        padding: 5px;
        box-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);

        &:hover {
            background-color: transparentize(white, 1 - 0.25);
        }

        &:disabled {
            color: transparentize(white, 1 - 0.3);
            background-color: transparentize(white, 1 - 0.05);
            box-shadow: none;
        }

        &:active {
            color: transparentize(white, 1 - 0.9);
            background-color: transparentize(white, 1 - 0.20);
            transition: none;
            box-shadow: 1px 5px 3px transparentize(black, 1 - 0.20);
        }
    }

    /* Style table of contents when collapsed without section titles */
    &--collapsed &__entry {
        border-radius: 1.75em;
        padding: 0.3em 0em;
    }

    &--collapsed &__entryIndex {
        padding-left: 0em;
        padding-right: 0em;
    }
}

.PDFView {
    background-image: url('resource:///com/endlessm/knowledge/data/images/pdf-background.png');
}

.InArticleSearch {
    background-color: #d1d1d1;
    padding: 10px;

    &__entry {
        font-family: $context-font;
        background: white;
        padding: 0.5em .5em;
        font-size: 18px;
        color: transparentize(black, 1 - 0.60);
        caret-color: transparentize(black, 1 - 0.60);
        min-width: 350px;

        border-style: solid;
        border-radius: 50px;

        border-width: 2px;
        border-color: transparentize(black, 1 - 0.40);

        image {
            margin: 0 10px 0 3px;
        }

        selection {
            background-color: transparentize(black, 1 - 0.10);
        }
    }

    &__next,
    &__previous,
    .close {
        padding: 10px;
    }

    &__previous {
        margin-left: 10px;
    }

    .close {
        margin-right: 10px;
    }

    &__next,
    &__previous,
    .close {
        color: transparentize(black, 1 - 0.40);

        &:hover {
            color: transparentize(black, 1 - 0.90);
        }
    }
}

.composite {
    .InArticleSearch {
        &__entry {
            font-size: 21.1px;  /* 18 px spec * 88% because spec was at 110% scale not 125% */
            background-color: transparentize(black, 1 - 0.8);
        }
    }

    .CardKnowledgeDocument {
        &__title {
            font-size: 30px;
            padding: 1.0em 0.5em 0.5em 0.5em;
        }
        &__contentFrame {
            margin: 0px 0px 0px 0px;
        }
        &__toolbarFrame {
            margin: 0px 20px 0px 45px;
        }  
    }

    /*
    TableOfContents NOTE: 
    Some TableOfContents composite styling is in the .TableOfContents class, as &--collapsed. 
    */
}
