.CardLegacyPolaroid {
    padding: 10px;
    margin: 7px;
    background-color: white;

    &__title {
        padding: 4px 0px;
        color: $accent-dark-color;
        font-family: $title-font, sans-serif;
        font-size: 0.77em;
        font-weight: bold;

        &.highlighted {
            background-color: $background-dark-color;
        }
    }

     &.highlighted &__title {
        color: $accent-dark-color;
     }

    &__thumbnail {
        min-height: 133px;
    }

    &__synopsis {
        padding: 0px 0px 4px 0px;
        color: #666666;
        font-size: 0.68em;
        text-shadow: white 0px 1px 0px;

        &.highlighted {
            background-color: $background-dark-color;
        }
    }

    .composite & {
        &__title {
            font-weight: 600;
            font-size: 16.4px;  /* Original spec may have been wrong */
        }

        &__synopsis {
            color: black;
            font-size: 16.4px;  /* 14px spec * 88% */
            text-shadow: none;
        }
    }
}
