$legacy-post-card-border-color: transparentize(black, 1 - 0.70);
$legacy-post-card-border-color-hover: white;

.CardLegacyPost {
    border-style: solid;
    border-width: 5px;
    border-color: $legacy-post-card-border-color;
    transition: border-color 150ms ease-in-out;

    &:hover {
        border-color: $legacy-post-card-border-color-hover;
    }

    &:hover &__title {
        color: $primary-medium-color;
        background-color: $legacy-post-card-border-color-hover;
    }

    &__thumbnail {
        background-size: cover;
    }

    &__title {
        color: $primary-light-color;
        font-family: $title-font;
        font-size: 1.8em;
        padding: .9em 0em;
        background-color: $legacy-post-card-border-color;
        transition: color 150ms ease-in-out,
                    background-color 150ms ease-in-out;
    }
}

.composite {
    .CardLegacyPost {
        border-width: 2px;
    }
}
