.CardList {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 5px transparentize(black, 1 - 0.25);
    border-color: transparent;  /* used for the triangle in the corner */

    &__title {
        font-family: $title-font;
        font-weight: bold;
        color: $primary-medium-color;
        font-size: 18px;

        &.highlighted {
            background-color: rgba(114, 151, 167, 0.3);
        }
    }

    &__synopsis {
        font-family: $body-font;
        font-style: italic;
        color: $black-60-color;
        font-size: 16px;
    }

    &__context {
        font-family: $context-font;
        font-weight: bold;
        font-style: normal;
        color: $primary-light-color;
        font-size: 14px;
    }

    &__checkmark {
        -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
        min-width: 39px;
        min-height: 38px;
    }

    &__content_grid {
        padding: 20px;
    }

    &:hover &__title {
        color: $primary-light-color;
    }

    &.next:hover &__title {
        color: $primary-medium-color;
    }


    &.width-e &__title {
        font-size: 18px;
    }

    &.width-f &__title {
        font-size: 23px;
    }

    &.width-g &__title {
        font-size: 35px;
    }

    &.width-h &__title {
        font-size: 35px;
    }

    .composite &.width-d &__title,
    .composite &.width-d &__synopsis,
    .composite &.width-e &__title,
    .composite &.width-e &__synopsis {
        font-size: 18.8px;  /* 16px spec * 88% because spec was at 110% scale not 125% */
    }
}
