.CardList {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0px 2px 3px transparentize(black, 1 - 0.40);
    border-color: transparent;  /* used for the triangle in the corner */
    transition: box-shadow 80ms ease-in-out;

    &__title {
        font-weight: bold;
        font-size: 18px;
        transition: font-size 150ms ease-in-out;
    }

    &__synopsis {
        font-family: $body-font;
        color: transparentize(black, 1 - 0.60);
        font-size: 16px;
        margin-top: 10px;
    }

    &__context {
        font-family: $context-font;
        font-weight: bold;
        font-style: normal;
        color: $primary-light-color;
        font-size: 14px;
    }

    &__checkmark {
        -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
    }

    &__content_grid {
        padding: 20px;
        transition: padding 150ms ease-in-out;
    }

    &__thumbnail {
        background-color: $background-dark-color;
    }

    &:hover {
        box-shadow: 0px 4px 5px transparentize(black, 1 - 0.35);
        .CardList__title {
            color: $accent-light-color;
        }
    }

    &.width-h,
    &.width-g {
        .CardList__title {
            font-size: 35px;
        }

        .CardList__synopsis {
            margin-top: 20px;
        }

        .CardList__content_grid {
            padding: 40px;
        }
    }

    &.width-f {
        .CardList__title {
            font-size: 23px;
        }

        .CardList__content_grid {
            padding: 30px;
        }
    }

    &.width-e {
        .CardList__title {
            font-size: 18px;
        }

        .CardList__content_grid {
            padding: 20px;
        }
    }

    .composite &.width-d &__title,
    .composite &.width-d &__synopsis,
    .composite &.width-e &__title,
    .composite &.width-e &__synopsis {
        font-size: 18.8px;  /* 16px spec * 88% because spec was at 110% scale not 125% */
    }

    // Video/audio icon sizing
    &.width-f,
    &.width-e,
    &.width-d,
    &.width-c,
    &.width-b,
    &.width-a {
        .CardList__media_overlay.audio,
        .CardList__media_overlay.video {
            min-width: 60px;
            min-height: 60px;
            background-size: 18px 18px;
        }
    }
}
