.CardMedia {
    padding: 10px;
    background-color: white;

    separator {
        background-color: $black-20-color;
        min-height: 1px;
    }
}

.media-card-caption {
    font-size: .81em;  /* 13pt * 1/12 * 0.75 DPI correction factor */
    font-family: $title-font;
    color: $primary-medium-color;

    .composite & {
        font-size: 14.1px;  /* 12px spec * 88% because spec was at 110% scale not 125% */
    }
}

.media-card-attribution-text {
    font-weight: bold;
    font-size: .62em;  /* 10pt * 1/12 * 0.75 DPI correction factor */
    font-family: $title-font;
    color: $accent-light-color;
    transition: color 250ms ease-in-out;

    &:hover {
        color: #ff6900;
    }

    .composite & {
        font-size: 10.5px;  /* 9px spec * 88% */
    }
}
