.CardMedia {
    background-color: white;

    &__caption {
        font-size: 20px;
        font-family: $body-font;
        color: #666666;
        padding: 20px 20px 0px 20px;
    }

    &__attributionText {
        font-weight: bold;
        font-size: 16px;
        font-family: $display-font;
        color: $accent-light-color;
        padding: 10px 20px 20px 20px;

        &:hover {
            color: $accent-dark-color;
        }
    }
}

.composite {
    .CardMedia {
        &__caption {
            font-size: 20px;
        }

        &__attributionText {
            font-size: 15px;
        }
    }
}
