.CardPinterest {
    margin: 5px;
    padding: 10px 10px 50px 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.DynamicImage {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
