.CardPost {
    background-color: white;
    box-shadow: 0 0 5px transparentize(black, 1 - 0.25);
    border-color: transparent;  /* used for the triangle in the corner */

    &__title {
        color: white;
        font-family: $title-font;
        font-weight: bold;
        padding-bottom: 20px;
    }

    &__context {
        color: $primary-light-color;
        font-family: $context-font;
        font-weight: bold;
    }

    &__contentFrame {
        background-image: linear-gradient(to top, black 0%, transparentize(black, 1 - 0.69) 30%, transparentize(black, 1 - 0.5) 49%, transparentize(black, 1) 100%);
        min-height: 50px;  /* 90px, compensated for 20px padding */
    }

    &.width-e &__contentFrame,
    &.width-f &__contentFrame,
    &.width-g &__contentFrame,
    &.width-h &__contentFrame {
        min-height: 10px;  /* 90px, compensated for 40px padding */
    }

    &.height-e &__contentFrame {
        min-height: 250px;  /* 290px, compensated for 20px padding */
    }

    &.height-e.width-e &__contentFrame,
    &.height-e.width-f &__contentFrame,
    &.height-e.width-g &__contentFrame,
    &.height-e.width-h &__contentFrame {
        min-height: 210px;  /* 290px, compensated for 40px padding */
    }

    &.height-d &__contentFrame {
        min-height: 150px;  /* 190px, compensated for 20px padding */
    }

    &.height-d.width-e &__contentFrame,
    &.height-d.width-f &__contentFrame,
    &.height-d.width-g &__contentFrame,
    &.height-d.width-h &__contentFrame {
        min-height: 110px;  /* 190px, compensated for 40px padding */
    }

    &.height-c &__contentFrame {
        min-height: 100px;  /* 140px, compensated for 20px padding */
    }

    &.height-c.width-e &__contentFrame,
    &.height-c.width-f &__contentFrame,
    &.height-c.width-g &__contentFrame,
    &.height-c.width-h &__contentFrame {
        min-height: 60px;  /* 140px, compensated for 40px padding */
    }
}
