EknSetPreviewCard {
    .title-card {
        margin-top: 25px;

        .title {
            color: $accent-light-color;
            font-family: $title-font;
            font-weight: bold;
            padding-top: 50px;
            font-size: 40px;
        }

        &:hover .title {
            color: $accent-dark-color;
        }
    }

    separator {
        background-color: $black-20-color;
        min-height: 0;
        margin: 0px 0px 30px;
    }

    .composite & .title {
        font-weight: normal;
    }
}
