.CardText {
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    padding: 20px;

    &__title {
        font-family: $title-font;
        font-weight: bold;
        color: $primary-medium-color;
        font-size: 18px;
    }

    &:hover &__title {
        color: $primary-light-color;
    }

    &__synopsis {
        font-family: $body-font;
        font-style: italic;
        color: $black-60-color;
        font-size: 16px;
    }

    &__context {
        font-family: $context-font;
        font-weight: bold;
        font-style: normal;
        color: $primary-light-color;
        font-size: 14px;
    }

    &.width-c {
        padding: 30px;
    }

    &.width-c &__title {
        font-size: 23px;
    }

    &.width-c.height-d,
    &.width-d {
        padding: 30px;
    }
    &.width-c.height-d &__title,
    &.width-d &__title {
        font-size: 27px;
    }

    &.height-d,
    &.width-e,
    &.width-f.height-c {
        padding: 40px;
    }

    &.width-d.height-d &__title,
    &.width-e &__title,
    &.width-f.height-c &__title {
        font-size: 37px;
    }

    &.width-e.height-d,
    &.width-e.height-e,
    &.width-f,
    &.width-g,
    &.width-h {
        padding: 50px;
    }

    &.width-e.height-d &__title,
    &.width-e.height-e &__title,
    &.width-f &__title,
    &.width-g &__title,
    &.width-h &__title {
        font-size: 49px;
    }

    &--highlighted {
        background-color: $primary-dark-color;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);

        &__title {
            color: white;
        }
    }
}
