.CardText {
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    padding: 20px;

    .title {
        font-family: $title-font;
        font-weight: bold;
        color: $primary-medium-color;
        font-size: 18px;
    }

    &:hover .title {
        color: $primary-light-color;
    }

    .card-synopsis {
        font-family: $body-font;
        font-style: italic;
        color: $black-60-color;
        font-size: 16px;
    }

    .card-context {
        font-family: $title-font;
        font-weight: bold;
        font-style: normal;
        color: $primary-light-color;
        font-size: 14px;
    }

    &.width-c {
        padding: 30px;
    }
    &.width-c .title {
        font-size: 23px;
    }

    &.width-c.height-d,
    &.width-d {
        padding: 30px;
    }
    &.width-c.height-d .title,
    &.width-d .title {
        font-size: 27px;
    }

    &.height-d,
    &.width-e,
    &.width-f.height-c {
        padding: 40px;
    }
    &.width-d.height-d .title,
    &.width-e .title,
    &.width-f.height-c .title {
        font-size: 37px;
    }

    &.width-e.height-d,
    &.width-e.height-e,
    &.width-f,
    &.width-g,
    &.width-h {
        padding: 50px;
    }
    &.width-e.height-d .title,
    &.width-e.height-e .title,
    &.width-f .title,
    &.width-g .title,
    &.width-h .title {
        font-size: 49px;
    }

    &.highlighted {
        background-color: #18264a;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);

        .title {
            color: white;
        }
    }
}
