.CardThumb {
    background-color: white;
    box-shadow: 0px 2px 3px transparentize(black, 1 - 0.40);
    border-color: transparent;  /* used for the triangle in the corner */

    &__title {
        font-family: $title-font;
        font-weight: bold;
        color: $primary-medium-color;
        font-size: 18px;
        transition: font-size 300ms ease-in-out;
    }

    &__context {
        font-family: $context-font;
        font-weight: bold;
        font-style: normal;
        color: $primary-light-color;
        font-size: 14px;
        margin-top: 20px;
    }

    &__synopsis {
        font-size: 16px;
    }

    &__contentFrame {
        transition: padding 300ms ease-in-out;
    }

    &.width-c &__title,
    &.width-d.height-c &__title,
    &.width-d.height-b &__title {
        font-size: 18px;
    }

    &.width-d.height-d &__title,
    &.width-e.height-b &__title,
    &.width-e.height-c &__title {
        font-size: 24px;
    }

    &.width-e.height-d &__title {
        font-size: 30px;
    }

    &.width-d &__title,
    &.width-e &__title,
    &.width-f &__title,
    &.width-g &__title,
    &.width-h &__title {
        font-size: 36.8px;
    }
    

    &.width-d.height-d &__contentFrame,
    &.width-d.height-e &__contentFrame,
    &.width-e &__contentFrame,
    &.width-f.height-e &__contentFrame {
        padding: 30px;
    }

    &.width-f &__contentFrame,
    &.width-g &__contentFrame,
    &.width-h &__contentFrame {
        padding: 40px;
    }

    .composite &__context {
        color: gray;
    }

    &--pdf &__thumbnail {
        background-image: url('resource:///com/endlessm/knowledge/data/images/pdf_icon.png');
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-size: 50px;
    }
}
