.CardThumb {
    background-color: white;
    box-shadow: 0px 5px 10px 0px transparentize(black, 1 - 0.22);
    border-color: transparent;  /* used for the triangle in the corner */

    .text-layout {
        padding: 20px;
    }

    &__title {
        font-family: $title-font;
        font-weight: bold;
        color: $primary-medium-color;
        font-size: 18px;
    }

    &__context {
        font-family: $context-font;
        font-weight: bold;
        font-style: normal;
        color: $primary-light-color;
        font-size: 14px;
        border: none;
        outline: none;
    }

    .composite &__context {
        color: gray;
    }

    &--pdf &__thumbnail {
        background-image: url('resource:///com/endlessm/knowledge/data/images/pdf_icon.png');
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-size: 50px;
    }

    &.good-image {
        .CardThumb__title {
            color: white;
        }
        .text-layout {
            background-image: linear-gradient(to top, black 0%, transparentize(black, 1 - 0.69) 15%, transparentize(black, 1 - 0.5) 25%, transparentize(black, 1) 40%);
            min-height: 50px;  /* 90px, compensated for 20px padding */
        }
    }
}
