.CardThumb {
    background-color: white;
    box-shadow: 0px 5px 10px 0px transparentize(black, 1 - 0.22);
    border-color: transparent;  /* used for the triangle in the corner */

    &__title {
        font-family: $title-font;
        font-weight: bold;
        color: $primary-medium-color;
        font-size: 18px;
    }

    &__context {
        font-family: $context-font;
        font-weight: bold;
        font-style: normal;
        color: $primary-light-color;
        font-size: 14px;
    }

    &.width-d.height-b &__contentFrame,
    &.width-e.height-b &__contentFrame,
    &.width-e.height-c &__contentFrame {
        padding: 20px 30px 20px 30px;
    }

    .composite &__context {
        color: gray;
    }

    &--pdf &__thumbnail {
        background-image: url('resource:///com/endlessm/knowledge/data/images/pdf_icon.png');
        background-repeat: no-repeat;
        background-position: 20px 20px;
        background-size: 50px;
    }
}
