/* Copyright 2016 Endless Mobile, Inc. */

.PagerParallaxBackground {
    &--parallax {
        transition: background-position 0.5s ease, background-image 0.5s ease;

        &.PagerParallaxBackground--left {
            background-position: 0% 50%;
        }

        &.PagerParallaxBackground--center {
            background-position: 50% 50%;
        }

        &.PagerParallaxBackground--right {
            background-position: 100% 50%;
        }
    }
}
