Source: eos-knowledge-lib
Priority: standard
Maintainer: Philip Chimento <philip@endlessm.com>
Build-Depends: autoconf-archive,
               autotools-dev,
               debhelper (>= 8.0.0),
               eos-node-modules-dev (>= 1.0.0),
               eos-sdk-0-dev,
               gir1.2-appstream-1.0,
               gir1.2-eosmetrics-0,
               gir1.2-emeus-1.0,
               gir1.2-endless-0,
               gir1.2-eos-shard-0,
               gir1.2-evince-3.0,
               gir1.2-gdkpixbuf-2.0,
               gir1.2-glib-2.0,
               gir1.2-gtk-3.0 (>= 3.22),
               gir1.2-rsvg-2.0,
               gir1.2-webkit2-4.0,
               gjs,
               gobject-introspection,
               gstreamer1.0-plugins-bad,
               gstreamer1.0-plugins-base,
               gstreamer1.0-plugins-good,
               gstreamer1.0-pulseaudio,
               gstreamer1.0-tools,
               gtk-doc-tools,
               jasmine-gjs (>= 2.2.0),
               libeos-shard-0-dev (>= 0.1.2),
               libevince-dev,
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.38),
               libgtk-3-dev,
               libgstreamer1.0-dev (>= 1.10.0),
               libgstreamer-plugins-base1.0-dev (>= 1.10.0),
               libjs-mathjax (>= 2.2),
               libwebkit2gtk-4.0-dev,
               libxapian-glib-1.0-dev,
               pkg-config,
               python-lcov-cobertura (>= 1.5),
               python3-hotdoc (>= 0.8.91),
               python3-hotdoc-modular-framework,
               python3-polib,
               python3-yaml,
               sassc
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: eos-knowledge-0
Section: non-free/libs
Architecture: any
Multi-Arch: same
Depends: gjs,
         libjs-mathjax (>= 2.2),
         gir1.2-appstream-1.0,
         gir1.2-endless-0,
         gir1.2-emeus-1.0,
         gir1.2-eosmetrics-0,
         gir1.2-eosknowledgecontent-0,
         gir1.2-eos-shard-0,
         gir1.2-evince-3.0,
         gir1.2-gdkpixbuf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0 (>= 3.22),
         gir1.2-rsvg-2.0,
         gir1.2-webkit2-4.0,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-bad,
         xapian-bridge,
         ${misc:Depends}
Replaces: libeosknowledge-0-0,
          libeosknowledge-0-dev,
          gir1.2-eosknowledge-0,
          eos-encyclopedia
Provides: libeosknowledge-0-0,
          libeosknowledge-0-dev,
          gir1.2-eosknowledge-0,
          eos-encyclopedia
Conflicts: libeosknowledge-0-0,
           libeosknowledge-0-dev,
           gir1.2-eosknowledge-0,
           eos-encyclopedia
Description: EndlessOS Knowledge Library
 The app runtime for all knowledge app bundles in EndlessOS.

Package: eos-knowledge-0-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: eos-knowledge-0 (= ${binary:Version}),
         ${misc:Depends}
Description: EndlessOS Knowledge Library Debug package
 Debug symbols for the various C libraries used in eos-knowledge-lib.
 Install if you want to debug in gdb.

Package: eos-knowledge-0-bin
Section: non-free/utils
Architecture: any
Multi-Arch: same
Depends: eos-knowledge-0 (= ${binary:Version}),
         ${misc:Depends}
Description: EndlessOS Knowledge Library Tools package

Package: eos-knowledge-0-dev
Section: non-free/libdevel
Architecture: any
Multi-Arch: same
Depends: eos-knowledge-0 (= ${binary:Version}),
         python3,
         python3-polib,
         python3-yaml,
         libglib2.0-bin,
         pkg-config,
         sassc,
         ${misc:Depends}
Description: EndlessOS Knowledge Library Devel package

Package: libeos-knowledge-content-0-0
Section: non-free/libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libglib2.0-bin,
         libeos-shard-0-0 (>= 0.1.2),
         gvfs
Description: Endless Knowledge Content library
 A library for serving up knowledge application offline content.

Package: libeos-knowledge-content-0-dbg
Section: non-free/debug
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         libeos-knowledge-content-0-0 (= ${binary:Version})
Description: Endless Knowledge Content library debugging symbols
 Debugging symbols for the Endless Knowledge Content library

Package: libeos-knowledge-content-0-dev
Section: non-free/libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         libeos-shard-0-dev,
         libglib2.0-dev,
         libeos-knowledge-content-0-0 (= ${binary:Version})
Description: Endless Knowledge Content development files
 Package config and headers for the Endless Knowledge Content library

Package: libeos-knowledge-content-0-doc
Section: non-free/doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: devhelp
Description: Endless Knowledge Content library documentation
 HTML documentation for the Endless Knowledge Content library

Package: gir1.2-eosknowledgecontent-0
Section: non-free/introspection
Architecture: any
Multi-Arch: same
Depends: ${gir:Depends},
         ${misc:Depends},
         gir1.2-glib-2.0,
         gir1.2-eos-shard-0,
         libeos-knowledge-content-0-0 (= ${binary:Version})
Description: Endless Knowledge Content introspection files
  Files needed to use the Endless Knowledge Content library through
  introspection
