.WindowSimple {
    background-size: cover;
    background-image: url($primary-background-image);

    scrollbar {
        padding: 3px;
        background-color: transparentize(black, 1 - 0.20);

        slider {
            min-width: 8px;
            background-color: transparentize(white, 1 - 0.50);
            border-radius: 20px;
        }
    }
}
