$piano-arrangement-spacing: 10px;

.ArrangementPiano {
    margin: $piano-arrangement-spacing * -1;

    .Card {
        margin: $piano-arrangement-spacing;
    }

    .Card:first-child .Card__context {
       font-size: 1.5em;
    }
}
