.ArrangementSideBySide {
    .CardTitle {
        padding: .2em 1em;

        &__title {
            font-family: $title-font;
            font-weight: bold;
            color: transparentize(white, 1 - 0.60);
            font-size: 18px;
        }

        &:hover .CardTitle__title {
            color: $accent-light-color;
        }

        &.highlighted,
        &:active {
            background-color: darken($primary-dark-color, 5%);

            .CardTitle__title {
                color: white;
            }
        }
    }
    &__popover {
        background-color: $primary-medium-color;
        box-shadow: 2px 2px 6px black;
        color: transparentize(white, 1 - 0.60);
        padding: .5em 0em;
        min-width: 10em;
    }
}
