.ArrangementSideBySide {
    .CardTitle {
        &__title {
            font-family: $title-font;
            color: $white-60-color;
            padding: 13px 0px 3px 0px;
            font-size: 18px;
        }

        &:hover .CardTitle__title {
            border-bottom: 1px solid $accent-light-color;
            color: $accent-light-color;
        }

        &.highlighted {
            background-color: $primary-dark-color;

            .CardTitle__title {
                color: white;
            }

            &:hover .CardTitle__title {
                border-bottom: none;
            }
        }
    }
}
