.ArrangementSideBySide {
    .CardTitle__title,
    &__dropdown_button {
        font-family: $title-font;
        color: transparentize(white, 1 - 0.60);
        font-size: 18px;
    }

    .CardTitle__title {
        font-weight: bold;
    }

    .CardTitle,
    &__dropdown_button {
        &:hover .CardTitle__title,
        &:hover {
            color: $accent-light-color;
        }

        &.highlighted,
        &:active {
            .CardTitle__title,
            .ArrangementSideBySide__dropdown_button {
                color: white;
            }
        }
    }

    .CardTitle.highlighted,
    .CardTitle:active {
        background-color: darken($primary-dark-color, 5%);
    }

    .CardTitle {
        padding: .2em 2em;
    }

    &__dropdown_button {
        font-size: 1.7em;
        padding-left: .5em;
    }

    &__dropdown_menu {
        background-color: $primary-dark-color;
        box-shadow: 0px 0px 5px 0px transparentize(black, 1 - 0.60);
        min-width: 10em;
        .CardTitle {
            padding: 1em 2em;
        }
    }
}
