$windshield-arrangement-spacing: 10px;

.ArrangementWindshield {
    margin: $windshield-arrangement-spacing * -1;

    .Card {
        margin: $windshield-arrangement-spacing;
    }

    .Card:first-child .Card__context {
       font-size: 1.5em;
    }
}
