.card {
    border-radius: 5px;
    padding: 10px;
    color: orange;
    background-color: white;
    transition:color 250ms ease-in-out;
    transition:background-color 250ms ease-in-out;
}

.card:hover {
    color: white;
    background-color: orange;
}

.card .title {
    font-size: 2em;
}

.card .subtitle {
    font-size: 1em;
}

.card .thumbnail {
    padding-top: 100px; /* thumbnail width */
    padding-left: 150px; /* thumbnail height */
    background-size: cover;
    border-width: 0px;
}

.card .FIXME-private-banner,
.card .FIXME-private-progress.trough {
    color: white;
    border: solid 1px shade(#2e3436, 0.8);
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
        shade(#2e3436, 0.9),
        shade(#2e3436, 1.1));
}

.card .FIXME-private-index {
    padding: 0 5px;
}

.card .FIXME-private-checkmark {
    padding-right: 5px;
}

.card .FIXME-private-banner:hover,
.card .FIXME-private-progress.trough:hover {
    border-color: shade(darker(orange), 0.8);
    background-image: linear-gradient(to bottom,
        shade(darker(orange), 0.9),
        shade(darker(orange), 1.1));
}

.card.complete .FIXME-private-index {
    color: #d3d7cf;
}

.card .FIXME-private-progress {
    color: #ce5c00;
    border: solid 1px shade(orange, 0.8);
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
        shade(orange, 1.1),
        shade(orange, 0.9));
}

.card .FIXME-private-progress:hover {
    border-color: shade(lighter(orange), 0.8);
    background-image: linear-gradient(to bottom,
        shade(lighter(orange), 1.1),
        shade(lighter(orange), 0.9));
}

.lightbox-shadow {
    background-color: alpha(black, 0.5);
}

.infobox {
    padding: 10px 50px 0px 50px;
    border-radius: 10px 10px 0px 0px;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: black;
    background-color: #333333;
    font-size: 20px;
    color: white;
    transition: background-color, padding 250ms ease-in-out;
}

.infobox:hover {
    padding: 13px 53px 0px 53px;
    background-color: #383838;
}

.infobox-arrow {
    padding-bottom: 7px;
}

.toc-entry {
    color: white;
    font-size: 1.5em;
    background-color: transparent;
    transition: background-color 150ms ease-in-out;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}

.toc-entry:hover {
    background-color: alpha(white, 0.05);
}

.toc-entry:selected {
    background-color: alpha(white, 0.25);
}
