/* Copyright 2014 Endless Mobile, Inc. */

EosWindow {
    background-color: #efefef;
}

.progress-label {
    font-size: 1.2em;
    color: #494949;
    padding-top: 10px;
    padding-bottom: 20px;
}

.separator {
    border: 1px solid;
    color: alpha(black, 0.1);
}

.article-snippet .title {
    font-size: 2.0em; /* should be overridden */
}

.article-snippet .synopsis {
    padding-top: 10px;
    color: #f2f2f2;
    font-size: 1em; /* 16px / 12px/em * 72/96 */
}

/* These individual snippet stylings will be
overridden by app specific CSS */
.snippet0 .title {
    color: #ef2929;
}

.snippet1 .title {
    color: #8ae234;
}

.snippet2 .title {
    color: #729fcf;
}

.overview-page, .done-page {
    background-size: cover;
    background-position: center;
}

.overview-page {
    padding: 100px;
}

.done-page .headline {
    font-size: 2em;
    color: #fce94f;
    padding-bottom: 25px;
}

.done-page .bottom-line {
    padding-top: 3px;
    font-size: 1em; /* 16px / 12px/em * 72/96 */
    color: #eeeeec;
}

.done-page .progress-label {
    color: white;
}

.error-page {
    color: black;
}

.article-page-title {
    font-size: 4em;
}

.article-page-attribution {
    font-size: 0.75em;
}

.article-page0 .article-page-title {
    color: #ef2929;
}

.article-page0 .article-page-attribution {
    color: #a40000;
}

.article-page1 .article-page-title {
    color: #8ae234;
}

.article-page1 .article-page-attribution {
    color: #4e9a06;
}

.article-page2 .article-page-title {
    color: #729fcf;
}

.article-page2 .article-page-attribution {
    color: #204a87;
}

.article-page-ornament {
    background-color: #e3e3e3;
}

.nav-back-button, .nav-forward-button {
    color: white;
    background-color: black;
    opacity: 0.3;
    padding: 16px; /* (55px (button width) - 23px (icon width)) / 2 */
    transition: padding 500ms ease-in-out;
}

.nav-back-button GtkImage, .nav-forward-button GtkImage {
    color: white;
}

.nav-back-button {
    border-left: 0px;
    border-radius: 0px 6px 6px 0px;
}

.nav-forward-button {
    border-radius: 6px 0px 0px 6px;
    border-right: 0px;
}

.nav-back-button:hover {
    padding-left: 24px;
}

.nav-forward-button:hover {
    padding-right: 24px;
}

.overview-page .scrollbar.trough {
    background-color: alpha(black, 0.5);
}

.overview-page .scrollbar.slider {
    background-color: #888888;
}

.open-button {
    padding: 10px;
    color: black;
    background-color: #666666;
    border-radius: 30px;
    border: 7px solid;
    border-color: rgba(0, 0, 0, 0.3);
}

.reader-card {
    background-color: #f4f4f4;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: -gtk-gradient(radial,
               center center, 0,
               center center, 1,
               from(#ccc), to(alpha(white, 0.1))) 20 20 20 20 round stretch;
    margin: 7px;
    transition: margin 250ms ease-in-out;
}

.reader-card .title {
    padding: 4px 0px 4px 0px;
    text-shadow: 0px 1px 0px white;
    transition: padding 250ms ease-in-out;
}

.reader-card .reader-attribution {
    font-family: Roboto;
    font-size: 0.6em;
}

.reader-card0 .title {
    color: #ff82d4;
    font-family: Roboto;
    font-size: 1.5em; /* 24px / 12px/em * 72/96 */
    font-style: italic;
    font-weight: 300; /* Light */
}

.reader-card1 .title {
    color: #00bcb5;
    font-family: Montserrat, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.reader-card2 .title {
    background: #ff82d4;
    color: #313131;
    font-family: Roboto;
    font-size: 1.5em; /* 24px / 12px/em * 72/96 */
    font-weight: 800; /* black */
}

.reader-card0 .reader-attribution {
    color: #00bcb5;
    font-weight: 800; /* black */
}

.reader-card1 .reader-attribution {
    color: #e0b929;
}

.reader-card2 .reader-attribution {
    color: #f393b7;
}

.hover-frame {
    background-color: alpha(#d7d7d7, 0.9);
}

.card-info-frame {
    background-color: alpha(black, 0.4);
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
}

.card-info-title {
    color: white;
    font-family: Lato;
    font-size: 1.0em; /* 16px / 12px/em * 72/96 */
    font-weight: 300; /* Light */
}
