/* Copyright 2014 Endless Mobile, Inc. */

EosWindow {
    background-color: #efefef;
}

.progress-label {
    font-size: 1.2em;
    color: #494949;
    padding-top: 10px;
    padding-bottom: 20px;
}

.separator {
    border: 1px solid;
    color: alpha(black, 0.1);
}

.article-snippet .title {
    font-size: 2.0em; /* should be overridden */
}

.article-snippet .synopsis {
    padding-top: 10px;
    color: #f2f2f2;
    font-size: 1em; /* 16px / 12px/em * 72/96 */
}

/* These individual snippet stylings will be
overridden by app specific CSS */
.snippet0 .title {
    color: #ef2929;
}

.snippet1 .title {
    color: #8ae234;
}

.snippet2 .title {
    color: #729fcf;
}

.overview-page, .done-page {
    background-size: cover;
    background-position: center;
}

.overview-page {
    padding: 100px;
}

.done-page .headline {
    font-size: 2em;
    color: #fce94f;
    padding-bottom: 25px;
}

.done-page .bottom-line {
    padding-top: 3px;
    font-size: 1em; /* 16px / 12px/em * 72/96 */
    color: #eeeeec;
}

.done-page .progress-label {
    color: white;
}

.error-page {
    color: black;
}

.article-page-title {
    font-size: 4em;
}

.article-page-attribution {
    font-size: 0.75em;
}

.article-page0 .article-page-title {
    color: #ef2929;
}

.article-page0 .article-page-attribution {
    color: #a40000;
}

.article-page1 .article-page-title {
    color: #8ae234;
}

.article-page1 .article-page-attribution {
    color: #4e9a06;
}

.article-page2 .article-page-title {
    color: #729fcf;
}

.article-page2 .article-page-attribution {
    color: #204a87;
}

.article-page-ornament {
    background-color: #e3e3e3;
}

.nav-back-button, .nav-forward-button {
    color: white;
    background-color: black;
    opacity: 0.3;
    transition: padding 500ms ease-in-out;
}

.nav-back-button GtkImage, .nav-forward-button GtkImage {
    color: white;
}

.nav-back-button {
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
    padding: 17px;
}

.nav-forward-button {
    border-radius: 4px 0px 0px 4px;
    border-right: 0px;
    padding: 17px;
}

.nav-back-button:hover {
    padding-left: 24px;
}

.nav-forward-button:hover {
    padding-right: 24px;
}

.overview-page .scrollbar.trough {
    background-color: alpha(black, 0.5);
}

.overview-page .scrollbar.slider {
    background-color: #888888;
}
