/* Copyright 2014 Endless Mobile, Inc. */

EosWindow {
    background-color: #888888;
}

.progress-label {
    font-size: 1.2em;
    color: #444444;
    padding: 5px;
}

.last-page .progress-label {
    border-radius: 5px;
    background-color: red;
    color: white;
}

.done-page .headline {
    color: yellow;
    font-style: italic;
    font-size: 2.5em;
}

.done-page .bottom-line {
    padding-top: 3px;
    color: white;
}

.done-page .progress-label {
    color: white;
}

.article-page-title {
    font-size: 5em;
    color: #333333;
    padding-left: 50px;
    padding-right: 50px;
}

.article-page-attribution {
    font-size: 1.5em;
    color: #ec317a;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-back-button, .nav-forward-button {
    color: white;
    background-color: alpha(black, 0.2);
    transition: padding 500ms ease-in-out;
}

.nav-back-button GtkImage, .nav-forward-button GtkImage {
    color: white;
}

.nav-back-button {
    border-left: 0px;
    border-radius: 0px 8px 8px 0px;
    padding: 17px;
}

.nav-forward-button {
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
    padding: 17px;
}

.nav-back-button:hover {
    padding-left: 24px;
}

.nav-forward-button:hover {
    padding-right: 24px;
}
