EosWindow {
    /* Changed color here so scrollbars are visible. Only affects smoke tests all
     * apps have image backgrounds.*/
    background-color: #888888;
}

.card .thumbnail {
    background-position: center;
    background-size: cover;
    border-width: 0px;
}

EknWindowA {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    transition: background 0.5s ease-in-out;
}

EknWindowA.show-home-page {
    background-position: 0% 50%;
}

EknWindowA.show-categories-page {
    background-position: 0% 50%;
}

EknWindowA.show-section-page {
    background-position: 50% 50%;
}

EknWindowA.show-article-page {
    background-position: 100% 50%;
}

.card-a {
    padding: 10px 10px 0px 10px;
    margin: 7px;
    background-color: #ececec;
    transition: margin 250ms ease-in-out;
}

.card-a:hover {
    margin: 3px;
}

.card-a .card-title {
    padding: 17px 0px 17px 0px;
    color: #d16550;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;  /* 12pt at 72 DPI 1080px */
    font-weight: bold;
    text-shadow: white 0px 1px 0px;
    transition: padding 250ms ease-in-out;
}

.text-card {
    font-size: 1.2em;
    font-weight: bold;
    color: #eeccf8;
    padding: 10px;
    background-color: alpha(#eae7e9, 0);
    transition: color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
}

.text-card:hover {
    color: #d64970;
    background-color: #eae7e9;
}

.text-card .card-title {
    padding-left: 1.5em;
}

.card-a .card-title:hover,
.card-a .card-synopsis:hover {
    /* Add as much padding here as we take out of the card margin, so we don't make
     * more space for the label. Having more letters pop in is distracting. */
    padding-left: 4px;
    padding-right: 4px;
}

.card-a .card-synopsis {
    padding: 4px 0px 4px 0px;
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-shadow: white 0px 1px 0px;
    transition: padding 250ms ease-in-out;
}

.card-a .FIXME-private-banner,
.card-a .FIXME-private-progress.trough {
    color: white;
    border: solid 1px shade(#2e3436, 0.8);
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
        shade(#2e3436, 0.9),
        shade(#2e3436, 1.1));
}

.card-a .FIXME-private-index {
    padding: 0 5px;
}

.card-a .FIXME-private-checkmark {
    padding-right: 5px;
}

.card-a .FIXME-private-banner:hover,
.card-a .FIXME-private-progress.trough:hover {
    border-color: shade(darker(orange), 0.8);
    background-image: linear-gradient(to bottom,
        shade(darker(orange), 0.9),
        shade(darker(orange), 1.1));
}

.card-a.complete .FIXME-private-index {
    color: #d3d7cf;
}

.card-a .FIXME-private-progress {
    color: #ce5c00;
    border: solid 1px shade(orange, 0.8);
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
        shade(orange, 1.1),
        shade(orange, 0.9));
}

.card-a .FIXME-private-progress:hover {
    border-color: shade(lighter(orange), 0.8);
    background-image: linear-gradient(to bottom,
        shade(lighter(orange), 1.1),
        shade(lighter(orange), 0.9));
}

@define-color card-b-border-color alpha(black, 0.7);
@define-color card-b-border-color-hover #d2d2d2;

.card-b {
    border-style: solid;
    border-width: 6px;
    border-color: @card-b-border-color;
    transition: border-color 250ms ease-in-out;
}

.card-b:hover {
    border-color: @card-b-border-color-hover;
}

.card-b .card-title {
    color: #eeccf8;
    font-size: 1.5em;
    padding: 1em 0em;
    background-color: @card-b-border-color;
    transition: color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
}

.card-b .card-title:hover {
    color: #d64970;
    background-color: @card-b-border-color-hover;
}

.lightbox-shadow {
    background-color: alpha(black, 0.5);
}

.infobox {
    padding: 10px 50px 0px 50px;
    border-radius: 10px 10px 0px 0px;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: black;
    background-color: #333333;
    transition: background-color, padding 250ms ease-in-out;
}

.infobox:hover {
    padding: 13px 53px 0px 53px;
    background-color: #383838;
}

.infobox-arrow {
    padding-bottom: 7px;
}

.infobox-caption {
    font-size: 20px;
    color: white;
}

.infobox-license-text {
    font-size: 15px;
    color: lightgray;
}

.infobox-creator-text {
    font-size: 15px;
    color: lightgray;
}

/* ===== Table of contents styling ===== */
.toc-entry {
    color: rgb(204, 204, 204);
    font-family: Lato;
    font-weight: 900;  /* Black */
    font-size: .79em;  /* 9pt at 72 DPI 1080px */
    background-color: transparent;
    transition: background-color 150ms ease-in-out;
    border-radius: 1.75em;
    padding: .75em 0em .75em 0em;
    margin-bottom: .4em;
}

.toc-entry-title {
    padding-left: 1.5em;
}

.toc-entry-index {
    padding: 0em 2em 0em 2em;
}

.toc-entry:hover,
.toc-entry:selected {
    color: white;
}

.toc-entry:selected {
    background-color: alpha(white, 0.247);
}

/* Table of contents up and down buttons */
.toc-arrow {
    color: rgb(204, 204, 204);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: alpha(black, 0.3);
    padding: 5px;
    box-shadow: inset 0px 1px 0px alpha(white, 0.3);
}

.toc-arrow:hover {
    color: white;
    border-color: alpha(black, 0.4);
    box-shadow: inset 0px 1px 0px alpha(white, 0.4);
}

.toc-arrow:insensitive {
    color: alpha(rgb(204, 204, 204), 0.3);
    border-color: alpha(black, 0.15);
    box-shadow: inset 0px 1px 0px alpha(white, 0.15);
}

/* Style table of contents when collapsed without section titles */
.toc.collapsed .toc-entry {
    border-radius: 1.75em 0em 0em 1.75em;
}

.toc.collapsed .toc-entry-index {
    padding-left: 0em;
    padding-right: 0em;
}

@define-color tab-button-background #F16E47;
@define-color tab-button-gradient-light @tab-button-background;
@define-color tab-button-gradient-dark mix (@tab-button-background, black, .35);
@define-color tab-button-gradient-active-light @tab-button-gradient-light;
@define-color tab-button-gradient-active-dark @tab-button-gradient-dark;
@define-color tab-button-gradient-hover-light mix (@tab-button-background, black, .05);
@define-color tab-button-gradient-hover-dark mix (@tab-button-background, black, .5);

.tab-button {
    padding-right: 1.9em;
    padding-left: 2.4em;
    padding-top: 0.9em;
    padding-bottom: 0.7em;
    border-style: solid;
    -GtkButton-image-spacing: 15px;
    font-weight: bold;
    font-size: 1.23em;  /* 14pt at 72 DPI 1080px */
    background: linear-gradient(to bottom,
                                @tab-button-gradient-light,
                                @tab-button-gradient-dark);
}

.tab-button:hover {
    background: linear-gradient(to bottom,
                                @tab-button-gradient-hover-light,
                                @tab-button-gradient-hover-dark);
}

.tab-button:active {
    background: linear-gradient(to bottom,
                                @tab-button-gradient-active-dark,
                                @tab-button-gradient-active-light);
}

.tab-button.bottom {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}


.tab-button.top {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.home-page-a .search-box, .home-page-b .search-box {
    box-shadow: inset 0em 0.16em 0.16em alpha(black, 0.14);
    background-image: linear-gradient(-179deg, alpha(black, 0.17) 0%,
                                               alpha(white, 0.13) 79%),
                      linear-gradient(to bottom, white, white);
    background-clip: padding-box;
    padding: 0.75em 0.55em 0.75em 0.55em;
    color: #2e3436;
    font-size: 1em;

    -GtkWidget-focus-line-width: 0;
    border-style: solid;
    border-radius: 10em;

    border-width: .33em;
    border-color: alpha(black, 0.19);
}

.home-page-a .search-box:selected, .home-page-b .search-box:selected {
    background-color: lighter(#2e3436);
    color: #eeeeec;
}

.home-page-a .search-box.image, .home-page-b .search-box.image {
    color: #919191;
}

.home-page-a GtkSeparator {
    border-style: solid;
    border-width: 3px;
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-height: 3;
}

.home-page-b .card-container {
    background-color: black;
}

.section-page-title {
    font-family: Montserrat;
    font-weight: bold;
}

.section-page-a .section-page-title {
    padding-top: 1.0em;
    padding-bottom: 0.48em;
    font-size: 2.11em;  /* 24pt at 72 DPI 1080px */
}

.section-page-a GtkSeparator {
    color: rgba(255, 255, 255, 0.3);
}

.section-page-b .section-page-title {
    font-size: 4em;
    padding: 1em 1.5em;
    font-weight: bold;
}

.section-page-b GtkScrolledWindow {
    background-color: alpha(black, 0.5);
}

.section-page-a-segment-title {
    padding-top: 0.2em;
    color: white;
    font-size: 1.76em;  /* 20pt at 72 DPI 1080px */
    padding-left: 4em;
    /* TODO: light font weight matches the specs, but looks way to thin in practice.
       Think there's some difference between how lato renders in web vs gtk or
       something. */
    /*font-weight: 300;*/
}

.scrollbar {
    -GtkRange-trough-border: 4px;
    -GtkRange-slider-width: 5px;
}

.scrollbar.slider {
    background-color: #333333;
}

.article-page-switcher-frame {
    padding: 20px 0px;
}

.article-page-switcher-frame.no-margins {
    padding: 0px;
}

.article-page-title {
    font-family: Montserrat;
    font-size: 1.58em;  /* 18pt at 72 DPI 1080px */
    font-weight: bold;
}

.section-page-back-button {
    color: alpha(white, 0.75);
    background-color: alpha(black, 0.12);
    border-top: 1px solid alpha(white, 0.2);
    border-bottom: 1px solid alpha(white, 0.2);
    border-right: 1px solid alpha(white, 0.2);
    border-left: 0px;
    border-radius: 0px 27px 27px 0px;
    box-shadow: inset 0px 1px 2px alpha(black, 0.1);
    padding: 15px 15px 15px 0px;
    transition: padding 500ms ease-in-out;
}

.section-page-back-button:hover {
    padding-left: 15px;
}

.topbar-back-button,
.topbar-forward-button {
    padding: 3px;
}

.lightbox-navigation-button {
    padding: 7px;
    border: 0px;
    border-radius: 27px;
    background-color: alpha(#888a85, 0.5);
}

.lightbox-navigation-button:hover {
    background-color: alpha(#888a85, 0.8);
}

.animating-video-frame {
    background-color: black;
}

.video-player-scale {
    -GtkRange-slider-width: 18px;
    -GtkRange-trough-border: 2px;
    -GtkScale-slider-length: 18px;
}

.video-player-scale.slider {
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    background-color: white;
}

.video-player-scale.trough {
    border-radius: 3px;
    margin: 8px 0;
    background-color: white;
}
