.NavigationSearchBox {
    font-family: $context-font;
    font-weight: normal;

    .PagerSimple & {
        box-shadow: inset 0em 0.16em 0.16em transparentize(black, 1 - 0.14);
        background-image: linear-gradient(-179deg, transparentize(black, 1 - 0.17) 0%,
                                                   transparentize(white, 1 - 0.13) 79%),
                          linear-gradient(to bottom, white, white);
        background-clip: padding-box;
        padding: 0.75em 0.55em 0.75em 0.55em;
        color: transparentize(black, 1 - 0.80);
        caret-color: transparentize(black, 1 - 0.80);
        font-size: 16px;

        border-style: solid;
        border-radius: 10em;

        border-width: .33em;
        border-color: transparentize(black, 1 - 0.20);

        min-width: 400px;

        selection {
            color: white;
            background-color: $primary-dark-color;
        }

        &:focus {
            box-shadow: inset 0px 0px 3px 2px #5097D1;
        }

        image {
            color: transparentize(black, 1 - 0.40);
            margin: 3px 7px 3px 5px;
        }
    }

    .composite .PagerSimple & {
        font-size: 20px;
    }

    frame {
       background-color: white;
       padding: 0;
       border-radius: 0px;
    }

    .view {
        padding: 10px;
        .cell {
            color: transparentize(black, 1 - 0.80);
            border-bottom: 1px solid transparentize(black, 1 - 0.10);

            &:selected {
                background-color: transparentize(black, 1 - 0.10);
                border: none;
            }
        }

        &:nth-child(2) {
            font-weight: bold;
            .cell {
                color: $accent-dark-color;
            }
        }
    }
}
