.NavigationSearchBox {
    .PagerSimple & {
        box-shadow: inset 0em 0.16em 0.16em transparentize(black, 1 - 0.14);
        background-image: linear-gradient(-179deg, transparentize(black, 1 - 0.17) 0%,
                                                   transparentize(white, 1 - 0.13) 79%),
                          linear-gradient(to bottom, white, white);
        background-clip: padding-box;
        padding: 0.75em 0.55em 0.75em 0.55em;
        color: $primary-dark-color;
        caret-color: $primary-dark-color;
        font-size: 16px;

        border-style: solid;
        border-radius: 10em;

        border-width: .33em;
        border-color: transparentize(black, 1 - 0.19);

        min-width: 400px;

        selection {
            color: white;
            background-color: $primary-dark-color;
        }

        &:selected {
            background-color: lighter($primary-dark-color);
            color: #eeeeec;
        }

        &:focus {
            box-shadow: inset 0px 0px 3px 2px #5097D1;
        }

        image {
            color: #919191;
            margin: 3px 5px;
        }
    }

    .composite .PagerSimple & {
        font-size: 18.8px;  /* 16px spec * 88% */
    }

    font-family: $body-font;

    frame {
       background-color: $background-light-color;
    }

    .view {
        padding: 10px;

        .cell {
            border-color: $background-light-color;
            border-width: 3px;
            border-radius: 2px;
            border-style: solid;
            color: $black-80-color;
            background-color: white;

            &:selected {
                color: $black-60-color;
            }
        }

        &:nth-child(2) {
            .cell {
                color: $accent-light-color;
                border-color: $background-light-color;
                background-color: $background-light-color;

                &:selected {
                    color: $accent-dark-color;
                }
            }
        }
    }
}
