.NavigationSearchBox {
    font-family: $context-font;
    font-weight: normal;

    .PagerSimple & {
        background-color: transparentize(white, 1 - 0.8);
        box-shadow: 0 3px 8px transparentize(black, 1 - 0.72);

        padding: 0.75em 0.55em 0.75em 0.55em;
        color: transparentize(black, 1 - 0.80);
        caret-color: transparentize(black, 1 - 0.80);
        font-size: 16px;

        border-radius: 10em;

        min-width: 400px;

        selection {
            color: white;
            background-color: $primary-dark-color;
        }

        &:hover, &:focus {
            background-color: transparentize(white, 1 - 0.96);
        }

        image {
            color: transparentize(black, 1 - 0.40);
            margin: 3px 7px 3px 5px;
        }
    }

    .composite .PagerSimple & {
        font-size: 20px;
    }

    frame {
        background-color: transparentize(white, 1 - 0.96);
        box-shadow: 0 3px 8px transparentize(black, 1 - 0.72);
    }

    .view {
        padding: 10px;
        .cell {
            color: transparentize(black, 1 - 0.80);
            border-bottom: 1px solid transparentize(black, 1 - 0.10);

            &:selected {
                background-color: transparentize(black, 1 - 0.10);
                border: none;
                border-radius: 3px;
            }
        }

        &:nth-child(2) {
            font-weight: bold;
            .cell {
                color: $accent-dark-color;
            }
        }
    }
}
