$primary-background-image: 'resource:///app/assets/backgroundHome' !default;
$secondary-background-image: 'resource:///app/assets/backgroundSection' !default;
$arrow-recolored-icon: -gtk-recolor(url('resource:///com/endlessm/knowledge/data/images/arrow-symbolic.svg')) !default;
