$primary-background-image: 'resource:///app/assets/backgroundHome' !default;
$secondary-background-image: 'resource:///app/assets/backgroundSection' !default;
$arrow-recolored-icon: -gtk-recolor(image-url('arrow-symbolic.svg')) !default;
