@import 'common';

.WindowApp {
    background-size: cover;

    scrollbar {
        padding: 3px;

        slider {
            min-width: 8px;
            background-color: #9b9b9b;
            border-radius: 20px;
        }
    }
}

.ContentGroupSuggestedCategories {
    separator {
        background-color: #999999;
        min-height: 1px;
        margin: 4px 50px 20px 50px;
    }

    .browse-content:hover {
        .title {
            color: #49bde3;
        }
    }
}

.browse-content {
    padding: 20px 50px 0px 50px;
}

.BannerApp {
    &.brand-page .ThemeableImage {
        -EknThemeableImage-sizing: "size-down";
        min-width: 200px;
        min-height: 200px;
    }

    .composite & {
        font-size: 22.3px;  /* 19px spec * 88% */
    }
}

.LayoutScrolling {
    background-color: #e7ecee;
}

.LayoutInfiniteScrolling {
    background-color: #e7ecee;
}

.ContentGroupSearch {
    background-color: #e7ecee;

    .no-results {
        background-color: white;
    }

    spinner {
        margin: 20px;
    }

    .composite & row {
        padding: 0 40px;
    }
}

.CardSetPreview {
    &:hover .title {
        color: #49bde3;
    }

    .composite & .title {
        font-weight: normal;
    }
}

.CardTitle:hover .title {
    color: #49bde3;
}

/* default size */
.Card {
    font-size: 18.7px;
}

.Card.width-c .title,
.Card.width-d.height-c .title,
.Card.width-d.height-b .title {
    font-size: 21.3px;
}

.Card.width-d.height-d .title,
.Card.width-e.height-b .title,
.Card.width-e.height-c .title {
    font-size: 30.7px;
}

.Card.width-d .title,
.Card.width-e .title,
.Card.width-f .title,
.Card.width-g .title,
.Card.width-h .title {
    font-size: 49.3px;
}

.Card .content-frame {
    padding: 20px;
}

.CardThumb.width-d.height-b .content-frame,
.CardThumb.width-e.height-b .content-frame,
.CardThumb.width-e.height-c .content-frame {
    padding: 20px 30px 20px 30px;
}

.Card.width-e .content-frame,
.Card.width-f .content-frame,
.Card.width-g .content-frame,
.Card.width-h .content-frame {
    padding: 40px;
}

.Card.width-e.height-e .card-context,
.Card.width-f .card-context,
.Card.width-g .card-context,
.Card.width-h .card-context {
    font-size: 18.7px;
}

.CardList {
    margin: 10px 0;
}

.CardList.width-d .title,
.CardList.width-d .card-synopsis {
    font-size: 18.7px;
}

.CardList.width-e .title,
.CardList.width-e .card-synopsis {
    font-size: 18.7px;
}

.CardList.width-f .title,
.CardList.width-f .card-synopsis {
    font-size: 21.3px;
}

.CardList.width-g .title,
.CardList.width-h .title {
    font-size: 29.3px;
}

.CardList.width-g .card-synopsis,
.CardList.width-h .card-synopsis {
    font-size: 24px;
}

.CardList.width-e .content-frame,
.CardList.width-f .content-frame {
    padding: 20px;
}

.CardThumb,
.CardPost,
.CardList {
    background-color: white;
    box-shadow: 0 0 5px transparentize(black, 1 - 0.25);
    border-color: transparent;  /* used for the triangle in the corner */
}

.CardDeck .thumbnail {
    border: 0px solid transparent;  /* used for the triangle in the corner */
    margin: 13px;
}

.CardPost .content-frame {
    background-image: linear-gradient(to top, black 0%, transparentize(black, 1 - 0.69) 30%, transparentize(black, 1 - 0.5) 49%, transparentize(black, 1) 100%);
    min-height: 50px;  /* 90px, compensated for 20px padding */
}

.CardPost.width-e .content-frame,
.CardPost.width-f .content-frame,
.CardPost.width-g .content-frame,
.CardPost.width-h .content-frame {
    min-height: 10px;  /* 90px, compensated for 40px padding */
}

.CardPost.height-e .content-frame {
    min-height: 250px;  /* 290px, compensated for 20px padding */
}

.CardPost.height-e.width-e .content-frame,
.CardPost.height-e.width-f .content-frame,
.CardPost.height-e.width-g .content-frame,
.CardPost.height-e.width-h .content-frame {
    min-height: 210px;  /* 290px, compensated for 40px padding */
}

.CardPost.height-d .content-frame {
    min-height: 150px;  /* 190px, compensated for 20px padding */
}

.CardPost.height-d.width-e .content-frame,
.CardPost.height-d.width-f .content-frame,
.CardPost.height-d.width-g .content-frame,
.CardPost.height-d.width-h .content-frame {
    min-height: 110px;  /* 190px, compensated for 40px padding */
}

.CardPost.height-c .content-frame {
    min-height: 100px;  /* 140px, compensated for 20px padding */
}

.CardPost.height-c.width-e .content-frame,
.CardPost.height-c.width-f .content-frame,
.CardPost.height-c.width-g .content-frame,
.CardPost.height-c.width-h .content-frame {
    min-height: 60px;  /* 140px, compensated for 40px padding */
}

.Card.CardPost .title {
    padding-bottom: 20px;
    color: white;
}

.CardDeck {
    background-image: url('../images/deckbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.CardDeck:active {
    background-size: 98% 98%;
}

.CardDeck .content-frame {
    padding: 20px 0px 20px 0px;
    background-color: transparentize(white, 1 - 0.949);
    min-height: 80px;  /* 120px, compensated for 20px padding */
}

.CardDeck.height-b .content-frame,
.CardDeck.height-a .content-frame {
    min-height: 40px;  /* 80px, compensated for 20px padding */
}

.CardDeck .title {
    font-weight: 300;
}

.card-synopsis {
    color: black;
    font-size: 18.7px;
    padding-top: 30px;
}

.card-context {
    font-size: 16px;
    color: #49bde3;
}

.results-message-title,
.results-message.subtitle {
    color: black;
}

.DocumentCard .CardSequence {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    padding: 15px 30px;
}

.DocumentCard .CardSequence .title {
    font-size: 21.3px;
    font-weight: normal;
    color: #044a80;
}

.DocumentCard .CardSequence .previous-label,
.DocumentCard .CardSequence .next-label {
    font-size: 14.7px;
    color: #49bde3;
}

.DocumentCard .SlidingPanel {
    -EknSlidingPanel-fill-percentage: 0.73;
    -EknSlidingPanel-shadow-margin: 7;
}

.home-button {
    font-weight: bold;
}

.DocumentCard WebKitWebView {
    background-color: white;
}

.webview-tooltip {
    background-color: transparentize(black, 1 - 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;
}

.webview-tooltip GtkLabel {
    color: white;
    font-family: Lato;
    font-size: 1.0em; /* 16px / 12px/em * 72/96 */
    font-weight: bold;
}

.LayoutResponsiveMargins--tiny {
    margin: 0px;
}

.LayoutResponsiveMargins--small {
    margin: 0px 40px;
}

.LayoutResponsiveMargins--medium {
    margin: 0px 62px;
}

.LayoutResponsiveMargins--large {
    margin: 0px 83px;
}

.LayoutResponsiveMargins--xlarge {
    margin: 0px 120px;
}

.ArrangementHalf,
.ArrangementList,
.ArrangementPiano,
.ArrangementScrollingList,
.ArrangementSquareGuys,
.ArrangementThirties,
.ArrangementWindshield {
  margin: -10px;
}

.ArrangementHalf .Card,
.ArrangementList .Card,
.ArrangementPiano .Card,
.ArrangementScrollingList .Card,
.ArrangementSquareGuys .Card,
.ArrangementThirties .Card,
.ArrangementWindshield .Card {
  margin: 10px;
}

.endless-search-box frame {
   background-color: #d5e1ed;
}

.endless-search-box .view .cell {
    border-color: #d5e1ed;
}

.endless-search-box .view .cell:selected {
    background-color: #f5f5f5;
}

.endless-search-box .view:nth-child(2) .cell {
    border-color: #d5e1ed;
    background-color: #d5e1ed;
}

.endless-search-box .view:nth-child(2) .cell:selected {
    background-color: #f5f5f5;
}

/* Changes for composite TVs */

.composite .card-context {
    font-style: normal;
}

.composite .CardThumb .card-context {
    color: gray;
}

.composite .CardList.width-d .title,
.composite .CardList.width-d .card-synopsis,
.composite .CardList.width-e .title,
.composite .CardList.width-e .card-synopsis {
    font-size: 18.8px;  /* 16px spec * 88% because spec was at 110% scale not 125% */
}

.composite .ContentGroupHighlights .CardTitle .title.label,
.composite .ContentGroupThematic .CardTitle .title.label,
.composite .browse-content .title,
.composite .CardDeck .title {
    font-weight: normal;
}
