@import 'common';

EosWindow {
    background-size: cover;
}

EosWindow scrollbar {
    padding: 3px;
}

EosWindow scrollbar slider {
    min-width: 8px;
    background-color: #9b9b9b;
    border-radius: 20px;
}

EknSuggestedCategories separator {
    background-color: #999999;
    min-height: 1px;
    margin: 4px 50px 20px 50px;
}

.browse-content {
    padding: 20px 50px 0px 50px;
}

EknInfiniteScrollingLayout,
EknSearch {
    background-color: #e7ecee;
}

EknSearch .no-results {
    background-color: white;
}

EknSuggestedCategories .browse-content:hover .title,
EknSetPreviewCard:hover .title,
.title-card:hover .title {
    color: #49bde3;
}

/* default size */
.card {
    font-size: 18.7px;
}

.card.width-c .title,
.card.width-d.height-c .title,
.card.width-d.height-b .title {
    font-size: 21.3px;
}

.card.width-d.height-d .title,
.card.width-e.height-b .title,
.card.width-e.height-c .title {
    font-size: 30.7px;
}

.card.width-d .title,
.card.width-e .title,
.card.width-f .title,
.card.width-g .title,
.card.width-h .title {
    font-size: 49.3px;
}

.card .content-frame {
    padding: 20px;
}

.thumb-card.width-d.height-b .content-frame,
.thumb-card.width-e.height-b .content-frame,
.thumb-card.width-e.height-c .content-frame {
    padding: 20px 30px 20px 30px;
}

.card.width-e .content-frame,
.card.width-f .content-frame,
.card.width-g .content-frame,
.card.width-h .content-frame {
    padding: 40px;
}

.card.width-e.height-e .card-context,
.card.width-f .card-context,
.card.width-g .card-context,
.card.width-h .card-context {
    font-size: 18.7px;
}

.list-card {
    margin: 10px 0;
}

.list-card.width-d .title,
.list-card.width-d .card-synopsis {
    font-size: 18.7px;
}

.list-card.width-e .title,
.list-card.width-e .card-synopsis {
    font-size: 18.7px;
}

.list-card.width-f .title,
.list-card.width-f .card-synopsis {
    font-size: 21.3px;
}

.list-card.width-g .title,
.list-card.width-h .title {
    font-size: 29.3px;
}

.list-card.width-g .card-synopsis,
.list-card.width-h .card-synopsis {
    font-size: 24px;
}

.list-card.width-e .content-frame,
.list-card.width-f .content-frame {
    padding: 20px;
}

.thumb-card,
.post-card.article,
.list-card {
    background-color: white;
    box-shadow: 0 0 5px transparentize(black, 1 - 0.25);
    border-color: transparent;  /* used for the triangle in the corner */
}

.post-card.set .thumbnail {
    border: 0px solid transparent;  /* used for the triangle in the corner */
}

.post-card.article .content-frame {
    background-image: linear-gradient(to top, black 0%, transparentize(black, 1 - 0.69) 30%, transparentize(black, 1 - 0.5) 49%, transparentize(black, 1) 100%);
}

.post-card.article .title {
    padding-bottom: 20px;
    color: white;
}

.post-card.set {
    background-image: url('../images/deckbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.post-card.set:active {
    background-size: 98% 98%;
}

.post-card.set .content-frame {
    padding: 20px 0px 20px 0px;
    background-color: transparentize(white, 1 - 0.949);
}

.post-card.set .title {
    font-weight: 300;
}

.card-synopsis {
    color: black;
    font-size: 18.7px;
    padding-top: 30px;
}

.card-context {
    font-size: 16px;
    color: #49bde3;
}

.search-results spinner {
    margin: 20px;
}

.results-message-title,
.results-message.subtitle {
    color: black;
}

.document-card .sequence-card {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    padding: 15px 30px;
}

.document-card .sequence-card .title {
    font-size: 21.3px;
    font-weight: normal;
    color: #044a80;
}

.document-card .sequence-card .previous-label,
.document-card .sequence-card .next-label {
    font-size: 14.7px;
    color: #49bde3;
}

.document-card .panel {
    -EknSlidingPanel-fill-percentage: 0.73;
    -EknSlidingPanel-shadow-margin: 7;
}

.home-button {
    font-weight: bold;
}

EknAppBanner {
    font-size: 1.19em; /* 19px / 12px/em * 72/96 */
}

EknAppBanner .subtitle {
    margin-top: 70px;
}

.document-card WebKitWebView {
    background-color: white;
}

.webview-tooltip {
    background-color: transparentize(black, 1 - 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;
}

.webview-tooltip GtkLabel {
    color: white;
    font-family: Lato;
    font-size: 1.0em; /* 16px / 12px/em * 72/96 */
    font-weight: bold;
}

EknResponsiveMargins.tiny {
    margin: 0px;
}

EknResponsiveMargins.small {
    margin: 0px 40px;
}

EknResponsiveMargins.medium {
    margin: 0px 62px;
}

EknResponsiveMargins.large {
    margin: 0px 83px;
}

EknResponsiveMargins.xlarge {
    margin: 0px 120px;
}

.endless-search-box frame {
   background-color: #d5e1ed;
}

.endless-search-box .view .cell {
    border-color: #d5e1ed;
}

.endless-search-box .view .cell:selected {
    background-color: #f5f5f5;
}

.endless-search-box .view:nth-child(2) .cell {
    border-color: #d5e1ed;
    background-color: #d5e1ed;
}

.endless-search-box .view:nth-child(2) .cell:selected {
    background-color: #f5f5f5;
}

/* Changes for composite TVs */

.composite .search-results row {
    padding: 0 40px;
}

.composite .card-context {
    font-style: normal;
}

.composite .thumb-card .card-context {
    color: gray;
}

.composite .list-card.width-d .title,
.composite .list-card.width-d .card-synopsis,
.composite .list-card.width-e .title,
.composite .list-card.width-e .card-synopsis {
    font-size: 18.8px;  /* 16px spec * 88% because spec was at 110% scale not 125% */
}

.composite EknHighlights .title-card .title.label,
.composite EknThematic .title-card .title.label,
.composite EknSetPreviewCard .title,
.composite .browse-content .title,
.composite .post-card.set .title {
    font-weight: normal;
}

.composite EknAppBanner {
    font-size: 22.3px;  /* 19px spec * 88% */
}
