@import 'common';

.WindowApp {
    background-size: cover;

    scrollbar {
        padding: 3px;

        slider {
            min-width: 8px;
            background-color: #9b9b9b;
            border-radius: 20px;
        }
    }
}

.PagerSimple {
    -EknPager_Simple-transitions-style: 'none';
}

.home-page,
.search-page,
.article-page,
.section-page,
.all-sets-page {
    background-color: #e7ecee;
}

.BannerApp {
    &.brand-page .ThemeableImage {
        -EknThemeableImage-sizing: "size-down";
        min-width: 200px;
        min-height: 200px;
    }

    .composite & {
        font-size: 22.3px;  /* 19px spec * 88% */
    }
}

.LayoutScrolling {
    background-color: #e7ecee;
}

.LayoutInfiniteScrolling {
    background-color: #e7ecee;
}

.ContentGroupSearch {
    background-color: #e7ecee;

    .no-results {
        background-color: white;
    }

    spinner {
        margin: 20px;
    }

    .composite & row {
        padding: 0 40px;
    }
}

.CardSetPreview {
    &:hover .title {
        color: #49bde3;
    }

    .composite & .title {
        font-weight: normal;
    }
}

.CardTitle:hover .title {
    color: #49bde3;
}

/* default size */
.Card {
    font-size: 18.7px;

    &.width-c .title,
    &.width-d.height-c .title,
    &.width-d.height-b .title {
        font-size: 21.3px;
    }

    &.width-d.height-d .title,
    &.width-e.height-b .title,
    &.width-e.height-c .title {
        font-size: 30.7px;
    }

    &.width-d .title,
    &.width-e .title,
    &.width-f .title,
    &.width-g .title,
    &.width-h .title {
        font-size: 49.3px;
    }

    .content-frame {
        padding: 20px;
    }

    &.width-e .content-frame,
    &.width-f .content-frame,
    &.width-g .content-frame,
    &.width-h .content-frame {
        padding: 40px;
    }

    &.width-e.height-e .card-context,
    &.width-f .card-context,
    &.width-g .card-context,
    &.width-h .card-context {
        font-size: 18.7px;
    }
}

.CardThumb {
    background-color: white;
    box-shadow: 0 0 5px transparentize(black, 1 - 0.25);
    border-color: transparent;  /* used for the triangle in the corner */

    &.width-d.height-b .content-frame,
    &.width-e.height-b .content-frame,
    &.width-e.height-c .content-frame {
        padding: 20px 30px 20px 30px;
    }

    .composite & .card-context {
        color: gray;
    }
}

.CardList {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 5px transparentize(black, 1 - 0.25);
    border-color: transparent;  /* used for the triangle in the corner */

    &.width-d .title,
    &.width-d .card-synopsis {
        font-size: 18.7px;
    }

    &.width-e .title,
    &.width-e .card-synopsis {
        font-size: 18.7px;
    }

    &.width-f .title,
    &.width-f .card-synopsis {
        font-size: 21.3px;
    }

    &.width-g .title,
    &.width-h .title {
        font-size: 29.3px;
    }

    &.width-g .card-synopsis,
    &.width-h .card-synopsis {
        font-size: 24px;
    }

    &.width-e .content-frame,
    &.width-f .content-frame {
        padding: 20px;
    }

    .composite &.width-d .title,
    .composite &.width-d .card-synopsis,
    .composite &.width-e .title,
    .composite &.width-e .card-synopsis {
        font-size: 18.8px;  /* 16px spec * 88% because spec was at 110% scale not 125% */
    }
}

.CardPost {
    background-color: white;
    box-shadow: 0 0 5px transparentize(black, 1 - 0.25);
    border-color: transparent;  /* used for the triangle in the corner */

    .content-frame {
        background-image: linear-gradient(to top, black 0%, transparentize(black, 1 - 0.69) 30%, transparentize(black, 1 - 0.5) 49%, transparentize(black, 1) 100%);
        min-height: 50px;  /* 90px, compensated for 20px padding */
    }

    &.width-e .content-frame,
    &.width-f .content-frame,
    &.width-g .content-frame,
    &.width-h .content-frame {
        min-height: 10px;  /* 90px, compensated for 40px padding */
    }

    &.height-e .content-frame {
        min-height: 250px;  /* 290px, compensated for 20px padding */
    }

    &.height-e.width-e .content-frame,
    &.height-e.width-f .content-frame,
    &.height-e.width-g .content-frame,
    &.height-e.width-h .content-frame {
        min-height: 210px;  /* 290px, compensated for 40px padding */
    }

    &.height-d .content-frame {
        min-height: 150px;  /* 190px, compensated for 20px padding */
    }

    &.height-d.width-e .content-frame,
    &.height-d.width-f .content-frame,
    &.height-d.width-g .content-frame,
    &.height-d.width-h .content-frame {
        min-height: 110px;  /* 190px, compensated for 40px padding */
    }

    &.height-c .content-frame {
        min-height: 100px;  /* 140px, compensated for 20px padding */
    }

    &.height-c.width-e .content-frame,
    &.height-c.width-f .content-frame,
    &.height-c.width-g .content-frame,
    &.height-c.width-h .content-frame {
        min-height: 60px;  /* 140px, compensated for 40px padding */
    }
}

.CardDeck {
    background-image: url('../images/deckbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    .thumbnail {
        border: 0px solid transparent;  /* used for the triangle in the corner */
        margin: 13px;
    }

    &:active {
        background-size: 98% 98%;
    }

    .content-frame {
        padding: 20px 0px 20px 0px;
        background-color: transparentize(white, 1 - 0.949);
        min-height: 80px;  /* 120px, compensated for 20px padding */
    }

    &.height-b .content-frame,
    &.height-a .content-frame {
        min-height: 40px;  /* 80px, compensated for 20px padding */
    }

    .title {
        font-weight: 300;
    }

    .composite & .title {
        font-weight: normal;
    }
}

.Card.CardPost .title {
    padding-bottom: 20px;
    color: white;
}

.card-synopsis {
    color: black;
    font-size: 18.7px;
    padding-top: 30px;
}

.card-context {
    font-size: 16px;
    color: #49bde3;
}

.results-message-title,
.results-message.subtitle {
    color: black;
}

.DocumentCard {
    .CardSequence {
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        padding: 15px 30px;

        .title {
            font-size: 21.3px;
            font-weight: normal;
            color: #044a80;
        }

        .previous-label,
        .next-label {
            font-size: 14.7px;
            color: #49bde3;
        }
    }

    .SlidingPanel {
        -EknSlidingPanel-fill-percentage: 0.73;
        -EknSlidingPanel-shadow-margin: 7;
    }

    WebKitWebView {
        background-color: white;
    }
}

.webview-tooltip {
    background-color: transparentize(black, 1 - 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;

    GtkLabel {
        color: white;
        font-family: Lato;
        font-size: 1.0em; /* 16px / 12px/em * 72/96 */
        font-weight: bold;
    }
}

.home-button {
    font-weight: bold;
}

.LayoutResponsiveMargins {
    &--tiny {
        margin: 0px;
    }

    &--small {
        margin: 0px 40px;
    }

    &--medium {
        margin: 0px 62px;
    }

    &--large {
        margin: 0px 83px;
    }

    &--xlarge {
        margin: 0px 120px;
    }
}

.ArrangementHalf,
.ArrangementList,
.ArrangementPiano,
.ArrangementScrollingList,
.ArrangementSquareGuys,
.ArrangementThirties,
.ArrangementWindshield {
  margin: -10px;
}

.ArrangementHalf .Card,
.ArrangementList .Card,
.ArrangementPiano .Card,
.ArrangementScrollingList .Card,
.ArrangementSquareGuys .Card,
.ArrangementThirties .Card,
.ArrangementWindshield .Card {
  margin: 10px;
}

.endless-search-box {
    frame {
       background-color: #d5e1ed;
    }

    .view {
        .cell {
            border-color: #d5e1ed;

            &:selected {
                background-color: #f5f5f5;
            }
        }

        &:nth-child(2) {
            .cell {
                border-color: #d5e1ed;
                background-color: #d5e1ed;

                &:selected {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}

/* Changes for composite TVs */

.composite .card-context {
    font-style: normal;
}

.composite .ContentGroupHighlights .CardTitle .title.label,
.composite .ContentGroupThematic .CardTitle .title.label {
    font-weight: normal;
}
