$primary-light-color: #5e7790 !default;
$primary-medium-color: #2d3e4e !default;
$primary-dark-color: #1b242e !default;

$accent-light-color: #ff6835 !default;
$accent-dark-color: #cc532b !default;

$background-light-color: #e9e9e3 !default;
$background-dark-color: #ddddd5 !default;
