/* Copyright 2016 Endless Mobile, Inc. */

@import "project-setup";
@import "compass";

/* ===== AppBanner ===== */
.BannerApp {
    font-size: 1.19em; /* 19px / 12px/em * 72/96 */
}

.BannerApp .subtitle {
    letter-spacing: 0.74px;
    margin-top: 70px;
}

/* ===== SearchBox ===== */
.endless-search-box .view {
    padding: 10px;
}

.endless-search-box .view .cell {
    border-color: #f5f5f5;
    border-width: 3px;
    border-radius: 2px;
    border-style: solid;
    background-color: white;
}

.endless-search-box .view .cell:selected {
    background-color: #d5e1ed;
}

.endless-search-box .view:nth-child(2) .cell {
    color: #044a80;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}

.endless-search-box .view:nth-child(2) .cell:selected {
    color: #044a80;
    background-color: #d5e1ed;
}

/* ===== MediaCard ===== */
.CardMedia {
    padding: 10px;
    background-color: white;
}

.CardMedia separator {
    background-color: #d6d6d6;
    min-height: 1px;
}

.media-card-caption {
    font-size: .81em;  /* 13pt * 1/12 * 0.75 DPI correction factor */
    font-family: Lato;
    color: #666666;
}

.media-card-attribution-text {
    font-weight: bold;
    font-size: .62em;  /* 10pt * 1/12 * 0.75 DPI correction factor */
    font-family: Lato;
    color: #b2b2b2;
    transition: color 250ms ease-in-out;
}

.media-card-attribution-text:hover {
    color: #ff6900;
}

.composite .media-card-caption {
    font-size: 14.1px;  /* 12px spec * 88% because spec was at 110% scale not 125% */
}

.composite .media-card-attribution-text {
    font-size: 10.5px;  /* 9px spec * 88% */
}

/* ===== LightBox ===== */
.lightbox-navigation-button {
    padding: 7px;
    border-radius: 27px;
    background-color: transparentize(#888a85, 1 - 0.5);
    background-image: linear-gradient(-89deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.lightbox-navigation-button:hover {
    background-color: transparentize(#888a85, 1 - 0.8);
}

.lightbox-shadow {
    background-color: transparentize(black, 1 - 0.9);
}
