$primary-light-color: #eeccf8 !default;
$primary-medium-color: #d64970 !default;
$primary-dark-color: #2e3436 !default;

$background-light-color: #ececec !default;
$background-dark-color: #d3d7cf !default;

$accent-light-color: #f16e47 !default;
$accent-dark-color: #d16550 !default;

$legacy-post-card-border-color: transparentize(black, 1 - 0.70) !default;
$legacy-post-card-border-color-hover: white !default;

$body-font: 'Lato' !default;
$title-font: 'Montserrat' !default;
$display-font: 'Lato' !default;
$display-font-composite: 'Roboto' !default;

@import "base";

.WindowSimple {
    /* Changed color here so scrollbars are visible. Only affects smoke tests all
     * apps have image backgrounds.*/
    background-color: #888888;

    background-position: center;
    background-repeat: no-repeat;

    /* FIXME: for the time being, until we can properly customize the webkit
    scrollbars, style the GTK scrollbars to look slightly more like them */
    scrollbar {
        background-color: transparent;
        padding: 0px;

        slider {
            min-height: 8px;
            background-color: #333333;
        }

        trough {
            padding: 3px;
        }
    }
}

.set-page,
.search-page {
    .ContentGroupContentGroup__title,
    .CardTitle__title,
    .BannerSearch__title {
        font-family: $title-font;
        font-weight: bold;
    }
}

.results-message-background {
    background-color: transparent;
}

.CardLegacyPolaroid {
    &__icon {
        padding-top: 10px;
    }

    &__label {
        font-size: 0.9em;
        color: #666666;
    }
}

.CardMedia {
    &__caption {
        color: #666666;
    }

    &__attributionText {
        color: #b2b2b2;
    }
}

/* Hide scrollbars when animating, they look bad. */
.PagerSimple--animating scrollbar slider {
    background-color: transparent;
}

.WebviewTooltip__label {
    font-family: $display-font;
}

/* Changes for composite TVs */

.composite {
    font-family: $display-font-composite;

    .Card__title {
        font-family: $title-font-composite;
    }

    headerbar entry {
        font-size: 21.1px;  /* 18px spec * 88% because spec was at 110% scale not 125% */
    }
}
