/* Copyright 2016 Endless Mobile, Inc. */

@function no-cache-buster($url, $file) {
    @return null;
}

$images-path: 'resource:///com/endlessm/knowledge/data/images/';
$project-path: absolute-path("../..");
@import "compass/configuration";
$compass-options: (images-dir: "data/images", relative-assets: false, asset-cache-buster: no-cache-buster, http-images-path: $images-path);
@include compass-configuration($compass-options);
