@import "base";

$highlighted-background-color: darken($background-dark-color, 5%) !default;

.LayoutSidebar {
  -EknLayout_Sidebar-sidebar-width-small: 252px;
  -EknLayout_Sidebar-sidebar-width-large: 252px;

  .sidebar {
    background-color: $background-dark-color;
    box-shadow: none;
    .main-menu {
      .BannerApp .ThemeableImage {
          -EknThemeableImage-sizing: "size-min";
          min-height: 50px;
          min-width: 172px;
          margin: 33px 0px 32px 40px;
      }
    }

    .CardTitle {
      border-bottom: none;
      &__title {
        padding: 8px 0px 8px 40px;
        color: $primary-medium-color;
      }

      &:active,
      &.highlighted,
      &.highlighted:hover {
        .CardTitle {
          &__title {
            color: $primary-dark-color;
            background-color: $highlighted-background-color;
          }
        }
      }
    }
  }

  /* Banner.Set & Banner.Search styling has to be put here in order
   * to correctly override default theme styling in Layout.Sidebar.
   * FIXME: This small change requires too-specific selectors;
   * Layout.Sidebar needs to have less specific styling in the
   * future. */
  .content {
    .BannerSet .CardTitle__title,
    .BannerSearch__title {
      font-size: 56px;
      padding: 0;
      color: $primary-medium-color;
    }

    .BannerSet,
    .BannerSearch {
      margin: 33px 0;
    }
  }
}

.main-arrangement {
  margin-bottom: 20px;
}

.CardDefault {
  min-height: 400px;
}

.ContentGroup--complementarycontent {
  .ContentGroupContentGroup__title {
    font-size: 46px;
    font-weight: 900;
    color: $primary-medium-color;
    margin: 30px 0px 20px 0px;
  }
}

.home-page {
  .main-arrangement {
    margin-top: 40px;
  }
}

.search-page {
  .CardList {
    min-height: 200px;

    &__title.highlighted,
    &__synopsis.highlighted {
      background-color: $highlighted-background-color;
    }
  }

  .no-results-message {
    font-size: 34px;
    color: $primary-light-color;
    margin: 0px 0px 33px 0px;
  }
}

.article-page {
  .ContentGroup--complementarycontent {
    background-color: $background-light-color;
    margin-right: 14px;
    padding: 0px 50px 20px 50px;

    .composite & {
      padding: 0px 0px 20px 0px;
    }
  }
}
