/* === Colors and Fonts (Overrides) === */

$primary-light-color: #49bde3 !default;
$primary-medium-color: #044a80 !default;
$accent-light-color: #49bde3 !default;
$accent-dark-color: #044a80 !default;
$background-light-color: #f6f6f6 !default;
$background-dark-color: #e7ecee !default;

$contextbar-top-color: #f5f5f5 !default;
$contextbar-bottom-color: #e9e9e9 !default;

$title-font: Lato !default;
$body-font: Lato !default;
$context-font: Lato !default;
$display-font: Lato !default;
$support-font: Lato !default;
$logo-font: Lato !default;

@import "base";

.ContentGroup--outercontainer {
    .ContentGroupContentGroup {
        &__title {
            font-size: 29.3px;
            margin-left: 10px;
        }

        &__trigger {
            font-size: 20px;
            margin-right: 10px;
            
            .ThemeableImage {
                min-height: 10px;
                min-width: 11px;
                margin-left: 5px;
                margin-bottom: 5px;
            }
        }

        &__title,
        &__trigger {
            font-weight: 200;
            margin-bottom: 10px;
        }

        &__title--clickable,
        &__trigger {
            color: $accent-dark-color;

            &:hover {
                color: $accent-light-color;
            }
        }
    }

    .composite & .ContentGroupContentGroup__title,
    .composite & .ContentGroupContentGroup__trigger {
        font-weight: normal;
    }

    .CardList {
        &__thumbnail {
            min-height: 200px;
        }
        .composite &__thumbnail {
            min-height: 120px;
        }
    }
}

.LayoutResponsiveMargins--complementarycontent {
    background-color: $background-dark-color;
}

.CardList,
.CardDefaultFamily {
    &__title,
    &__context {
        font-weight: normal;
    }

    &:hover,
    &:active {
        outline: 1px solid $primary-light-color;
        border-color: $primary-light-color;  /* used for the triangle in the corner */
        outline-offset: -1px;
        -gtk-outline-radius: 0;
    }

    &:active {
        box-shadow: none;
    }
}

.CardDeck,
.CardDefaultFamily,
.CardTitle {
    &__title,
    &__context .FormattableLabel {
        -EknFormattableLabel-text-transform: 'uppercase';
    }

    &__context {
        font-style: italic;
    }
}

.BannerApp__subtitle {
    -EknFormattableLabel-text-transform: 'uppercase';
    margin-top: 0;
}

.LayoutSideMenu {
    &__contextBar {
        background-image: linear-gradient(to bottom,  $contextbar-top-color 0%, $contextbar-bottom-color 100%);

        .BannerContext {
            color: $primary-medium-color;
            font-weight: 200;
        }
    }

    &__menu {
        background-color: white;

        .ArrangementList .CardTitle {
            border-bottom: none;

            &__title {
                font-weight: 200;
            }

            &:active,
            &.highlighted {
                .CardTitle {
                    &__title {
                        color: $accent-dark-color;
                        background-color: transparent;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &__homeButton,
    &__closeButton,
    &__menuButton,
    &__menu .ArrangementList .CardTitle__title {
        color: $accent-dark-color;

        &:hover {
            color: $accent-light-color;
        }
    }
}

.article-page {
    spinner {
        color: $accent-dark-color;
    }
}
