/* Copyright 2016 Endless Mobile, Inc. */

.endless-search-box .view {
    padding: 10px;
}

.endless-search-box .view .cell {
    border-color: #f5f5f5;
    border-width: 3px;
    border-radius: 2px;
    border-style: solid;
    background-color: white;
}

.endless-search-box .view .cell:selected {
    background-color: #d5e1ed;
}

.endless-search-box .view:nth-child(2) .cell {
    color: #044a80;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}

.endless-search-box .view:nth-child(2) .cell:selected {
    color: #044a80;
    background-color: #d5e1ed;
}
