/* === Colors and Fonts (Overrides) === */

$primary-dark-color: #005a71 !default;
$primary-medium-color: #12282e !default;
$primary-light-color: #cc532b !default;

$accent-light-color: #f6f6f6 !default;
$accent-medium-color: #ebb010 !default;
$accent-dark-color: #5b700e  !default;
$highlight-color: #f5d888  !default;

$background-light-color: white !default;
$background-dark-color: white !default;

$base-color: #0e82c5 !default;
$base-color-shade: #0f6b9f !default;

$body-font: Roboto !default;
$title-font: Roboto !default;
$display-font: Roboto !default;
$context-font: Roboto !default;
$support-font: 'Montserrat' !default;

@import "escola";

.WindowSimple {
  background-color: white;
  background-image: none;
}

.home-page {
  .landing {
    .background {
      background-image: url($primary-background-image);
      background-repeat: no-repeat;
      min-height: 546px;
    }

    .BannerDynamic {
      margin-right: 10px;
      &__logo {
        padding: 10px 50px;
        background-color: $base-color;
        margin-right: 150px;
        opacity: 0.9;
        -EknDynamicLogo-sizing: "size-min";
        color: $accent-light-color;
        min-height: 120px;
        min-width: 400px;
        font-weight: normal;
        font-family: $title-font;
        font-size: 58px;
      }
      &__subtitle {
        color: $primary-medium-color;
        padding: 25px 40px;
        margin-top: -20px;
        font-family: $title-font;
        font-size: 28px;
        background-color: $accent-medium-color;
        margin-left: 120px;
        box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.4);
      }
    }

    .LayoutBox.intro {
      background-color: $primary-dark-color;
      opacity: 0.6;
      color: $accent-light-color;
      font-family: $support-font;
      font-size: 18px;
      padding: 0 30px;

      .BannerApp {
        margin-bottom: 0px;
      }
    }
  }

  .footer {
    min-height: 270px;
    font-size: 20px;
    font-family: $body-font;
    .StaticText:first-child {
      margin-top: 60px;
    }
    .DecorationThemeableImage {
      margin-bottom: 60px;
    }
  }

  .ContentGroupContentGroup {
    background-image: url('resource:///app/assets/graphy_bg.png');
    background-repeat: repeat-x;

    &__title {
      .BannerDynamic__logo {
        color: $primary-dark-color;
        font-size: 30px;
        font-family: $title-font;
        font-weight: normal;
      }
    }
  }
}

.BannerSet {
  margin: 40px 0px 0px 0px;
  .CardList {
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: none;
    padding: 0;
    margin: 0;
    &.width-d .Card__title, &.width-e .Card__title, &.width-f .Card__title {
      font-size: 34px;
    }
    &__title {
      font-weight: normal;
      color: $accent-light-color;
    }
    &__content_grid {
      padding-left: 0px;
      margin-left: -20px;
    }
    &__checkmark {
      margin: 0px;
      min-width: 0px;
      min-height: 0px;
    }
  }
}

.set-page {
  .playlist {
    margin: 40px 0px;
    min-width: 900px;
    .ArrangementList {
      .CardList {
        background-color: #e9e9e3;
      }
    }
    .ContentGroupContentGroup {
      padding: 0;
    }

    .levels {
      background-color: $base-color-shade;
      padding: 20px 0px;
    }
  }

  .intro-video {
    margin: 250px 60px 20px 60px;
  }

  .background {
    min-height: 700px;
    background-image: url('resource:///app/assets/graphy_bg.png');
    background-repeat: repeat;
  }

  .header {
    background-image: url($secondary-background-image);
    background-repeat: no-repeat;
    .BannerApp {
      margin-right: 50px;
    }
  }

  .see-more {
    background-color: #ddddd5;
    min-height: 426px;
    .BannerDynamic__logo {
      -EknDynamicLogo-sizing: "size-min";
      color: $primary-dark-color;
      font-size: 28px;
      font-family: $title-font;
      font-weight: normal;
      margin-top: 5px;
    }
  }
}

.footer {
  background-color: #ddddd5;
  color: $primary-medium-color;
}
