@import "project-setup";
@import "compass";

$body-font: 'Lato' !default;
$display-font: 'Lato' !default;
$display-font-composite: 'Roboto' !default;
$title-font: 'Lato' !default;

$background-light-color: #f5f5f5 !default;
$accent-light-color: #044a80 !default;

@import 'assets';
@import 'colors';
@import 'typography';

@import 'modules/banner/app';
@import 'modules/banner/search';

@import 'modules/card/knowledgeDocument';
@import 'modules/card/media';

@import 'modules/contentGroup/contentGroup';
@import 'modules/contentGroup/mediaLightbox';
@import 'modules/contentGroup/noResultsMessage';

@import 'modules/layout/paper';

@import 'modules/navigation/searchBox';

@import 'modules/window/simple';

.WindowSimple {
    font-size: 8pt;
    background-position: center center;
    background-repeat: no-repeat;
}

.search-page,
.article-page {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.PagerSimple {
    -EknPager_Simple-transitions-style: 'splash';
}

.NavigationSearchBox {
    background: rgba(0,0,0,0.2);
    padding: 0.5em .3em 0.5em .3em;
    font-size: 13.3px;
    color: #fff;
    caret-color: #fff;

    border-style: solid;
    border-radius: 50px;

    border-width: 3px;
    border-top-color: rgba(0, 0, 0, 0.49);
    border-left-color: rgba(0, 0, 0, 0.49);
    border-right-color: rgba(0, 0, 0, 0.49);
    border-bottom-color: rgba(255, 255, 255, 0.14);

    .home-page & {
        min-width: 450px;
    }

    image {
        margin: 0 3px;
    }

    selection {
        color: rgba(0, 0, 0, 0.7);
        background-color: #fff;
    }

    .composite & {
        font-size: 21.1px;  /* 18 px spec * 88% because spec was at 110% scale not 125% */
        background-color: transparentize(black, 1 - 0.8);
    }
}

.BannerApp {
    .home-page & {
        margin-bottom: 42px;
    }

    .search-page &,
    .article-page & {
        margin: 10px 0;
    }

    .search-page & .ThemeableImage,
    .article-page & .ThemeableImage {
        -EknThemeableImage-sizing: "size-min";
        min-width: 202px;
        min-height: 72px;
    }
}

/* WebKit creates GTK tooltips internally, so style them here */
.tooltip {
    border-radius: 5px;
    background-color: transparentize(#212526, 1 - 0.90);
}

.search-results {
    background-color: transparent;

    color: #464646;

    .search-page & {
        margin-top: 20px;
    }

    .search-page & separator {
        min-height: 1px;
        background-image: none;
        background-color: #888a85;
    }

    .ContentGroupNoResultsMessage__title,
    .ContentGroupNoResultsMessage__subtitle {
        color: $black-60-color;
        font-size: 1.25em;  /* 15px / 12px/em */
        font-style: normal;
        font-weight: normal;
        padding: 2.0em 0 0 0;
    }

    .results-message-background {
        background-color:transparent;
    }

    .Card {
        padding-bottom: 1.5em;

        &__title {
            font-weight: normal;
            font-size: 1.25em;  /* 15px / 12px/em */
            color: #277090;
            padding: 0 0 0 0;
        }

        &:hover &__title {
            text-decoration: underline;
        }
    }

    .CardTitle__before {
        -gtk-icon-source: -gtk-icontheme("media-record-symbolic");
        min-width: 6px;
        min-height: 6px;
        color: rgba(145, 145, 145, 0.5);
        padding-right: 0.6em;
    }

    .ArrangementScrollingList__grid {
        padding: 0;
    }

    .composite & {
        .BannerSearch {
            font-size: 17.6px;  /* 15px spec * 88% */
        }

        .Card__title {
            font-size: 18.8px;  /* 16px spec * 88% */
        }
    }
}

.BannerSearch {
    .search-page & {
        font-weight: 300;
        font-size: 2em; /* 24px / 12px/em */
        color: #7e7e7e;
        padding: 40px 0 20px;
    }

    .composite .search-page & {
        font-weight: normal;
        font-size: 23.5px;  /* 20px spec * 88% */
        font-weight: bold;
    }
}

.search-page {
    separator {
        min-height: 15px;
        background-color: transparent;
        background-image: image-url('separator.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .title.query {
        font-weight: normal;
        color: black;
    }
}

scrollbar {
    padding: 0px 3px;

    slider {
        background-color: #9b9b9b;
        border-radius: 20px;
        min-width: 8px;
    }
}

.WebviewTooltip__label {
    font-size: 1.3em; /* 16px / 12px/em */
}

.home-page {
    background-image: url($primary-background-image);
}

.article-page,
.search-page {
    background-image: url($secondary-background-image);
}

/* Changes for composite TVs */

.composite {
    font-family: $display-font-composite;

    .WebviewTooltip__label {
        font-weight: bold;
        font-size: 18.8px;  /* 16px spec * 88% */
    }
}

.endless-search-box {
    .view {
        .cell {
            &:selected {
                background-color: #d5e1ed;
            }
        }

        &:nth-child(2) {
            .cell {
                &:selected {
                    color: $accent-light-color;
                    background-color: #d5e1ed;
                }
            }
        }
    }
}
