@import "project-setup";
@import "compass";

$body-font: 'Lato' !default;
$display-font: 'Lato' !default;
$title-font: 'Lato' !default;

$background-light-color: #f5f5f5 !default;
$accent-light-color: #044a80 !default;

@import "base";

.WindowSimple {
    font-size: 8pt;
}

.home-page {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($primary-background-image);
}

.search-page,
.article-page {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($secondary-background-image);
}

.PagerSimple {
    -EknPager_Simple-transitions-style: 'splash';
}

.BannerApp {
    .search-page & .ThemeableImage,
    .article-page & .ThemeableImage {
        -EknThemeableImage-sizing: "size-min";
        min-width: 345px;
        min-height: 92px;
    }
}

.BannerDynamic {
    .search-page &__logo,
    .article-page &__logo, {
        -EknDynamicLogo-sizing: "size-min";
        min-width: 345px;
        min-height: 92px;
    }
}

.NavigationSearchBox {
    .search-page &,
    .article-page & {
        min-width: 200px;
    }
}

/* WebKit creates GTK tooltips internally, so style them here */
.tooltip {
    border-radius: 5px;
    background-color: transparentize(#212526, 1 - 0.90);
}

.search-results {
    background-color: transparent;

    color: #464646;

    .search-page & {
        margin-top: 20px;
    }

    .search-page & separator {
        min-height: 1px;
        background-image: none;
        background-color: #888a85;
    }

    .ContentGroupNoResultsMessage__title,
    .ContentGroupNoResultsMessage__subtitle {
        color: $black-60-color;
        font-size: 1.25em;  /* 15px / 12px/em */
        font-style: normal;
        font-weight: normal;
        padding: 2.0em 0 0 0;
    }

    .results-message-background {
        background-color:transparent;
    }

    .Card {
        padding-bottom: 1.5em;

        &__title {
            font-weight: normal;
            font-size: 1.25em;  /* 15px / 12px/em */
            color: #277090;
            padding: 0 0 0 0;
        }

        &:hover .Card__title {
            text-decoration: underline;
        }
    }

    .CardTitle__before {
        -gtk-icon-source: -gtk-icontheme("media-record-symbolic");
        min-width: 6px;
        min-height: 6px;
        color: rgba(145, 145, 145, 0.5);
        padding-right: 0.6em;
    }

    .ArrangementList {
        padding: 0;
    }

    .composite & {
        .BannerSearch {
            font-size: 17.6px;  /* 15px spec * 88% */
        }

        .Card__title {
            font-size: 18.8px;  /* 16px spec * 88% */
        }
    }
}

.BannerSearch {
    .search-page & {
        font-weight: 300;
        font-size: 2em; /* 24px / 12px/em */
        color: #7e7e7e;
        padding: 40px 0 20px;
    }

    .composite .search-page & {
        font-weight: normal;
        font-size: 23.5px;  /* 20px spec * 88% */
        font-weight: bold;
    }
}

.search-page {
    separator {
        min-height: 15px;
        background-color: transparent;
        background-image: image-url('separator.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .title.query {
        font-weight: normal;
        color: black;
    }
}

scrollbar {
    padding: 0px 3px;

    slider {
        background-color: #9b9b9b;
        border-radius: 20px;
        min-width: 8px;
    }
}

.WebviewTooltip__label {
    font-size: 1.3em; /* 16px / 12px/em */
}


/* Changes for composite TVs */

.composite {
    font-family: $display-font-composite;

    .WebviewTooltip__label {
        font-weight: bold;
        font-size: 18.8px;  /* 16px spec * 88% */
    }
}

.endless-search-box {
    .view {
        .cell {
            &:selected {
                background-color: #d5e1ed;
            }
        }

        &:nth-child(2) {
            .cell {
                &:selected {
                    color: $accent-light-color;
                    background-color: #d5e1ed;
                }
            }
        }
    }
}
