$body-font: 'Lato' !default;
$display-font: 'Lato' !default;
$title-font: 'Lato' !default;
$logo-font: 'Libre Baskerville' !default;

$background-light-color: #f5f5f5 !default;
$accent-light-color: #044a80 !default;

@import "base";

.WindowSimple {
    font-size: 8pt;
}

.home-page {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($primary-background-image);
}

.search-page,
.article-page {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($secondary-background-image);
}

.PagerSimple {
    -EknPager_Simple-transitions-style: 'splash';
}

.BannerDynamic {
    .search-page &__logo,
    .article-page &__logo, {
        -EknDynamicLogo-sizing: "size-min";
        min-width: 345px;
        min-height: 92px;
    }

    .home-page &__logo {
        min-width: 550px;
    }
}

.NavigationSearchBox {
    .search-page &,
    .article-page & {
        min-width: 200px;
    }

    .home-page & {
        margin-bottom: 60px;
    }
}

.search-page {
    .CardTitle {
        margin-bottom: 10px;

        &__title {
            font-weight: normal;
            font-size: 15px;
            color: #277090;
            padding: 0 0 0 0;
        }

        &:hover .Card__title {
            text-decoration: underline;
        }

        &__before {
            -gtk-icon-source: -gtk-icontheme("media-record-symbolic");
            min-width: 6px;
            min-height: 6px;
            color: rgba(145, 145, 145, 0.5);
            padding-right: 7px;
        }
    }

    .ArrangementList {
        padding: 0;
    }

    separator {
        min-height: 15px;
        background-color: transparent;
        background-image: url('resource:///com/endlessm/knowledge/data/images/separator.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .title.query {
        font-weight: normal;
        color: black;
    }

    .BannerSearch {
        margin: 0 0 20px 0;
        font-weight: 300;
        font-size: 24px;
        color: transparentize(black, 1 - 0.40);

        .ContentGroupContentGroup {
            margin-top: 25px;
        }

        .composite & {
            font-weight: normal;
            font-size: 23.5px;
            font-weight: bold;
        }
    }

    .composite & {
        .BannerSearch {
            font-size: 17.6px;  /* 15px spec * 88% */
        }

        .Card__title {
            font-size: 18.8px;  /* 16px spec * 88% */
        }
    }
}

.ContentGroupNoResultsMessage {
    &__title {
        font-size: 25px;
    }
    &__subtitle {
        font-size: 15px;
    }
}

.LayoutResponsiveMargins {
    &--small {
        margin: 0px 30px;
    }

    &--medium {
        margin: 0px 90px;
    }

    &--large {
        margin: 0px 150px;
    }

    &--xlarge {
        margin: 0px 240px;
    }
}

.paper-template {
    background-image: linear-gradient(to bottom, #ececec 0%, #ececec 100%),
                      url('resource:///com/endlessm/knowledge/data/templates/images/noise.png');

    .search-page & {
        padding: 50px;
    }
}

/* Changes for composite TVs */

.composite {
    font-family: $display-font-composite;

    .WebviewTooltip__label {
        font-weight: bold;
        font-size: 18.8px;  /* 16px spec * 88% */
    }
}

.endless-search-box {
    .view {
        .cell {
            &:selected {
                background-color: #d5e1ed;
            }
        }

        &:nth-child(2) {
            .cell {
                &:selected {
                    color: $accent-light-color;
                    background-color: #d5e1ed;
                }
            }
        }
    }
}
