@import 'common';

EosWindow {
    font-size: 8pt;
}

EosWindow,
.search-page,
.article-page {
    background-size: cover;
    background-repeat: no-repeat;
}

EosWindow {
    background-position: center center;
}

.search-page,
.article-page {
    background-position: top center;
}

.search-box,
.article-search entry {
    background: rgba(0,0,0,0.2);
    padding: 0.5em .3em 0.5em .3em;
    font-size: 13.3px;
    color: #fff;
    caret-color: #fff;

    border-style: solid;
    border-radius: 50px;

    border-width: 3px;
    border-top-color: rgba(0, 0, 0, 0.49);
    border-left-color: rgba(0, 0, 0, 0.49);
    border-right-color: rgba(0, 0, 0, 0.49);

    border-bottom-color: rgba(255, 255, 255, 0.14);
}

.home-page EknAppBanner {
    margin-bottom: 42px;
}

.home-page .search-box {
    min-width: 450px;
}

.article-search {
    background-color: #dbdbdb;
    padding: 3px;
}

.search-box image,
.article-search entry image {
    margin: 0 3px;
}

.search-box selection,
.article-search selection {
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
}

.article-search entry {
    background: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.25);
}

.article-search button {
    padding: 5px;
    color: #7a7e7f;
}

.article-search button:hover {
    color: #54595a;
}

/* WebKit creates GTK tooltips internally, so style them here */
.tooltip {
    border-radius: 5px;
    background-color: transparentize(#212526, 1 - 0.90);
}

.search-results {
    color: #464646;
}

.search-results spinner {
    margin: 20px;
}

.search-page EknAppBanner,
.article-page EknAppBanner {
    margin: 10px 0;
}

.search-page EknPaperTemplate EknBoxLayout {
    padding: 0 45px;
}

.search-page EknSearchBanner {
    font-weight: 300;
    font-size: 2em; /* 24px / 12px/em */
    color: #7e7e7e;
    padding-top: 40px;
    padding-bottom: 20px;
}

.search-page separator {
    min-height: 15px;
    background-image: url('../images/separator.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.search-page .title.query {
    font-weight: normal;
    color: black;
}

.search-page .title.error-message {
    font-weight: bold;
}

.search-page .search-results {
    margin-top: 20px;
}

.search-page .search-results separator {
    min-height: 1px;
    background-image: none;
    background-color: #888a85;
}

.search-results .results-message-title,
.search-results .results-message-subtitle,
.search-results .error-message {
    font-size: 1.25em;  /* 15px / 12px/em */
    font-weight: normal;
    padding-top: 2.0em;
}

.search-results .card {
    padding-bottom: 1.5em;
}

.search-results .card .title {
    font-weight: normal;
    font-size: 1.25em;  /* 15px / 12px/em */
    color: #277090;
    padding: 0 0 0 0;
}

.search-results .card:hover .title {
    text-decoration: underline;
}

.search-results .card .before {
    -gtk-icon-source: -gtk-icontheme("media-record-symbolic");
    -EknThemeableImage-min-width: 6;
    -EknThemeableImage-min-height: 6;
    color: rgba(145, 145, 145, 0.5);
    padding-right: 0.6em;
}

.paper-template .content {
    background-image: linear-gradient(to bottom, #ececec 0%, #ececec 100%),
                      url('../templates/images/noise.png');
}

scrollbar {
    padding: 0px 3px;
}

scrollbar slider {
    background-color: #9b9b9b;
    border-radius: 20px;
    min-width: 8px;
}

.webview-tooltip {
    background-color: transparentize(black, 1 - 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;
}

.webview-tooltip label {
    color: white;
    font-family: Lato;
    font-size: 1.3em; /* 16px / 12px/em */
    font-weight: bold;
}

/* Changes for composite TVs */

.composite {
    font-family: Roboto;
}

.composite .search-box,
.composite .article-search entry {
    font-size: 21.1px;  /* 18 px spec * 88% because spec was at 110% scale not 125% */
    background-color: transparentize(black, 1 - 0.8);
}

.composite .search-page EknSearchBanner {
    font-weight: normal;
    font-size: 23.5px;  /* 20px spec * 88% */
    font-weight: bold;
}

.composite .webview-tooltip label {
    font-weight: bold;
    font-size: 18.8px;  /* 16px spec * 88% */
}

.composite .search-results .results-message-title,
.composite .search-results .results-message-subtitle,
.composite .search-results .error-message {
    font-size: 17.6px;  /* 15px spec * 88% */
}

.composite .search-results .card .title {
    font-size: 18.8px;  /* 16px spec * 88% */
}
