@import url("resource:///com/endlessm/knowledge/data/css/buffet_core.css");

.thumb-card.arrow,
.post-card.article.arrow,
.search-result-card.arrow {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/arrow-gray.svg');
    -gtk-icon-transform: rotate(45deg);
}

.thumb-card:hover,
.thumb-card:active,
.post-card.article:hover,
.post-card.article:active,
.post-card.set:hover .thumbnail,
.post-card.set:active .thumbnail,
.search-result-card:hover,
.search-result-card:active {
    outline: 1px solid #49bde3;
    border-color: #49bde3;  /* used for the triangle in the corner */
    outline-offset: -1px;
    outline-radius: 0;
}

.thumb-card:active,
.post-card.article:active,
.search-result-card:active {
    box-shadow: none;
}

.thumb-card.arrow:hover,
.thumb-card.arrow:active,
.post-card.article.arrow:hover,
.post-card.article.arrow:active,
.post-card.set .thumbnail.arrow, /* both hover and non-hover */
.search-result-card.arrow:hover,
.search-result-card.arrow:active {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/arrow-white.svg');
    -gtk-icon-transform: rotate(45deg);
}
