@import url('resource:///com/endlessm/knowledge/data/css/endless_knowledge.css');

/* This is all temporary */

.card .title {
    font-family: Lato;
    font-weight: 300;
}

.text-card .title.label {
    color: #204a87;
    font-weight: normal;
    font-size: 1.5em;
    border-bottom: solid 1px gray;
}

.text-card:hover .title.label {
    color: #3465a4;
}

EknHighlightsModule,
EknThematicModule {
    background-color: #d3d7cf;
}

.browse-categories-title {
    font-weight: 200;
    font-size: 22px;
    border-bottom: solid 1px gray;
    color: #999999;
}

.thumb-card {
    background-color: white;
}

.thumb-card .title {
    font-size: 24px;
}

.thumb-card .card-synopsis {
    font-size: 14px;
}

.thumb-card .title, .thumb-card .card-synopsis {
    color: black;
}

.thumb-card.width-a .title,
.thumb-card.width-b .title {
    font-size: 14px;
}

.thumb-card.width-c .title,
.thumb-card.width-d.height-c .title,
.thumb-card.width-d.height-b .title {
    font-size: 16px;
}

.thumb-card.width-d.height-d .title,
.thumb-card.width-e.height-b .title,
.thumb-card.width-e.height-c .title {
    font-size: 23px;
}

.thumb-card.width-e .title,
.thumb-card.width-f .title,
.thumb-card.width-g .title,
.thumb-card.width-h .title {
    font-size: 37px;
}

.thumb-card .content-frame {
    padding: 20px;
}

.thumb-card.width-d.height-b .content-frame,
.thumb-card.width-e.height-b .content-frame,
.thumb-card.width-e.height-c .content-frame {
    padding: 20px 30px 20px 30px;
}

.thumb-card.width-e .content-frame,
.thumb-card.width-f .content-frame,
.thumb-card.width-g .content-frame,
.thumb-card.width-h .content-frame {
    padding: 40px;
}

.post-card .title {
    font-size: 1.2em;
}

.post-card .card-synopsis {
    font-size: 0.6em;
}

.post-card .title, .post-card .card-synopsis {
    color: white;
}

.post-card.article .shadow-frame {
    padding: 20px 5px 20px 5px;
    background-image: linear-gradient(to top, black 0%, alpha(black, 0.69) 30%, alpha(black, 0.5) 49%, alpha(black, 0) 100%);
}

.post-card.set {
    background-image: url('resource:///com/endlessm/knowledge/data/images/deckbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.post-card.set .shadow-frame {
    background-color: white;
}

.post-card.set .title {
    color: #044A80;
}

.search-result-card {
    background-color: white;
    color: black;
}

.search-result-card .title,
.search-result-card .card-synopsis {
    padding-left: 8px;
}

EknSideMenuTemplate .context-bar {
    background-image: linear-gradient(to bottom, alpha(black, 0.05) 0%,
                                                 alpha(black, 0) 100%),
                      linear-gradient(0deg, #e7ecee 0%, #e7ecee 100%);
    box-shadow: 0px 2px 5px 0px alpha(black, 0.15);
}

EknSideMenuTemplate .menu {
    background-color: white;
    box-shadow: 0px 1px 20px 0px alpha(black, 0.5);
}

EknSideMenuTemplate .menu .home-button {
    font-size: 1.2em;
    font-family: 'Lato Thin';
    font-weight: bold;
    color: #044a80;
}

EknSideMenuTemplate .menu .home-button:hover {
    color: #5bc2e5;
}

EknSideMenuTemplate .menu .separator {
    -GtkSeparator-wide-separators: 0;
    color: #cccccc;
}

EknSideMenuTemplate .close-button,
EknSideMenuTemplate .menu-button {
    color: #555753;  /* FIXME: no spec from design */
}

EknSideMenuTemplate .menu-button {
    padding: 10px;
}

EknSideMenuTemplate .close-button:hover,
EknSideMenuTemplate .menu-button:hover {
    color: #5bc2e5;  /* FIXME: no spec from design */
}

EknContextBanner {
    font-family: 'Lato Thin';
    font-size: 22px;
    color: #666666;
    text-shadow: 0px 1px alpha(white, 0.004);
}
