@import url('resource:///com/endlessm/knowledge/data/css/endless_knowledge.css');

/* This is all temporary */

.card .title {
    font-family: Lato;
    font-weight: 300;
}

.text-card .title.label {
    color: #204a87;
    font-weight: normal;
    font-size: 1.5em;
    border-bottom: solid 1px gray;
}

.text-card:hover .title.label {
    color: #3465a4;
}

EknHighlightsModule,
EknThematicModule {
    background-color: #d3d7cf;
}

.thumb-card {
    background-color: white;
}

.thumb-card .title, .thumb-card .card-synopsis {
    color: black;
}

.thumb-card .title {
    font-size: 1.5em;
}

.post-card .shadow-frame {
    padding: 20px 5px 20px 5px;
    background-image: linear-gradient(to top, black 0%, alpha(black, 0.69) 30%, alpha(black, 0.5) 49%, alpha(black, 0) 100%);
}

.post-card .title {
    font-size: 1.5em;
}

.post-card .card-synopsis {
    font-size: 0.6em;
}

.post-card .title, .post-card .card-synopsis {
    color: white;
}

.search-result-card {
    background-color: white;
    color: black;
}

.search-result-card .title,
.search-result-card .card-synopsis {
    padding-left: 8px;
}
