@define-color template-b-text-color #eeccf8;
@define-color template-b-text-color-hover #d64970;
@define-color template-b-text-color-highlighted #333333;

.window {
    /* Changed color here so scrollbars are visible. Only affects smoke tests all
     * apps have image backgrounds.*/
    background-color: #888888;
}

.article-search {
    background-color: #dbdbdb;
    padding: 3px;
}

.article-search .entry {
    background: rgba(0,0,0,0.3);
    padding: 0.5em .3em 0.5em .3em;
    font-size: 10px;
    color: #fff;

    -GtkWidget-focus-line-width: 0;
    border-style: solid;
    border-radius: 50px;

    border-width: 3px;
    border-color: rgba(0,0,0,0.25);
}

.article-search .button {
    padding: 5px;
    color: #7a7e7f;
}

.article-search .button:hover {
    color: #54595a;
}

.card.invisible {
    opacity: 0.0;
}

.card.fade-in {
    /* FIXME: we have to add in a margin transition here or we override the card a
     * margin transition. Would be good to have to copy the margin theme to two
     * places. Investigate and fix. */
    transition: opacity 1000ms ease-in-out,
                margin 250ms ease-in-out;
    opacity: 1.0;
}

.card .thumbnail {
    background-position: center;
    background-size: 100% 100%;
    border-width: 0px;
}

EknWindow {
    background-position: 0% 50%;
    background-repeat: no-repeat;
}

.section-page-a .title,
.section-page-b .title,
.search-page-a .title,
.search-page-b .title {
    font-family: Montserrat;
    font-weight: bold;
}

.section-page-a .title,
.search-page-a .title {
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

.section-page-a .title,
.search-page-a .title {
    font-size: 2.25em; /* 36pt * 1/12 * 0.75 DPI correction factor */
}

.window-small .section-page-a .title,
.window-small .search-page-a .title {
    font-size: 1.75em; /* 28pt * 1/12 * 0.75 DPI correction factor */
}

.search-page-a .search-results .results-message-title,
.search-page-a .search-results .results-message-subtitle,
.search-page-a .search-results .error-message {
    padding-top: 2.0em;
}

.window-small .search-page-a .search-results .results-message-title,
.window-small .search-page-a .search-results .results-message-subtitle,
.window-small .search-page-a .search-results .error-message {
    padding-top: 1.5em;
}

.search-page-b .search-results .results-message-title,
.search-page-b .search-results .results-message-subtitle,
.search-page-b .search-results .error-message {
    font-size: 1.2em;
    padding: 10px 25px;
}

.window-small .search-page-b .search-results .results-message-title,
.window-small .search-page-b .search-results .results-message-subtitle,
.window-small .search-page-b .search-results .error-message {
    font-size: 0.8em;
    padding: 8px 15px;
}

.section-page-a separator,
.search-page-a separator {
    color: rgba(255, 255, 255, 0.3);
}

.section-page-b .title,
.search-page-b .title {
    font-size: 4.5em; /* 72pt * 1/12 * 0.75 DPI correction factor */
    padding: 0.9em 0em 0.9em 1.2em;
    color: white;
}

.window-small .section-page-b .title,
.window-small .search-page-b .title {
    font-size: 3.5em; /* 56pt * 1/12 * 0.75 DPI correction factor */
    padding: 0.9em 0em 0.9em 1.2em;
    color: white;
}

.card-a {
    padding: 10px 10px 0px 10px;
    margin: 3px;
    background-image: linear-gradient(to left, white, white);
    background-size: 95% 95%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-size 250ms ease-in-out;
}

.card-a:hover {
    background-size: 100% 100%;
}

.card-a .title {
    padding: 4px 0px 4px 0px;
    color: #d16550;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    transition: padding 250ms ease-in-out;
}

.section-page-a .card-a .title,
.search-page-a .card-a .title {
    font-size: 0.9em;
    text-shadow: 0px 1px 0px white;
}

.home-page-a .card-a .title {
    padding: 9px 0px 9px 0px;
}

.sidebar-template .sidebar .text-card {
    padding: 6px;
    border: 2px solid alpha(white, 0);
    background-color: alpha(white, 0);
    transition-timing-function: ease-in-out;
    transition: color 250ms,
                background-color 250ms,
                background-image 250ms,
                border 250ms;
}

.sidebar-template .sidebar .text-card .title {
    padding: 0em 0em 0em 1.5em;
    font-family: Lato;
    font-size: 1.125em; /* 18pt * 1/12 * 0.75 DPI correction factor */
    font-weight: normal;
    color: @template-b-text-color;
}

.sidebar-template .sidebar .text-card:hover,
.sidebar-template .sidebar .text-card.highlighted:hover {
    text-shadow: 0px 1px 0px white;
    border: 2px solid white;
    background-color: alpha(white, 0.9);
    background-image: linear-gradient(-179deg,
                                      alpha(white, 0.05) 0%,
                                      alpha(black, 0.05) 100%);
    box-shadow: 0px 0px 20px 0px black;
}

.sidebar-template .sidebar .text-card:hover .title {
    color: @template-b-text-color-hover;
}

.sidebar-template .sidebar .text-card.highlighted {
    background: alpha(white, 0.8);
    text-shadow: 0px 1px 0px white;
    font-weight: bold;
    transition-property: none;
}

.sidebar-template .sidebar .text-card.highlighted .title,
.sidebar-template .sidebar .text-card.highlighted:hover .title {
    color: @template-b-text-color-highlighted;
}

.card-a .card-synopsis {
    padding: 0px 0px 4px 0px;
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    text-shadow: white 0px 1px 0px;
}

.pdf-card-icon {
    padding-top: 10px;
    transition: padding 250ms ease-in-out;
}

.pdf-card-icon:hover {
    padding-left: 4px;
}

.pdf-card-label {
    padding-top: 10px;
    padding-left: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    color: #666666
}

@define-color card-b-border-color alpha(black, 0.7);
@define-color card-b-border-color-hover white;

.card-b {
    border-style: solid;
    border-width: 5px;
    border-color: @card-b-border-color;
    box-shadow: -4px 0px 20px 0px alpha(black, 0.40);
    transition: border-color 250ms ease-in-out;
}

.card-b:hover {
    border-color: @card-b-border-color-hover;
    box-shadow: 0px 0px 10px 0px alpha(black, 0.81);
}

.card-b .thumbnail {
    background-size: cover;
}

.card-b .title {
    color: @template-b-text-color;
    font-size: 1.8em;
    padding: .9em 0em;
    background-color: @card-b-border-color;
    transition-timing-function: ease-in-out;
    transition: color 250ms,
                background-color 250ms,
                background-image 250ms,
                text-shadow 250ms;
}

.card-b:hover .title {
    color: @template-b-text-color-hover;
    text-shadow: 0px 1px 0px white;
    background-color: @card-b-border-color-hover;
    background-image: linear-gradient(-179deg,
                                      alpha(white, 0.15) 0%,
                                      alpha(black, 0.15) 100%);
}

/* ===== Table of contents styling ===== */
.toc-entry {
    color: rgb(204, 204, 204);
    font-family: Lato;
    font-weight: 900;  /* Black */
    font-size: .7em;
    background-color: transparent;
    transition: background-color 150ms ease-in-out;
    border-radius: 1.75em;
    padding: .75em 0em .75em 0em;
    margin-bottom: .4em;
}

.toc-entry-title {
    padding-left: 1.5em;
}

.toc-entry-index {
    padding: 0em 2em 0em 2em;
}

.toc-entry:hover,
.toc-entry:selected {
    color: white;
}

.toc-entry:selected {
    background-color: alpha(white, 0.247);
}

/* Table of contents up and down buttons */
.toc-arrow {
    color: rgb(204, 204, 204);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: alpha(black, 0.3);
    padding: 5px;
    box-shadow: inset 0px 1px 0px alpha(white, 0.3);
}

.toc-arrow:hover {
    color: white;
    border-color: alpha(black, 0.4);
    box-shadow: inset 0px 1px 0px alpha(white, 0.4);
}

.toc-arrow:insensitive {
    color: alpha(rgb(204, 204, 204), 0.3);
    border-color: alpha(black, 0.15);
    box-shadow: inset 0px 1px 0px alpha(white, 0.15);
}

/* Style table of contents when collapsed without section titles */
.toc.collapsed .toc-entry {
    border-radius: 1.75em 0em 0em 1.75em;
}

.toc.collapsed .toc-entry-index {
    padding-left: 0em;
    padding-right: 0em;
}

@define-color tab-button-background #F16E47;
@define-color tab-button-gradient-light @tab-button-background;
@define-color tab-button-gradient-dark mix (@tab-button-background, black, .35);
@define-color tab-button-gradient-active-light @tab-button-gradient-light;
@define-color tab-button-gradient-active-dark @tab-button-gradient-dark;
@define-color tab-button-gradient-hover-light mix (@tab-button-background, black, .05);
@define-color tab-button-gradient-hover-dark mix (@tab-button-background, black, .5);

.tab-button {
    color: white;
    padding-right: 1.8em;
    padding-left: 2.4em;
    padding-top: 1.0em;
    padding-bottom: 0.9em;
    border-style: solid;
    -GtkButton-image-spacing: 15px;
    font-family: Lato;
    font-weight: bold;
    font-size: 0.75em;  /* 12pt * 1/12 * 0.75 DPI correction factor */
    text-shadow: 0px -1px 0px alpha(black, 0.40);
    icon-shadow: 0px -1px 1px alpha(black, 0.44);
    background: linear-gradient(to bottom,
                                @tab-button-gradient-light,
                                @tab-button-gradient-dark);
    box-shadow: inset 0px 1px 4px 0px alpha(white, 0.19);
}

.tab-button:hover {
    background: linear-gradient(to bottom,
                                @tab-button-gradient-hover-light,
                                @tab-button-gradient-hover-dark);
}

.tab-button:active {
    background: linear-gradient(to bottom,
                                @tab-button-gradient-active-dark,
                                @tab-button-gradient-active-light);
}

.tab-button.bottom {
    border-top-left-radius: 1.7em;
    border-top-right-radius: 1.7em;
}

.tab-button.top {
    border-bottom-left-radius: 1.7em;
    border-bottom-right-radius: 1.7em;
}

.home-page-a .search-box, .home-page-b .search-box {
    box-shadow: inset 0em 0.16em 0.16em alpha(black, 0.14);
    background-image: linear-gradient(-179deg, alpha(black, 0.17) 0%,
                                               alpha(white, 0.13) 79%),
                      linear-gradient(to bottom, white, white);
    background-clip: padding-box;
    padding: 0.75em 0.55em 0.75em 0.55em;
    color: #2e3436;
    font-size: 1em;

    -GtkWidget-focus-line-width: 0;
    border-style: solid;
    border-radius: 10em;

    border-width: .33em;
    border-color: alpha(black, 0.19);
}

.home-page-a .search-box:selected, .home-page-b .search-box:selected {
    background-color: lighter(#2e3436);
    color: #eeeeec;
}

.home-page-a .search-box:focus, .home-page-b .search-box:focus {
    box-shadow: inset 0px 0px 3px 2px #5097D1;
}

.home-page-a .search-box.image, .home-page-b .search-box.image {
    color: #919191;
}

.home-page-a separator {
    border-style: solid;
    border-width: 3px;
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-height: 3;
}

.home-page-b .set-group {
    background-color: black;
}


.section-page-b EknItemGroupModule,
.search-page-b .search-results,
.article-page-b EknItemGroupModule,
.article-page-b .search-results {
    background-color: alpha(black, 0.75);
}

.article-page-b .sidebar {
    padding-left: 60px;
}

.section-page-b .scrollbar.trough,
.search-page-b .scrollbar.trough {
    background-color: alpha(black, 0.5);
    background-image: linear-gradient(89deg,
                                      alpha(white, 0.1) 0%,
                                      alpha(black, 0.1) 100%);
    box-shadow: inset 1px 0px 0px 0px alpha(black, 0.15);
}

.section-page-b .scrollbar.slider,
.search-page-b .scrollbar.slider {
    background-color: #888888;
}

.sidebar-template .content {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.0) 65%, rgba(0,0,0,0.30) 85%, rgba(0,0,0,0.70) 100%);
}

/* FIXME: for the time being, until we can properly customize the webkit
scrollbars, style the GTK scrollbars to look slightly more like them */
window .scrollbar {
    -GtkRange-trough-border: 3px;
    -GtkRange-slider-width: 8px;
}

window .scrollbar.slider {
    background-color: #333333;
    border-radius: 20px;
}

/* Hide scrollbars when animating, they look bad. */
.animating .scrollbar.slider {
    background-color: transparent;
}

.document-card WebKitWebView {
    background-color: #ececec;
    background-image: url('resource:///com/endlessm/knowledge/data/templates/images/noise.png');
}

.document-card .title {
    font-family: Montserrat;
    font-size: 2.25em; /* 36pt * 1/12 * 0.75 DPI correction factor */
    font-weight: bold;
}

.nav-back-button, .nav-forward-button {
    color: white;
    background-color: alpha(black, 0.2);
    border: 1px solid alpha(white, 0.4);
    box-shadow: inset 0px 1px 1px 0px alpha(black, 0.5),
        inset 0px 1px 4px 0px alpha(black, 0.4);
    transition: padding 500ms ease-in-out;
}

.nav-back-button image, .nav-forward-button image {
    color: white;
    box-shadow: 0px 1px alpha(black, 0.8); /* FIXME: box-shadow outset doesn't currently work in GTK */
}

.nav-back-button, .nav-forward-button.rtl {
    border-left: 0px;
    border-radius: 0px 27px 27px 0px;
    padding: 15px 15px 15px 0px;
}

.nav-forward-button, .nav-back-button.rtl {
    border-radius: 27px 0px 0px 27px;
    border-right: 0px;
    padding: 15px 0px 15px 15px;
}

.nav-back-button .image {
    -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
    -EknThemeableImage-min-width: 22;
    -EknThemeableImage-min-height: 22;
}

.nav-forward-button .image {
    -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
    -EknThemeableImage-min-width: 22;
    -EknThemeableImage-min-height: 22;
}

.nav-back-button.rtl .image {
    -gtk-icon-source: -gtk-icontheme("go-previous-symbolic-rtl");
}

.nav-forward-button.rtl .image {
    -gtk-icon-source: -gtk-icontheme("go-next-symbolic-rtl");
}

.pdf-view:not(.overshoot):not(.undershoot) {
    background-image: url('resource:///com/endlessm/knowledge/data/images/pdf-background.png');
}

.webview-tooltip {
    background-color: alpha(black, 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;
}

.webview-tooltip GtkLabel {
    color: white;
    font-family: Lato;
    font-size: 1.0em; /* 16px / 12px/em * 72/96 */
    font-weight: bold;
}
