/* Copyright 2014 Endless Mobile, Inc. */

EosWindow {
    background-color: #efefef;
}

.progress-label {
    font-size: 1em;
    color: #494949;
}

.separator {
    border: 1px solid;
    color: alpha(black, 0.1);
}

.article-snippet .title {
    font-size: 2.0em; /* should be overridden */
}

.article-snippet .synopsis {
    padding-top: 10px;
    color: #f2f2f2;
    font-size: 1em; /* 16px / 12px/em * 72/96 */
}

/* These individual snippet stylings will be
overridden by app specific CSS */
.article-snippet.variant0 .title {
    color: #ef2929;
}

.article-snippet.variant1 .title {
    color: #8ae234;
}

.article-snippet.variant2 .title {
    color: #729fcf;
}

EknSplitPercentageTemplate {
    -EknSplitPercentageTemplate-start-percentage: 0.58;
}

EknSplitPercentageTemplate .end {
    background: rgba(51, 51, 51, 0.30);
    background-image: linear-gradient(-180deg, rgba(176, 176, 176, 0.20) 1%, alpha(black, 0.30) 100%);
}

EknSplitPercentageTemplate .start EknResponsiveMarginsModule {
    -EknResponsiveMarginsModule-margin-threshold-small: 576;
    -EknResponsiveMarginsModule-margin-threshold-medium: 576;
    -EknResponsiveMarginsModule-margin-threshold-large: 576;
    -EknResponsiveMarginsModule-margin-threshold-xlarge: 576;
}

EknSplitPercentageTemplate .start EknResponsiveMarginsModule.tiny {
    margin: 20px;
}

EknSplitPercentageTemplate .start EknResponsiveMarginsModule.small,
EknSplitPercentageTemplate .start EknResponsiveMarginsModule.medium,
EknSplitPercentageTemplate .start EknResponsiveMarginsModule.large,
EknSplitPercentageTemplate .start EknResponsiveMarginsModule.xlarge {
    margin: 60px;
}

EknSplitPercentageTemplate .end EknResponsiveMarginsModule {
    -EknResponsiveMarginsModule-margin-threshold-small: 400;
    -EknResponsiveMarginsModule-margin-threshold-medium: 400;
    -EknResponsiveMarginsModule-margin-threshold-large: 400;
    -EknResponsiveMarginsModule-margin-threshold-xlarge: 400;
}

EknSplitPercentageTemplate .end EknResponsiveMarginsModule.tiny {
    margin: 25px 60px 25px 25px;
}

EknSplitPercentageTemplate .start EknResponsiveMarginsModule.small,
EknSplitPercentageTemplate .end EknResponsiveMarginsModule.medium,
EknSplitPercentageTemplate .end EknResponsiveMarginsModule.large,
EknSplitPercentageTemplate .end EknResponsiveMarginsModule.xlarge {
    margin: 50px 75px 50px 100px;
}

EknSplitPercentageTemplate,
.back-cover {
    background-size: cover;
    background-position: center;
}

.search-results-page .title {
    font-family: Montserrat;
    color: black;
    padding: 1em 0em 1em 0em;
}

.search-results-page .title {
    font-size: 2.25em; /* 36pt * 1/12 * 0.75 DPI correction factor */
}

.window-small .search-results-page .title {
    font-size: 1.75em; /* 28pt * 1/12 * 0.75 DPI correction factor */
}

.search-results-page {
    background-color: #CCCCCC;
}

.search-results .results-message-title,
.search-results .results-message-subtitle,
.search-results .error-message {
    padding-top: 2.0em;
    color: black;
    font-size: 1.2em;
}

.search-results .results-message-title.query {
    font-style: italic;
}

.search-results .suggestions-message {
    font-size: 1.5em;
    color: gray;
}

.back-cover .title {
    font-size: 2em;
    color: #fce94f;
    padding-bottom: 5px;
}

.back-cover .subtitle {
    padding: 3px 60px 0px 60px;
    font-size: 1em; /* 16px / 12px/em * 72/96 */
    color: #eeeeec;
}

.back-cover .progress-label {
    color: white;
    padding-top: 20px;
}

.error-page {
    color: black;
}

.document-card .title {
    font-size: 4em;
}

.document-card .attribution {
    font-size: 0.75em;
}

.document-card.variant0 .title {
    color: #ef2929;
}

.document-card.variant0 .attribution {
    color: #a40000;
}

.document-card.variant1 .title {
    color: #8ae234;
}

.document-card.variant1 .attribution {
    color: #4e9a06;
}

.document-card.variant2 .title {
    color: #729fcf;
}

.document-card.variant2 .attribution {
    color: #204a87;
}

.document-card .decoration {
    background-color: #e3e3e3;
}

.nav-back-button, .nav-forward-button {
    color: white;
    background-color: alpha(black, 0.3);
    padding: 16px; /* (55px (button width) - 23px (icon width)) / 2 */
    opacity: 1.0;
    transition: opacity 400ms;
    -EknGrowButton-grow-pixels: 8;
}

.nav-back-button GtkImage, .nav-forward-button GtkImage {
    color: white;
}

.nav-back-button {
    border-left: 0px;
    border-radius: 0px 6px 6px 0px;
    padding-left: 24px;
}

.nav-forward-button {
    border-radius: 6px 0px 0px 6px;
    border-right: 0px;
    padding-right: 24px;
}

.nav-back-button .image {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/reader/left-arrow.svg');
    -EknThemeableImage-min-width: 24;
    -EknThemeableImage-min-height: 23;
}

.nav-forward-button .image {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/reader/right-arrow.svg');
    -EknThemeableImage-min-width: 24;
    -EknThemeableImage-min-height: 23;
}

.animating .nav-forward-button, .animating .nav-back-button {
    opacity: 0;
    transition: opacity 400ms;
}

.open-button {
    border: 5px solid alpha(black, 0.35);
    border-radius: 35px;
}

.open-button GtkLabel {
    font-weight: 900;
    font-size: 0.625em;
    color: #333333;
    text-shadow: 0px 1px 0px white;
}

.open-button GtkFrame {
    background-image: linear-gradient(-180deg,
                                      alpha(white, 0.20) 0%,
                                      alpha(black, 0.20) 100%);
    background-color: #ECECEC;
    padding: 5px 15px 5px 20px;
    border: 1px solid black;
    border-radius: 25px;
}

.reader-card {
    background-color: #f4f4f4;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: -gtk-gradient(radial, center center, 0, center center, 0.5,
                        from(#aaa), to(#ccc))
                  40 40 40 40 stretch;
}

.reader-card .title {
    font-size: 1.25em; /* 20px / 12px/em * 72/96 */
    text-shadow: 0px 1px 0px white;
}

.reader-card.variant0 .title {
    color: #ef2929;
}

.reader-card.variant1 .title {
    color: #8ae234;
}

.reader-card.variant2 .title {
    color: #729fcf;
}

.hover-frame {
    background-color: alpha(#d7d7d7, 0.9);
}

.card-info-frame {
    background-color: alpha(black, 0.4);
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
}

.card-info-title {
    color: white;
    font-size: 1.0em; /* 16px / 12px/em * 72/96 */
    font-weight: 300; /* Light */
}

EknSplitPercentageTemplate .subtitle {
    font-family: Roboto;
    font-size: 1.06em; /* 17px / 12px/em * 72/96 */
    color: white;
    text-shadow: 0px 2px 5px alpha(black, 0.43);
}

.webview-tooltip {
    background-color: alpha(black, 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;
}

.webview-tooltip GtkLabel {
    color: white;
    font-family: Lato;
    font-size: 1.0em; /* 16px / 12px/em * 72/96 */
    font-weight: bold;
}

.webview-tooltip .tooltip-type-label {
    font-size: 0.625em; /* 10px / 12px/em * 72/96 */
}

.webview-tooltip .archive-icon {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/reader/archive.svg');
}

.webview-tooltip .external-link-icon {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/reader/external-link.svg');
}

.archive-notice-frame {
    background-color: #D1D1D1;
    border-radius: 5px;
    padding: 5px;
}

/* FIXME: for the time being, until we can properly customize the webkit
scrollbars, style the GTK scrollbars to look slightly more like them */
.scrollbar {
    -GtkRange-trough-border: 3px;
    -GtkRange-slider-width: 8px;
}

.scrollbar.slider {
    background-color: #333333;
    border-radius: 20px;
}

/* Changes for composite TVs */

.composite {
    font-family: Roboto;
}

.composite .progress-label,
.composite .article-snippet .synopsis {
    font-size: 14px;
}

.composite .reader-card .title {
    font-size: 18px;
    font-weight: 500;
}

.composite EknSplitPercentageTemplate .end {
    background-image: linear-gradient(to bottom, alpha(black, 0.7) 0%,
                                      alpha(black, 0.7) 100%);
}

.composite .back-cover GtkGrid {
    background-image: linear-gradient(to bottom, alpha(black, 0.5) 0%,
                                      alpha(black, 0.5) 100%);
}

.composite .back-cover .subtitle {
    font-size: 18px;
}

.composite .document-card .title {
    font-weight: bold;
    font-size: 22px;
}
