* {
    font-family: Lato; /* Default text */
}

.entry {
    background: rgba(0,0,0,0.2);
    padding: 0.5em .3em 0.5em .3em;
    font-size: 10px;
    color: #fff;

    -GtkWidget-focus-line-width: 0;
    border-style: solid;
    border-radius: 50px;

    border-width: 3px;
    border-top-color: rgba(0, 0, 0, 0.49);
    border-left-color: rgba(0, 0, 0, 0.49);
    border-right-color: rgba(0, 0, 0, 0.49);

    border-bottom-color: rgba(255, 255, 255, 0.14);
}

PopupWindow {
    background-color: alpha(black, 0.6);
    font-size: 13px;
    color: #686868;
}

PopupWindow .frame {
    background-color: white;
    border-radius: 15px;
}

PopupWindow .button {
    color: #888;
}

PopupWindow .button:hover {
    color: white;
}

GtkEntry:selected {
    background-color: gray;
}

/* WebKit creates GTK tooltips internally, so style them here */
.tooltip {
    border-radius: 5px;
    background-color: alpha(#212526, 0.90);
}

.search-results {
    color: #464646;
}

.encyclopedia-content-template .title {
    font-weight: 300;
    font-size: 2em; /* 24px / 12px/em */
    color: #7e7e7e;
    padding-left: 10px;
    padding-top: 20px;
}

.encyclopedia-content-template .separator {
    padding-bottom: 35px;
    background-image: url('resource:///com/endlessm/knowledge/images/separator.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* FIXME: move oops block up to 1/3 of the vertical! */

.search-results .error-message {
    font-size: 4.25em;  /* 63px / 12px/em */
    font-weight: 300;
}

.search-results .no-results-message {
    font-size: 1.25em;  /* 15px / 12px/em */
    font-weight: normal;
}

.search-results .card {
    padding-bottom: 2em; /* (39px line height - 15px text height) / 12px/em */
}

.search-results .card .title {
    font-weight: normal;
    font-size: 1.25em;  /* 15px / 12px/em */
    color: #277090;
    padding: 0 0 0 0;
}

.search-results .card .decoration {
    color: rgba(145, 145, 145, 0.5);
    padding-right: 0.8em;
}

.paper-template .content {
    background-color: #e9e4de;
}
