@import "project-setup";
@import "compass";

/* === Colors and Fonts (Overrides) === */

$base-color: #0e82c5 !default;
$highlight-color: #f5d888  !default;

$background-light-color: #2b2b2c !default;
$background-dark-color: #141418 !default;
$background-dark-color-hover: #1e1e22 !default;
$card-context-color: #b3b3b3 !default;

$title-font: Raleway !default;
$context-font: Raleway !default;
$display-font: 'Raleway Black' !default;

@import "base";

.WindowSimple {
  background-color: $background-light-color;
  background-image: none;
}

.DecorationThemeableImage {
  margin: 0px 30px;
}

.NavigationSearchBox {
  font-family: $context-font;
}

.home-page {
  .landing {
    .background {
      background-image: url($primary-background-image);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 400px;
    }

    .BannerDynamic {
      &__logo {
        -EknDynamicLogo-sizing: "size-min";
        color: white;
        min-height: 120px;
        min-width: 400px;
        font-weight: normal;
        font-family: $display-font;
        font-size: 72px;
      }
    }

    .StaticText {
      color: white;
      font-size: 30px;
      font-family: $title-font;
      font-weight: 500;
      margin-top: -0.90em;
    }
  }

  .ContentGroupContentGroup {
    padding: 40px;
  }
}

.CardList {
  &__checkmark {
    margin-right: 20px;
    min-width: 39px;
    min-height: 38px;
    -gtk-icon-source: none;
  }
  &:hover &__title {
      color: $accent-light-color;
  }
}

.set-page, .search-page {
  &.background {
    background-image: url($secondary-background-image);
    background-repeat: no-repeat;
  }

  .LayoutResponsiveMargins {
      &--small {
          margin: 0px 60px;
      }

      &--medium {
          margin: 0px 95px;
      }

      &--large {
          margin: 0px 100px;
      }

      &--xlarge {
          margin: 0px 240px;
      }
  }

  .LayoutInfiniteScrolling {
    background-color: transparent;
    .search-results {
      background-color: transparent;
    }
  }

  .ContentGroupContentGroup,
  .BannerSearch {
    &__title {
      font-size: 48px;
      font-family: $display-font;
      margin: 90px 0;
    }
    padding: 0px 20px 20px 20px;
  }

  .ArrangementList {
    margin: 0;
    .CardList {
      background-color: $background-dark-color;
      &:hover {
        background-color: $background-dark-color-hover;
      }
      transition: background-color 50ms ease-in-out;
      &__title {
        font-size: 24px;
        color: $primary-medium-color;
        font-weight: 500;
      }

      &__thumbnail {
        min-height: 150px;
      }

      &__context {
        font-size: 16px;
        color: $card-context-color;
        font-weight: 300;
      }

      &__title,
      &__context {
        padding-left: 20px;
      }

      padding-right: 20px;
      box-shadow: none;
      margin: 0px 100px 10px 100px;
    }
  }
}

.ContentGroupNoResultsMessage {
  font-family: $context-font;
  margin-top: 50px;
  padding: 0;
  &__title,
  &__subtitle {
    font-size: 1.50em;
    color: white;
    padding: 0em 1.25em 0em 1.25em;
    font-style: normal;
  }
  &__subtitle {
    margin-top: 1.0em;
    padding: 0;
  }
}

.ArrangementAccordion {
  &__title {
    background-color: $base-color;
    color: white;
    font-size: 24px;
    font-family: $support-font;
    border-bottom: 2px solid white;
    padding: 15px 0px 15px 30px;
  }
}

.ArrangementSideBySide {
  .CardTitle {
    &__title {
      color: white;
      font-size: 24px;
      -EknFormattableLabel-text-transform: 'uppercase';
      font-family: $support-font;
    }
    &:hover .CardTitle__title {
        border-bottom: none;
    }
    &.highlighted {
        background-color: transparent;
        .CardTitle__title {
            color: $highlight-color;
        }
    }
  }
}

/* For some reason both of these doesn't work if put inside .ArrangementGrid
where they need to be */
.Card {
  &.width-c &__title,
  &.width-d.height-c &__title,
  &.width-d.height-b &__title {
    font-size: 16px;
  }
}

.CardThumb {
  &.width-d.height-b &__contentFrame,
  &.width-e.height-b &__contentFrame,
  &.width-e.height-c &__contentFrame {
    padding: 20px;
  }
}


.ArrangementGrid {
  padding: 10px;
  .CardThumb {
    margin: 12px;
    min-width: 360px;
    background-color: $background-dark-color;
    box-shadow: none;
    &:hover {
      background-color: $background-dark-color-hover;
    }
    transition: background-color 50ms ease-in-out;
    &__title {
      font-size: 16px;
      font-weight: 500;
    }
    &.highlighted {
        .CardThumb__title {
          color: $primary-medium-color;
        }
    }
    &__context {
      font-size: 16px;
      font-weight: normal;
      color: $card-context-color;
      font-weight: 300;
    }
    &__thumbnail {
      background-color: $background-dark-color;
    }
  }
}

.footer {
  min-height: 102px;
  background-color: #323233;
}

.composite {
  .home-page {
    .landing {
      .background {
        min-height: 250px;
      }

      .BannerDynamic {
        &__logo {
          min-height: 120px;
          min-width: 300px;
        }
      }

      .StaticText {
        font-size: 20px;
        margin-top: -1.5em;
      }
    }
  }

  .set-page,
  .search-page {
    .ContentGroupContentGroup,
    .BannerSearch {
      &__title {
        font-size: 30px;
        margin: 30px 0px;
      }
    }

    &.background {
      background-size: 100%;
    }
  }

  .ContentGroupNoResultsMessage {
    margin-top: 30px;
    &__title,
    &__subtitle {
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
    &__subtitle {
      margin-top: 1.0em;
    }
  }
}
