@import "base";

.home-page,
.set-page,
.search-page {
    .BannerSet,
    .BannerSearch {
        // Getting rid of default margin to consistently space page content groups
        margin-top: 0;
        margin-bottom: 40px;
    }

    .LayoutBox,
    .ContentGroup--maincontent {
        margin-top: 130px;
    }

    .LayoutBox .LayoutBox {
        margin-top: 0;
        margin-bottom: 0;
    }

    .LayoutResponsiveMargins--complementarycontent,
    .ContentGroup--complementarycontent {
        padding-bottom: 0;
    }
}

.ContentGroupNoResultsMessage {
    padding-bottom: 50px;
}

.LayoutResponsiveMargins--complementarycontent,
.article-page .ContentGroup--complementarycontent {
    background-color: $background-dark-color;
}

.article-page .ContentGroup--complementarycontent {
    // margin-right is to leave room for scrollbar
    margin-right: 14px;
    padding: 50px 100px;
}

.search-page .LayoutBox {
    padding-left: 50px;
    padding-right: 50px;
}

// FIXME: These 2 selector styles should be integrated into the framework.
.PagerSimple {
    margin-top: 0;
}

.WindowSimple scrollbar {
    padding: 3px;
    background-color: transparent;
    slider {
        background-color: transparentize(#787c7d, 1 - 0.50);
    }
}
