@import "base";

.home-page,
.set-page,
.search-page {
    .BannerSet,
    .BannerSearch {
        // Getting rid of default margin to consistently space page content groups
        margin-top: 0;
        margin-bottom: 40px;
    }

    .LayoutBox,
    .ContentGroup--maincontent {
        margin-top: 130px;
    }

    .LayoutBox .LayoutBox {
        margin-top: 0;
        margin-bottom: 0;
    }

    .LayoutResponsiveMargins--complementarycontent,
    .ContentGroup--complementarycontent {
        padding-bottom: 0;
    }
}

.ContentGroupNoResultsMessage {
    padding-bottom: 50px;
}

.LayoutResponsiveMargins--complementarycontent,
.article-page .ContentGroup--complementarycontent {
    background-color: $background-dark-color;
}

.article-page .ContentGroup--complementarycontent {
    // margin-right is to leave room for scrollbar
    margin-right: 14px;
    padding: 50px 100px;
}

.search-page .LayoutBox {
    padding-left: 50px;
    padding-right: 50px;
}

// FIXME: These 2 selector styles should be integrated into the framework.
.PagerSimple {
    margin-top: 0;
}

.WindowSimple {
    scrollbar {
        padding: 3px;
        background-color: #c3c4c4;
        border: 1px solid #b6b6b2;
        // margin-top is for being covered by Layout.TopMenu
        margin-top: 50px;

        slider {
            min-width: 6px;
            background-color: #787c7d;
        }
    }
}
