@import "base";

.PagerParallaxBackground {
    -EknPager_Simple-transitions-style: 'slide-all';
}

.home-page {
    .BannerDynamic__logo {
        margin: 30px;
        min-height: 100px;
        .composite & {
            min-height: 40px;
        }
    }

    .ArrangementOverflow {
        margin: 40px 150px 20px 150px;
        .CardDefault {
            margin: 5px;
        }
    }

    .ArrangementSquareGuys {
        margin: 50px 120px 60px;
    }
}

.set-page,
.search-page {
    .BannerSet,
    .BannerSearch {
        margin-bottom: 50px;
    }

    .BannerSet .Card__title,
    .BannerSearch__title {
        font-family: $title-font;
        color: white;
        font-size: 55px;
        text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
    }

    .ContentGroup--articles {
        padding: 0px 60px 60px 60px;
    }
}

.ContentGroupNoResultsMessage {
    margin-top: -100px;
    &__title,
    &__subtitle {
        text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
    }
    &__title {
        color: white;
        font-size: 2.5em;
    }
    &__subtitle {
        color: transparentize(white, 1 - 0.80);
    }
}

.composite {
    .BannerApp .ThemeableImage {
        min-height: 50px;
    }

    .NavigationSearchBox {
        min-width: 50px;
    }

    .home-page {
        .ArrangementOverflow {
            padding: 0px;
        }
    }

    .set-page,
    .search-page {
        padding: 0px;

        .ContentGroupContentGroup__title,
        .BannerSet__title,
        .BannerSearch__title {
            font-family: $display-font-composite;
        }

        .BannerSet .Card__title,
        .BannerSearch__title {
            font-size: 30px;
        }

        .ContentGroupContentGroup {
            padding: 0px 40px 20px 40px;
        }

        .ContentGroupNoResultsMessage {
            &__title,
            &__subtitle {
                font-size: 20px;
            }
            &__title {
                font-weight: bold;
            }
        }
    }
}
