@import "base";

.home-page {
  .BannerDynamic__logo {
      margin: 30px 30px 20px 30px;
      min-height: 100px;
      .composite & {
          min-height: 40px;
      }
  }

  .ArrangementOverflow {
      margin: 40px 150px 20px 150px;
      .CardDefault {
          margin: 5px;
      }
  }

  .ArrangementSquareGuys {
    margin-top: 50px;
  }

  .DecorationThemeableImage {
    margin: 0 20px -20px 0;
  }
}

.BannerSet .CardTitle__title,
.subset-page .ContentGroupContentGroup__title,
.BannerSearch__title {
  font-weight: 900;
  color: white;
  font-family: $title-font;
}

.LayoutSidebar .sidebar {
  background-color: transparentize(black, 1 - 0.80);

  .CardTitle {
    &__title {
      font-family: $display-font;
      font-weight: 400;
    }

    &:active,
    &.highlighted {
      .CardTitle__title {
        background-color: black;
      }
    }
  }
}

.PagerParallaxBackground--right .LayoutSidebar .sidebar {
  margin-left: 60px;
}

.subset-page {
  .content {
    background-color: $primary-dark-color;

    .ContentGroupContentGroup {
      padding: 0 70px 50px 70px;
    }
  }

  .ContentGroupContentGroup__title {
    font-size: 51px;
    margin-top: 40px;
  }
}

.ContentGroupNoResultsMessage {
  margin-top: -100px;
  &__title,
  &__subtitle {
    text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
  }
  &__title {
    color: white;
    font-size: 2.5em;
  }
  &__subtitle {
    color: transparentize(white, 1 - 0.80);
  }
}

.search-page {
  .BannerSearch {
    font-weight: 900;
    padding: 1.0em 1.0em 0.50em 1.0em;
  }
}

.composite {
  .home-page,
  .set-page,
  .subset-page,
  .search-page {
    .BannerSet .CardTitle__title,
    .BannerSearch__title,
    .ContentGroupContentGroup__title {
      font-family: $display-font-composite;
      font-size: 30px;
    }

    .BannerSet {
      margin-left: 3.0em;
      margin-right: 1.0em;
    }

    .ContentGroupNoResultsMessage {
      &__title,
      &__subtitle {
        font-size: 20px;
      }
      &__title {
        font-weight: bold;
      }
    }
  }

  .subset-page,
  .article-page {
    .sidebar .CardTitle__title {
      font-family: $display-font-composite;
      padding-right: 0.5em;
    }
  }
}
