@import "project-setup";
@import "compass";

@import 'mesh';

.home-page {
  .BannerDynamic {
    &__logo {
      -EknDynamicLogo-sizing: "size-min";
      min-height: 250px;
      font-weight: normal;
      font-size: 77px;
    }
    .composite & {
        .BannerDynamic__logo {
          min-height: 50px;
        }
    }
  }

  .CardLegacyPolaroid {
    padding: 0px;
    &__title {
      font-size: 18px;
    }
  }

  .DecorationThemeableImage {
    margin: 0 20px -20px 0;
  }
}

.set-page .BannerSet {
  margin: 0 0 45px 45px;
  .CardTitle {
      &__title {
        font-family: $logo-font;
      }
  }
}

.subset-page, .article-page {
  .sidebar {
    padding-left: 60px;
  }
}

.subset-page {
  .content {
    background-color: $primary-dark-color;
    background-image: none;
  }

  .ContentGroupContentGroup {
    &__title {
      font-size: 51px;
      font-weight: bold;
      font-family: $title-font;
      margin: 30px 0;
    }
  }
}

.search-results {
  background-color: transparent;
  .ContentGroupNoResultsMessage__title,
  .ContentGroupNoResultsMessage__subtitle {
      color: white;
      font-size: 16px;
      font-style: normal;
      padding: 2.0em 0 0 0;
  }
}

.sidebar {
    scrollbar {
        trough {
            padding: 0px 3px;
            background-color: transparentize(black, 1 - 0.5);
            background-image: linear-gradient(89deg,
                                              transparentize(white, 1 - 0.1) 0%,
                                              transparentize(black, 1 - 0.1) 100%);
            box-shadow: inset 1px 0px 0px 0px transparentize(black, 1 - 0.15);
        }

        slider {
            background-color: #888888;
        }
    }

    .ContentGroupContentGroup {
        background-color: transparentize(black, 1 - 0.75);
    }

    .ContentGroupNoResultsMessage__title,
    .ContentGroupNoResultsMessage__subtitle {
        color:white;
        font-size: 1.2em;
        font-style: normal;
        padding: 10px 25px;
    }
}
