@import "base";

.CardLegacyPolaroid {
  box-shadow: 0px 2px 3px transparentize(black, 1 - 0.40);
}

.home-page {
  .BannerDynamic {
    &__logo {
      -EknDynamicLogo-sizing: "size-min";
      min-height: 200px;
      font-weight: normal;
      font-size: 77px;
    }
    .composite & {
        .BannerDynamic__logo {
          min-height: 40px;
        }
    }
  }

  .CardLegacyPolaroid {
    padding: 0px;
    &__title {
      font-size: 18px;
      padding: 0.75em 0.50em;
    }
  }

  .DecorationThemeableImage {
    margin: 0 20px -20px 0;
  }
}

.BannerSet .CardTitle__title,
.subset-page .ContentGroupContentGroup__title,
.BannerSearch__title {
  font-weight: 900;
  color: white;
  font-family: $title-font;
}

.LayoutSidebar .sidebar {
  background-color: transparentize(black, 1 - 0.80);

  .CardTitle {
    &__title {
      font-family: $display-font;
      font-weight: 400;
    }

    &:active,
    &.highlighted {
      .CardTitle__title {
        background-color: black;
      }
    }
  }
}

.PagerParallaxBackground--right .LayoutSidebar .sidebar {
  margin-left: 60px;
}

.subset-page {
  .content {
    background-color: $primary-dark-color;
  }

  .ContentGroupContentGroup__title {
    font-size: 51px;
    margin-top: 40px;
  }
}

.subset-page,
.search-page {
  .CardLegacyPolaroid {
    padding: 11px;
    &__title {
      font-size: 1.0em;
    }
    &__synopsis {
      font-size: 0.75em;
      margin-top: 0.26em;
    }
  }
}

.ContentGroupNoResultsMessage {
  margin-top: -100px;
  &__title,
  &__subtitle {
    text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
  }
  &__title {
    color: white;
    font-size: 2.5em;
  }
  &__subtitle {
    color: transparentize(white, 1 - 0.80);
  }
}

.composite {
  .home-page,
  .set-page,
  .subset-page,
  .search-page {
    .CardLegacyPolaroid__title {
      font-size: 1.0em;
    }

    .CardLegacyPolaroid__synopsis {
      font-size: 1.0em;
    }

    .BannerSet .CardTitle__title,
    .BannerSearch__title,
    .ContentGroupContentGroup__title {
      font-family: $display-font-composite;
      font-size: 30px;
    }

    .BannerSet {
      margin-left: 3.0em;
      margin-right: 1.0em;
    }

    .ContentGroupNoResultsMessage {
      &__title,
      &__subtitle {
        font-size: 20px;
      }
      &__title {
        font-weight: bold;
      }
    }
  }

  .subset-page,
  .article-page {
    .sidebar .CardTitle__title {
      font-family: $display-font-composite;
      padding-right: 0.5em;
    }
  }
}
