.media-card {
    padding: 10px;
    background-color: white;
}

.media-card separator {
    background-color: #d6d6d6;
    min-height: 1px;
}

.media-card-caption {
    font-size: .81em;  /* 13pt * 1/12 * 0.75 DPI correction factor */
    font-family: Lato;
    color: #666666;
}

.media-card-attribution-text {
    font-weight: bold;
    font-size: .62em;  /* 10pt * 1/12 * 0.75 DPI correction factor */
    font-family: Lato;
    color: #b2b2b2;
    transition: color 250ms ease-in-out;
}

.media-card-attribution-text:hover {
    color: #ff6900;
}

.composite .media-card-caption {
    font-size: 14.1px;  /* 12px spec * 88% because spec was at 110% scale not 125% */
}

.composite .media-card-attribution-text {
    font-size: 10.5px;  /* 9px spec * 88% */
}
