@import "project-setup";
@import "compass";

$primary-light-color: #eeccf8 !default;
$primary-medium-color: #d64970 !default;
$primary-dark-color: #2e3436 !default;

$background-light-color: #ececec !default;
$background-dark-color: #d3d7cf !default;

$accent-light-color: #f16e47 !default;
$accent-dark-color: #d16550 !default;

$legacy-post-card-border-color: transparentize(black, 1 - 0.70) !default;
$legacy-post-card-border-color-hover: white !default;

$body-font: 'Lato' !default;
$title-font: 'Montserrat' !default;
$title-font-composite: 'Roboto' !default;
$display-font: 'Lato' !default;
$display-font-composite: 'Roboto' !default;

@import 'assets';
@import 'colors';
@import 'typography';

@import 'modules/banner/app';
@import 'modules/banner/search';

@import 'modules/card/base';
@import 'modules/card/knowledgeDocument';
@import 'modules/card/legacyPolaroid';
@import 'modules/card/legacyPost';
@import 'modules/card/media';

@import 'modules/contentGroup/contentGroup';
@import 'modules/contentGroup/mediaLightbox';
@import 'modules/contentGroup/noResultsMessage';

@import 'modules/documentCard/base';

@import 'modules/layout/hamburgerBasement';
@import 'modules/layout/navigation';
@import 'modules/layout/sidebar';

@import 'modules/navigation/searchBox';

@import 'modules/pager/parallaxBackground';

@import 'modules/window/simple';

.WindowSimple {
    /* Changed color here so scrollbars are visible. Only affects smoke tests all
     * apps have image backgrounds.*/
    background-color: #888888;

    background-position: center;
    background-repeat: no-repeat;

    /* FIXME: for the time being, until we can properly customize the webkit
    scrollbars, style the GTK scrollbars to look slightly more like them */
    scrollbar {
        background-color: transparent;
        padding: 0px;

        slider {
            min-height: 8px;
            background-color: #333333;
        }

        trough {
            padding: 3px;
        }
    }
}

.set-page,
.search-page {
    .ContentGroupContentGroup__title,
    .title {
        font-family: $title-font;
        font-weight: bold;
    }
}

.ContentGroupContentGroup {
    .ArrangementScrollingList__grid {
        padding: 0;
    }
}

.results-message-background {
    background-color: transparent;
}

.pdf-card-icon {
    padding-top: 10px;
}

.pdf-card-label {
    font-size: 0.9em;
    color: #666666;
}

.media-card-caption {
    color: #666666;
}

.media-card-attribution-text {
    color: #b2b2b2;
}

.NavigationSearchBox {
    .home-page & {
        box-shadow: inset 0em 0.16em 0.16em transparentize(black, 1 - 0.14);
        background-image: linear-gradient(-179deg, transparentize(black, 1 - 0.17) 0%,
                                                   transparentize(white, 1 - 0.13) 79%),
                          linear-gradient(to bottom, white, white);
        background-clip: padding-box;
        padding: 0.75em 0.55em 0.75em 0.55em;
        color: $primary-dark-color;
        caret-color: $primary-dark-color;
        font-size: 1em;

        border-style: solid;
        border-radius: 10em;

        border-width: .33em;
        border-color: transparentize(black, 1 - 0.19);

        min-width: 400px;

        selection {
            color: white;
            background-color: $primary-dark-color;
        }

        &:selected {
            background-color: lighter($primary-dark-color);
            color: #eeeeec;
        }

        &:focus {
            box-shadow: inset 0px 0px 3px 2px #5097D1;
        }

        image {
            color: #919191;
            margin: 3px 5px;
        }
    }

    .composite .home-page & {
        font-size: 18.8px;  /* 16px spec * 88% */
    }
}

/* Hide scrollbars when animating, they look bad. */
.PagerSimple--animating scrollbar slider {
    background-color: transparent;
}

.webview-tooltip label {
    font-family: $display-font;
}

/* Changes for composite TVs */

.composite {
    font-family: $display-font-composite;

    .title {
        font-family: $title-font-composite;
    }

    headerbar entry {
        font-size: 21.1px;  /* 18px spec * 88% because spec was at 110% scale not 125% */
    }
}
