@import 'common';

@import 'colors';
@import 'typography';

$primary-light-color: #eeccf8;
$primary-medium-color: #d64970;
$primary-dark-color: #2e3436;

$background-light-color: #ececec;
$background-dark-color: #d3d7cf;

$accent-dark-color: #d16550;

$legacy-post-card-border-color: transparentize(black, 1 - 0.70);
$legacy-post-card-border-color-hover: white;

$tab-button-background: #f16e47;
$tab-button-gradient-light: $tab-button-background;
$tab-button-gradient-dark: mix($tab-button-background, black, 65%);
$tab-button-gradient-active-light: $tab-button-gradient-light;
$tab-button-gradient-active-dark: $tab-button-gradient-dark;
$tab-button-gradient-hover-light: mix($tab-button-background, black, 95%);
$tab-button-gradient-hover-dark: mix($tab-button-background, black, 50%);

$body-font: 'Lato';
$title-font: 'Montserrat';
$title-font-composite: 'Roboto';
$display-font: 'Lato';
$display-font-composite: 'Roboto';

@import 'modules/banner/app';

@import 'modules/window/simple';

@import 'preset_a';
@import 'preset_b';

.WindowSimple {
    /* Changed color here so scrollbars are visible. Only affects smoke tests all
     * apps have image backgrounds.*/
    background-color: #888888;

    background-position: center;
    background-repeat: no-repeat;

    /* FIXME: for the time being, until we can properly customize the webkit
    scrollbars, style the GTK scrollbars to look slightly more like them */
    scrollbar {
        background-color: transparent;
        padding: 0px;

        slider {
            min-height: 8px;
            background-color: #333333;
        }

        trough {
            padding: 3px;
        }
    }
}

.PagerParallaxBackground {
    &--parallax {
        transition: background-position 0.5s ease, background-image 0.5s ease;

        &.PagerParallaxBackground--landscape {
            background-size: 110% auto;
        }

        &.PagerParallaxBackground--portrait {
            background-size: auto 110%;
        }

        &.PagerParallaxBackground--left {
            background-position: 0% 50%;
        }

        &.PagerParallaxBackground--center {
            background-position: 50% 50%;
        }

        &.PagerParallaxBackground--right {
            background-position: 100% 50%;
        }
    }
}

.Card {
    &.invisible {
        opacity: 0.0;
    }

    &.fade-in {
        transition: opacity 1000ms ease-in-out;
        opacity: 1.0;
    }

    .thumbnail {
        background-position: center;
        background-size: 100% 100%;
        border-width: 0px;
    }

}

.section-page,
.search-page {
    .title {
        font-family: $title-font;
        font-weight: bold;
    }
}

.ContentGroupSearch {
    spinner {
        margin: 20px;
    }
}

.CardLegacyPolaroid {
    padding: 10px 10px 0px 10px;
    margin: 7px;
    background-color: white;

    .title {
        padding: 4px 0px 4px 0px;
        color: $accent-dark-color;
        font-family: $title-font, sans-serif;
        font-size: 0.9em;
        font-weight: bold;
    }

    .thumbnail {
        min-height: 133px;
    }

    .card-synopsis {
        padding: 0px 0px 4px 0px;
        color: #666666;
        font-size: 0.8em;
        text-shadow: white 0px 1px 0px;

        &.highlighted {
            background-color: $background-dark-color;
        }
    }

    .title.highlighted {
        background-color: $background-dark-color;
    }

    .composite & {
        .title {
            font-weight: 600;
            font-size: 16.4px;  /* Original spec may have been wrong */
        }

        .card-synopsis {
            color: black;
            font-size: 16.4px;  /* 14px spec * 88% */
            text-shadow: none;
        }
    }
}

.LayoutSidebar {
    .sidebar {
        .CardTitle {
            padding: 6px;
            border: 2px solid transparentize(white, 1);
            background-color: transparentize(white, 1);
            transition: background-color 250ms ease-in-out,
                        background-image 250ms ease-in-out,
                        border 250ms ease-in-out;

            .title {
                padding: 0em 0em 0em 1.5em;
                font-family: $display-font;
                font-size: 1.125em; /* 18pt * 1/12 * 0.75 DPI correction factor */
                font-weight: normal;
                color: $primary-light-color;
                transition: color 250ms ease-in-out;
            }

            &:hover {
                border: 2px solid white;
                background-color: transparentize(white, 1 - 0.9);
                background-image: linear-gradient(-179deg,
                                                  transparentize(white, 1 - 0.05) 0%,
                                                  transparentize(black, 1 - 0.05) 100%);

                .title {
                    color: $primary-medium-color;
                }
            }

            &.highlighted {
                background: transparentize(white, 1 - 0.8);
                text-shadow: 0px 1px 0px white;
                font-weight: bold;
                transition-property: none;

                .title {
                    color: $primary-dark-color;
                    transition-property: none;
                }

                &:hover {
                    border: 2px solid white;
                    background-color: transparentize(white, 1 - 0.9);
                    background-image: linear-gradient(-179deg,
                                                      transparentize(white, 1 - 0.05) 0%,
                                                      transparentize(black, 1 - 0.05) 100%);

                    .title {
                        color: $primary-dark-color;
                        transition-property: none;
                    }
                }
            }
        }
    }

    & .content {
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.0) 65%, rgba(0,0,0,0.30) 85%, rgba(0,0,0,0.70) 100%);
    }

    .composite & .sidebar .CardTitle .title {
        font-family: $title-font-composite;
    }
}

.pdf-card-icon {
    padding-top: 10px;
}

.pdf-card-label {
    font-size: 0.9em;
    color: #666666
}

.CardLegacyPost {
    border-style: solid;
    border-width: 5px;
    border-color: $legacy-post-card-border-color;
    transition: border-color 250ms ease-in-out;

    &:hover {
        border-color: $legacy-post-card-border-color-hover;

        .title {
            color: $primary-medium-color;
            background-color: $legacy-post-card-border-color-hover;
        }
    }

    .thumbnail {
        background-size: cover;
    }

    .title {
        color: $primary-light-color;
        font-size: 1.8em;
        padding: .9em 0em;
        background-color: $legacy-post-card-border-color;
        transition: color 250ms ease-in-out,
                    background-color 250ms ease-in-out;
    }
}

.TableOfContents {
    &__entry {
        color: rgb(204, 204, 204);
        font-weight: 900;  /* Black */
        font-size: .7em;
        background-color: transparent;
        transition: background-color 150ms ease-in-out;
        border-radius: 1.75em;
        padding: .75em 0em .75em 0em;
        margin-bottom: .4em;

        &:hover,
        &:selected {
            color: white;
        }

        &:selected {
            background-color: transparentize(white, 1 - 0.247);
        }
    }

    &__entryTitle {
        padding-left: 1.5em;
    }

    &__entryIndex {
        padding: 0em 2em 0em 2em;
    }

    &__arrow {
        color: rgb(204, 204, 204);
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: transparentize(black, 1 - 0.3);
        padding: 5px;
        box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.3);

        &:hover {
            color: white;
            border-color: transparentize(black, 1 - 0.4);
            box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.4);
        }

        &:disabled {
            color: transparentize(rgb(204, 204, 204), 1 - 0.3);
            border-color: transparentize(black, 1 - 0.15);
            box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.15);
        }
    }

    /* Style table of contents when collapsed without section titles */
    &--collapsed &__entry {
        border-radius: 1.75em 0em 0em 1.75em;
    }

    &--collapsed &__entryIndex {
        padding-left: 0em;
        padding-right: 0em;
    }
}

.TabButton {
    color: white;
    padding-right: 1.8em;
    padding-left: 2.4em;
    padding-top: 1.0em;
    padding-bottom: 0.9em;
    border-style: solid;
    font-weight: bold;
    font-size: 0.75em;  /* 12pt * 1/12 * 0.75 DPI correction factor */
    text-shadow: 0px -1px 0px transparentize(black, 1 - 0.40);
    -gtk-icon-shadow: 0px -1px 1px transparentize(black, 1 - 0.44);
    background: linear-gradient(to bottom,
                                $tab-button-gradient-light,
                                $tab-button-gradient-dark);
    box-shadow: inset 0px 1px 4px 0px transparentize(white, 1 - 0.19);

    &:dir(ltr) image {
        padding-left: 15px;
    }

    &:dir(rtl) image {
        padding-right: 15px;
    }

    &:hover {
        background: linear-gradient(to bottom,
                                    $tab-button-gradient-hover-light,
                                    $tab-button-gradient-hover-dark);
    }

    &:active {
        background: linear-gradient(to bottom,
                                    $tab-button-gradient-active-dark,
                                    $tab-button-gradient-active-light);
    }

    &.bottom {
        border-top-left-radius: 1.7em;
        border-top-right-radius: 1.7em;
    }

    &.top {
        border-bottom-left-radius: 1.7em;
        border-bottom-right-radius: 1.7em;
    }
}

.NavigationSearchBox {
    .home-page & {
        box-shadow: inset 0em 0.16em 0.16em transparentize(black, 1 - 0.14);
        background-image: linear-gradient(-179deg, transparentize(black, 1 - 0.17) 0%,
                                                   transparentize(white, 1 - 0.13) 79%),
                          linear-gradient(to bottom, white, white);
        background-clip: padding-box;
        padding: 0.75em 0.55em 0.75em 0.55em;
        color: $primary-dark-color;
        caret-color: $primary-dark-color;
        font-size: 1em;

        border-style: solid;
        border-radius: 10em;

        border-width: .33em;
        border-color: transparentize(black, 1 - 0.19);

        min-width: 400px;

        selection {
            color: white;
            background-color: $primary-dark-color;
        }

        &:selected {
            background-color: lighter($primary-dark-color);
            color: #eeeeec;
        }

        &:focus {
            box-shadow: inset 0px 0px 3px 2px #5097D1;
        }

        image {
            color: #919191;
            margin: 3px 5px;
        }
    }

    .composite .home-page & {
        font-size: 18.8px;  /* 16px spec * 88% */
    }
}

/* Hide scrollbars when animating, they look bad. */
.PagerSimple--animating scrollbar slider {
    background-color: transparent;
}

.DocumentCard {
    WebKitWebView {
        background-color: #ececec;
        background-image: url('../templates/images/noise.png');
    }

    .title {
        font-family: $title-font;
        font-size: 2.25em; /* 36pt * 1/12 * 0.75 DPI correction factor */
        font-weight: bold;

        &.collapsed {
            margin-bottom: 10px;
        }
    }
}

.NavButtonOverlay {
    &__backButton,
    &__forwardButton {
        color: white;
        background-color: transparentize(black, 1 - 0.2);
        border: 1px solid transparentize(white, 1 - 0.4);
        box-shadow: inset 0px 1px 1px 0px transparentize(black, 1 - 0.5),
            inset 0px 1px 4px 0px transparentize(black, 1 - 0.4);
        -EknGrowButton-grow-pixels: 15;
    }

    &__backButton,
    &__forwardButton:dir(rtl) {
        border-left: 0px;
        border-radius: 0px 27px 27px 0px;
        padding: 15px;
    }

    &__forwardButton,
    &__backButton:dir(rtl) {
        border-radius: 27px 0px 0px 27px;
        border-right: 0px;
        padding: 15px;
    }

    &__backButtonImage,
    &__forwardButtonImage {
        color: white;
        box-shadow: 0px 1px transparentize(black, 1 - 0.8); /* FIXME: box-shadow outset doesn't currently work in GTK */
        min-width: 22px;
        min-height: 22px;
    }

    &__backButtonImage {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
    }

    &__forwardButtonImage {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
    }

    &__backButtonImage:dir(rtl) {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic-rtl");
    }

    &__forwardButtonImage:dir(rtl) {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic-rtl");
    }
}

.PDFView {
    background-image: url('../images/pdf-background.png');
}

.webview-tooltip {
    background-color: transparentize(black, 1 - 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;

    label {
        color: white;
        font-family: $display-font;
        font-size: 1.0em; /* 16px / 12px/em * 72/96 */
        font-weight: bold;
    }
}

/* Changes for composite TVs */

.composite {
    font-family: $display-font-composite;

    .title {
        font-family: $title-font-composite;
    }

    headerbar entry {
        font-size: 21.1px;  /* 18px spec * 88% because spec was at 110% scale not 125% */
    }
}
