@import 'common';

$template-b-text-color: #eeccf8;
$template-b-text-color-hover: #d64970;
$template-b-text-color-highlighted: #333333;

.WindowApp {
    /* Changed color here so scrollbars are visible. Only affects smoke tests all
     * apps have image backgrounds.*/
    background-color: #888888;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.parallax {
        transition: background-position 0.5s ease;

        &.background-left {
            background-position: 0% 50%;
        }

        &.background-center {
            background-position: 50% 50%;
        }

        &.background-right {
            background-position: 100% 50%;
        }
    }

    /* FIXME: for the time being, until we can properly customize the webkit
    scrollbars, style the GTK scrollbars to look slightly more like them */
    scrollbar {
        slider {
            min-width: 8px;
            min-height: 8px;
            background-color: #333333;
            border-radius: 20px;
        }

        trough {
            padding: 3px;
        }
    }
}

.BannerApp {
    .ThemeableImage {
        -EknThemeableImage-sizing: "size-down";
        min-width: 200px;
        min-height: 200px;
    }
}

.Card {
    &.invisible {
        opacity: 0.0;
    }

    &.fade-in {
        transition: opacity 1000ms ease-in-out;
        opacity: 1.0;
    }

    .thumbnail {
        background-position: center;
        background-size: 100% 100%;
        border-width: 0px;
    }

}

.section-page-a {
    padding: 0 100px;

    flowbox {
        margin-top: 20px;
    }

    .title {
        font-family: Montserrat;
        font-weight: bold;

        padding-top: 1.0em;
        padding-bottom: 1.0em;

        font-size: 2.25em; /* 36pt * 1/12 * 0.75 DPI correction factor */
    }

    separator {
        min-height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .window-small & .title {
        font-size: 1.75em; /* 28pt * 1/12 * 0.75 DPI correction factor */
    }
}

.search-page-a {
    padding: 0 100px;
}

.section-page-b .title,
.search-page-a .title,
.search-page-b .title {
    font-family: Montserrat;
    font-weight: bold;
}

.search-page-a .title {
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

.search-page-a .title {
    font-size: 2.25em; /* 36pt * 1/12 * 0.75 DPI correction factor */
}

.window-small .search-page-a .title {
    font-size: 1.75em; /* 28pt * 1/12 * 0.75 DPI correction factor */
}

.ContentGroupSearch {
    spinner {
        margin: 20px;
    }

    .search-page-a & .results-message-title,
    .search-page-a & .results-message-subtitle,
    .search-page-a & .error-message {
        padding-top: 2.0em;
    }

    .window-small .search-page-a & .results-message-title,
    .window-small .search-page-a & .results-message-subtitle,
    .window-small .search-page-a & .error-message {
        padding-top: 1.5em;
    }

    .search-page-b & .results-message-title,
    .search-page-b & .results-message-subtitle,
    .search-page-b & .error-message {
        font-size: 1.2em;
        padding: 10px 25px;
    }

    .window-small .search-page-b & .results-message-title,
    .window-small .search-page-b & .results-message-subtitle,
    .window-small .search-page-b & .error-message {
        font-size: 0.8em;
        padding: 8px 15px;
    }

    .search-page-b &,
    .article-page-b & {
        background-color: transparentize(black, 1 - 0.75);
    }

    .composite .search-page-a & .results-message-title,
    .composite .search-page-a & .results-message-subtitle,
    .composite .search-page-a & .error-message {
        font-size: 18.8px;  /* 16px spec * 88% */
    }

    .composite .search-page-b & .results-message-title,
    .composite .search-page-b & .results-message-subtitle,
    .composite .search-page-b & .error-message {
        font-size: 14.1px;  /* 12px spec * 88% */
    }

    .composite .search-page-b &,
    .composite .article-page-b & {
        background-color: transparentize(black, 1 - 0.8);
    }
}

.search-page-a separator {
    min-height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.section-page-b .title,
.search-page-b .title {
    font-size: 4.5em; /* 72pt * 1/12 * 0.75 DPI correction factor */
    padding: 0.9em 0em 0.9em 1.2em;
    color: white;
}

.window-small .section-page-b .title,
.window-small .search-page-b .title {
    font-size: 3.5em; /* 56pt * 1/12 * 0.75 DPI correction factor */
    padding: 0.9em 0em 0.9em 1.2em;
    color: white;
}

.CardLegacyPolaroid {
    padding: 10px 10px 0px 10px;
    margin: 7px;
    background-color: white;

    .title {
        padding: 4px 0px 4px 0px;
        color: #d16550;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9em;
        font-weight: bold;
    }

    .thumbnail {
        min-height: 133px;
    }

    .section-page-a & .title,
    .search-page-a & .title {
        font-size: 0.9em;
        text-shadow: 0px 1px 0px white;
    }

    .home-page-a & .title {
        padding: 9px 0px 9px 0px;
    }

    .card-synopsis {
        padding: 0px 0px 4px 0px;
        color: #666666;
        font-size: 0.8em;
        text-shadow: white 0px 1px 0px;

        &.highlighted {
            background-color: #d3d7cf;
        }
    }

    .title.highlighted {
        background-color: #d3d7cf;
    }

    .composite & {
        .title {
            font-weight: 600;
            font-size: 16.4px;  /* Original spec may have been wrong */
        }

        .card-synopsis {
            color: black;
            font-size: 16.4px;  /* 14px spec * 88% */
            text-shadow: none;
        }
    }

    .composite .section-page-a & .title,
    .composite .search-page-a & .title {
        font-size: 16.4px;  /* 14px spec * 88% */
    }
}

.LayoutSidebar {
    .sidebar {
        .CardTitle {
            padding: 6px;
            border: 2px solid transparentize(white, 1);
            background-color: transparentize(white, 1);
            transition: background-color 250ms ease-in-out,
                        background-image 250ms ease-in-out,
                        border 250ms ease-in-out;

            .title {
                padding: 0em 0em 0em 1.5em;
                font-family: Lato;
                font-size: 1.125em; /* 18pt * 1/12 * 0.75 DPI correction factor */
                font-weight: normal;
                color: $template-b-text-color;
                transition: color 250ms ease-in-out;
            }

            &:hover {
                border: 2px solid white;
                background-color: transparentize(white, 1 - 0.9);
                background-image: linear-gradient(-179deg,
                                                  transparentize(white, 1 - 0.05) 0%,
                                                  transparentize(black, 1 - 0.05) 100%);

                .title {
                    color: $template-b-text-color-hover;
                }
            }

            &.highlighted {
                background: transparentize(white, 1 - 0.8);
                text-shadow: 0px 1px 0px white;
                font-weight: bold;
                transition-property: none;

                .title {
                    color: $template-b-text-color-highlighted;
                    transition-property: none;
                }

                &:hover {
                    border: 2px solid white;
                    background-color: transparentize(white, 1 - 0.9);
                    background-image: linear-gradient(-179deg,
                                                      transparentize(white, 1 - 0.05) 0%,
                                                      transparentize(black, 1 - 0.05) 100%);

                    .title {
                        color: $template-b-text-color-highlighted;
                        transition-property: none;
                    }
                }
            }
        }
    }

    & .content {
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.0) 65%, rgba(0,0,0,0.30) 85%, rgba(0,0,0,0.70) 100%);
    }

    .composite & .sidebar .CardTitle .title {
        font-family: Roboto;
    }
}

.pdf-card-icon {
    padding-top: 10px;
}

.pdf-card-label {
    font-size: 0.9em;
    color: #666666
}

$legacy-post-card-border-color: transparentize(black, 1 - 0.7);
$legacy-post-card-border-color-hover: white;

.CardLegacyPost {
    border-style: solid;
    border-width: 5px;
    border-color: $legacy-post-card-border-color;
    transition: border-color 250ms ease-in-out;

    &:hover {
        border-color: $legacy-post-card-border-color-hover;

        .title {
            color: $template-b-text-color-hover;
            background-color: $legacy-post-card-border-color-hover;
        }
    }

    .thumbnail {
        background-size: cover;
    }

    .title {
        color: $template-b-text-color;
        font-size: 1.8em;
        padding: .9em 0em;
        background-color: $legacy-post-card-border-color;
        transition: color 250ms ease-in-out,
                    background-color 250ms ease-in-out;
    }
}

.TableOfContents {
    &__entry {
        color: rgb(204, 204, 204);
        font-weight: 900;  /* Black */
        font-size: .7em;
        background-color: transparent;
        transition: background-color 150ms ease-in-out;
        border-radius: 1.75em;
        padding: .75em 0em .75em 0em;
        margin-bottom: .4em;

        &:hover,
        &:selected {
            color: white;
        }

        &:selected {
            background-color: transparentize(white, 1 - 0.247);
        }
    }

    &__entryTitle {
        padding-left: 1.5em;
    }

    &__entryIndex {
        padding: 0em 2em 0em 2em;
    }

    &__arrow {
        color: rgb(204, 204, 204);
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: transparentize(black, 1 - 0.3);
        padding: 5px;
        box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.3);

        &:hover {
            color: white;
            border-color: transparentize(black, 1 - 0.4);
            box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.4);
        }

        &:disabled {
            color: transparentize(rgb(204, 204, 204), 1 - 0.3);
            border-color: transparentize(black, 1 - 0.15);
            box-shadow: inset 0px 1px 0px transparentize(white, 1 - 0.15);
        }
    }

    /* Style table of contents when collapsed without section titles */
    &--collapsed &__entry {
        border-radius: 1.75em 0em 0em 1.75em;
    }

    &--collapsed &__entryIndex {
        padding-left: 0em;
        padding-right: 0em;
    }
}

$tab-button-background: #F16E47;
$tab-button-gradient-light: $tab-button-background;
$tab-button-gradient-dark: mix($tab-button-background, black, 65%);
$tab-button-gradient-active-light: $tab-button-gradient-light;
$tab-button-gradient-active-dark: $tab-button-gradient-dark;
$tab-button-gradient-hover-light: mix($tab-button-background, black, 95%);
$tab-button-gradient-hover-dark: mix($tab-button-background, black, 50%);

.TabButton {
    color: white;
    padding-right: 1.8em;
    padding-left: 2.4em;
    padding-top: 1.0em;
    padding-bottom: 0.9em;
    border-style: solid;
    font-weight: bold;
    font-size: 0.75em;  /* 12pt * 1/12 * 0.75 DPI correction factor */
    text-shadow: 0px -1px 0px transparentize(black, 1 - 0.40);
    -gtk-icon-shadow: 0px -1px 1px transparentize(black, 1 - 0.44);
    background: linear-gradient(to bottom,
                                $tab-button-gradient-light,
                                $tab-button-gradient-dark);
    box-shadow: inset 0px 1px 4px 0px transparentize(white, 1 - 0.19);

    &:dir(ltr) image {
        padding-left: 15px;
    }

    &:dir(rtl) image {
        padding-right: 15px;
    }

    &:hover {
        background: linear-gradient(to bottom,
                                    $tab-button-gradient-hover-light,
                                    $tab-button-gradient-hover-dark);
    }

    &:active {
        background: linear-gradient(to bottom,
                                    $tab-button-gradient-active-dark,
                                    $tab-button-gradient-active-light);
    }

    &.bottom {
        border-top-left-radius: 1.7em;
        border-top-right-radius: 1.7em;
    }

    &.top {
        border-bottom-left-radius: 1.7em;
        border-bottom-right-radius: 1.7em;
    }
}

.NavigationSearchBox {
    .home-page-a & {
        box-shadow: inset 0em 0.16em 0.16em transparentize(black, 1 - 0.14);
        background-image: linear-gradient(-179deg, transparentize(black, 1 - 0.17) 0%,
                                                   transparentize(white, 1 - 0.13) 79%),
                          linear-gradient(to bottom, white, white);
        background-clip: padding-box;
        padding: 0.75em 0.55em 0.75em 0.55em;
        color: #2e3436;
        caret-color: #2e3436;
        font-size: 1em;

        border-style: solid;
        border-radius: 10em;

        border-width: .33em;
        border-color: transparentize(black, 1 - 0.19);

        min-width: 400px;

        selection {
            color: white;
            background-color: #2e3436;
        }

        &:selected {
            background-color: lighter(#2e3436);
            color: #eeeeec;
        }

        &:focus {
            box-shadow: inset 0px 0px 3px 2px #5097D1;
        }

        image {
            color: #919191;
            margin: 3px 5px;
        }
    }

    .home-page-b & {
        box-shadow: inset 0em 0.16em 0.16em transparentize(black, 1 - 0.14);
        background-image: linear-gradient(-179deg, transparentize(black, 1 - 0.17) 0%,
                                                   transparentize(white, 1 - 0.13) 79%),
                          linear-gradient(to bottom, white, white);
        background-clip: padding-box;
        padding: 0.75em 0.55em 0.75em 0.55em;
        color: #2e3436;
        caret-color: #2e3436;
        font-size: 1em;

        border-style: solid;
        border-radius: 10em;

        border-width: .33em;
        border-color: transparentize(black, 1 - 0.19);

        min-width: 320px;

        selection {
            color: white;
            background-color: #2e3436;
        }

        &:selected {
            background-color: lighter(#2e3436);
            color: #eeeeec;
        }

        &:focus {
            box-shadow: inset 0px 0px 3px 2px #5097D1;
        }

        image {
            color: #919191;
            margin: 3px 5px;
        }
    }

    .composite .home-page-a &,
    .composite .home-page-b & {
        font-size: 18.8px;  /* 16px spec * 88% */
    }
}

.LayoutBox {
    .home-page-b & {
        min-height: 240px;
    }

    .composite .home-page-b & {
        min-height: 120px;
    }
}

.ContentGroupSet {
    .home-page-b & {
        background-color: black;
    }
}

.ContentGroupItem {
    .section-page-b &,
    .article-page-b & {
        background-color: transparentize(black, 1 - 0.75);
    }

    .composite .section-page-b &,
    .composite .article-page-b & {
        background-color: transparentize(black, 1 - 0.8);
    }
}

.article-page-b .sidebar {
    padding-left: 60px;
}

.section-page-b scrollbar trough,
.search-page-b scrollbar trough {
    padding: 0px 3px;
    background-color: transparentize(black, 1 - 0.5);
    background-image: linear-gradient(89deg,
                                      transparentize(white, 1 - 0.1) 0%,
                                      transparentize(black, 1 - 0.1) 100%);
    box-shadow: inset 1px 0px 0px 0px transparentize(black, 1 - 0.15);
}

.section-page-b scrollbar slider,
.search-page-b scrollbar slider {
    background-color: #888888;
}

/* Hide scrollbars when animating, they look bad. */
.animating scrollbar slider {
    background-color: transparent;
}

.DocumentCard {
    WebKitWebView {
        background-color: #ececec;
        background-image: url('../templates/images/noise.png');
    }

    .title {
        font-family: Montserrat;
        font-size: 2.25em; /* 36pt * 1/12 * 0.75 DPI correction factor */
        font-weight: bold;

        &.collapsed {
            margin-bottom: 10px;
        }
    }
}

.article-page-a .document-card-content-frame {
    padding: 20px 0px;
}

.NavButtonOverlay {
    &__backButton,
    &__forwardButton {
        color: white;
        background-color: transparentize(black, 1 - 0.2);
        border: 1px solid transparentize(white, 1 - 0.4);
        box-shadow: inset 0px 1px 1px 0px transparentize(black, 1 - 0.5),
            inset 0px 1px 4px 0px transparentize(black, 1 - 0.4);
        -EknGrowButton-grow-pixels: 15;
    }

    &__backButton,
    &__forwardButton:dir(rtl) {
        border-left: 0px;
        border-radius: 0px 27px 27px 0px;
        padding: 15px;
    }

    &__forwardButton,
    &__backButton:dir(rtl) {
        border-radius: 27px 0px 0px 27px;
        border-right: 0px;
        padding: 15px;
    }

    &__backButtonImage,
    &__forwardButtonImage {
        color: white;
        box-shadow: 0px 1px transparentize(black, 1 - 0.8); /* FIXME: box-shadow outset doesn't currently work in GTK */
        min-width: 22px;
        min-height: 22px;
    }

    &__backButtonImage {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
    }

    &__forwardButtonImage {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
    }

    &__backButtonImage:dir(rtl) {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic-rtl");
    }

    &__forwardButtonImage:dir(rtl) {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic-rtl");
    }
}

.PDFView {
    background-image: url('../images/pdf-background.png');
}

.webview-tooltip {
    background-color: transparentize(black, 1 - 0.4);
    border-radius: 8px 8px 8px 8px;
    padding: 10px 14px;
}

.webview-tooltip label {
    color: white;
    font-family: Lato;
    font-size: 1.0em; /* 16px / 12px/em * 72/96 */
    font-weight: bold;
}

/* Changes for composite TVs */

.composite,
.composite .title {
    font-family: Roboto;
}

.composite headerbar entry {
    font-size: 21.1px;  /* 18px spec * 88% because spec was at 110% scale not 125% */
}
