@import "project-setup";
@import "compass";

/* === Colors and Fonts === */

@import 'colors';
@import 'typography';

/* === Colors and Fonts (Overrides) === */

$primary-light-color: #7297a7;
$primary-medium-color: #0f1b3c;
$accent-light-color: #0f1b3c;
$accent-dark-color: #7297a7;
$background-light-color: #e9e5e0;
$background-dark-color: #0f1b3c;

$body-font: Merriweather;
$title-font: 'Fira Sans';
$display-font: Merriweather;
$context-font: Merriweather;
$support-font: 'Fira Sans';

/* === Modules === */

@import 'modules/arrangement/half';
@import 'modules/arrangement/list';
@import 'modules/arrangement/piano';
@import 'modules/arrangement/scrollingList';
@import 'modules/arrangement/sideBySide';
@import 'modules/arrangement/squareGuys';
@import 'modules/arrangement/thirties';
@import 'modules/arrangement/windshield';

@import 'modules/banner/app';
@import 'modules/banner/search';
@import 'modules/banner/set';

@import 'modules/card/base';
@import 'modules/card/knowledgeDocument';
@import 'modules/card/list';
@import 'modules/card/media';
@import 'modules/card/post';
@import 'modules/card/setPreview';
@import 'modules/card/thumb';
@import 'modules/card/title';

@import 'modules/contentGroup/cardContainer';
@import 'modules/contentGroup/contentGroup';
@import 'modules/contentGroup/hierarchicalSet';
@import 'modules/contentGroup/mediaLightbox';
@import 'modules/contentGroup/search';
@import 'modules/contentGroup/supplementaryArticles';

@import 'modules/layout/dynamicBackground';
@import 'modules/layout/infiniteScrolling';
@import 'modules/layout/responsiveMargins';
@import 'modules/layout/scrolling';
@import 'modules/layout/topMenu';

@import 'modules/navigation/searchBox';

@import 'modules/window/simple';

/* === Modules (Overrides) === */

.PagerSimple {
    -EknPager_Simple-transitions-style: 'none';
}

/* The home page consists of two 'highlights' modules. We want to
   set a bottom margin on the second of these two (that is, the last
   one). Note, we can't just set margin-bottom on the .highlights
   class because that would also apply to the upper highlights module
   on the page, which is not desired. */
.highlights:last-child {
    margin-bottom: 50px;
}

.CardSetPreview separator {
    background-color: transparent;
}

.LayoutTopMenu__menu {
    background-color: #050c20;
}

.ArrangementSideBySide {
    .CardTitle {
        &:hover label.title {
            border-bottom: 1px solid $accent-dark-color;
            color: $accent-dark-color;
        }

        &.highlighted {
            background-color: transparent;
        }
    }
}

/* Selects the background around the suggested articles modules; cumbersome! */
.vertical .LayoutResponsiveMargins.supplementary-articles,
.no-results .vertical .LayoutResponsiveMargins {
    background-color: $background-dark-color;
}

/* Adjust context frame in supplementary article and suggested article cards */
.supplementary-articles .CardThumb frame:nth-child(2),
.ContentGroupSuggestedArticles .content-frame {
    margin-top: -10px;
}

.search-page-suggestions .ContentGroup__title {
    color: white;
}

.ContentGroupSupplementaryArticles > .title {
    color: white;
}

.results-message-title {
    color: white;
}

.search-page separator {
    background-color: transparent;
}

.BannerSet .Card .title {
    color: white;
}
