/* === Colors and Fonts (Overrides) === */

$primary-light-color: #7297a7 !default;
$primary-medium-color: #0f1b3c !default;
$accent-light-color: #7297a7 !default;
$accent-dark-color: #0f1b3c !default;
$background-light-color: #e9e5e0 !default;
$background-dark-color: #0f1b3c !default;

$body-font: Merriweather !default;
$title-font: 'Fira Sans' !default;
$display-font: Merriweather !default;
$context-font: Merriweather !default;
$support-font: 'Fira Sans' !default;

@import "base";

.BannerApp {
    margin-top: 0;
}

.LayoutTopMenu__menu {
    background-color: #050c20;
    .CardTitle {
        &__title {
            font-weight: normal;
            -EknFormattableLabel-text-transform: 'lowercase';
        }
    }
}

.set-page,
.search-page {
    .BannerSet, .BannerSearch {
        margin-top: 95px;
    }

    .BannerSet .FormattableLabel,
    .BannerSearch .FormattableLabel {
        -EknFormattableLabel-text-transform: 'lowercase';
    }
}

.ContentGroup--complementarycontent {
  .ContentGroupContentGroup__title {
    font-size: 46px;
    font-weight: 900;
    color: $primary-medium-color;
    margin: 30px 0px 20px 0px;
  }
}

.set-page .ContentGroup--outercontainer,
.search-page .ContentGroup--outercontainer {
    margin-top: 100px;
}

.ContentGroup--outercontainer {
    .ContentGroupContentGroup {
        &__title {
            margin-left: 10px;
        }

        &__trigger {
            margin-right: 10px;
        }

        &__title .FormattableLabel,
        &__trigger .FormattableLabel {
            -EknFormattableLabel-text-transform: 'lowercase';
        }

        &__title--clickable,
        &__trigger {
            color: $primary-dark-color;

            &:hover {
                color: $primary-light-color;
            }
        }
    }

    .CardList {
        &__thumbnail {
            min-height: 200px;
        }
        .composite &__thumbnail {
            min-height: 120px;
        }
    }
}

.LayoutResponsiveMargins--complementarycontent {
    background-color: $background-dark-color;

    .ContentGroupContentGroup__title {
        color: white;
    }
}

.ContentGroupNoResultsMessage__subtitle {
    font-style: italic;
}

.home-page .LayoutDynamicBackground {
    -EknLayout_DynamicBackground-background-height: 700px;

    &.small {
        -EknLayout_DynamicBackground-background-height: 500px;
    }
}

.set-page .LayoutDynamicBackground {
    -EknLayout_DynamicBackground-background-height: 250px;
}

.search-page .LayoutDynamicBackground {
    -EknLayout_DynamicBackground-background-height: 250px;
}

.article-page {
    .CardList {
        &__thumbnail {
            min-height: 135px;
        }
        .composite &__thumbnail {
            min-height: 100px;
        }
    }
    .ContentGroup--complementarycontent {
        background-color: $background-light-color;
        margin-right: 14px;
        padding: 0px 50px 20px 50px;

        .composite & {
          padding: 0px 0px 20px 0px;
        }
    }
}

.CardDefault {
    &__context .FormattableLabel {
        -EknFormattableLabel-text-transform: 'lowercase';
    }
}
