@import "project-setup";

/* === Colors and Fonts (Overrides) === */

$primary-light-color: #7297a7 !default;
$primary-medium-color: #0f1b3c !default;
$accent-light-color: #0f1b3c !default;
$accent-dark-color: #7297a7 !default;
$background-light-color: #e9e5e0 !default;
$background-dark-color: #0f1b3c !default;

$body-font: Merriweather !default;
$title-font: 'Fira Sans' !default;
$display-font: Merriweather !default;
$context-font: Merriweather !default;
$support-font: 'Fira Sans' !default;

@import "base";

.LayoutScrolling,
.LayoutInfiniteScrolling {
    background-color: $background-light-color;
}

/* === Modules (Overrides) === */

/* The home page consists of two 'highlights' modules. We want to
   set a bottom margin on the second of these two (that is, the last
   one). Note, we can't just set margin-bottom on the .highlights
   class because that would also apply to the upper highlights module
   on the page, which is not desired. */
.highlights:last-child {
    margin-bottom: 50px;
}

.hierarchical-set {
    margin-top: 80px;
    margin-bottom: 20px;
}

.hierarchical-articles {
    margin-top: 20px;
    margin-bottom: 20px;
}

.LayoutTopMenu__menu {
    background-color: #050c20;
}

.supplementary-articles {
    margin: 50px 0 50px 20px;
    padding: 0 20px 20px 0px;

    .ContentGroupContentGroup__title {
        font-family: $display-font;
        font-weight: bold;
        font-size: 40px;
        padding-bottom: 30px;
        color: white;
    }
}

.dark-background {
    background-color: $background-dark-color;
}

.ArrangementSideBySide {
    .CardTitle {
        &:hover .CardTitle__title {
            border-bottom: 1px solid $accent-dark-color;
            color: $accent-dark-color;
        }

        &.highlighted {
            background-color: transparent;
        }
    }
}

/* Selects the background around the suggested articles modules; cumbersome! */
.vertical .LayoutResponsiveMargins.supplementary-articles,
.search-results .vertical .LayoutResponsiveMargins {
    background-color: $background-dark-color;
}

/* Adjust context frame in supplementary article and suggested article cards */
.supplementary-articles .CardThumb frame:nth-child(2),
.ContentGroupSuggestedArticles .Card__contentFrame {
    margin-top: -10px;
}

.search-page-suggestions .ContentGroupContentGroup__title {
    color: white;
}

.BannerSearch {
    color: white;
    margin-bottom: 25px;
}

.search-page separator {
    background-color: transparent;
}

.BannerSet {
    margin-top: 40px;
    margin-bottom: 15px;

    .Card__title {
        color: white;
        font-weight: bold;
        padding-top: 50px;
    }
}

.search-results, .set-page {
    background-color: transparent;
    .CardList {
        &__thumbnail {
            min-height: 200px;
        }
        .composite &__thumbnail {
            min-height: 120px;
        }
    }
}

.ContentGroupNoResultsMessage {
    background-color: $background-light-color;

    &__subtitle {
        padding-left: 160px;
    }
}

.home-page .LayoutDynamicBackground {
    -EknLayout_DynamicBackground-background-height: 675px;

    &.small {
        -EknLayout_DynamicBackground-background-height: 475px;
    }
}

.set-page .LayoutDynamicBackground {
    -EknLayout_DynamicBackground-background-height: 250px;
}

.search-page .LayoutDynamicBackground {
    -EknLayout_DynamicBackground-background-height: 250px;
}

.article-page {
    .CardList {
        margin: 0 100px 10px 100px;
        &__thumbnail {
            min-height: 135px;
        }
        .composite &__thumbnail {
            min-height: 100px;
        }
    }
}

.CardPost,
.CardThumb {
    &__context .FormattableLabel {
        -EknFormattableLabel-text-transform: 'lowercase';
    }
}

.CardTitle {
    &__title {
        -EknFormattableLabel-text-transform: 'lowercase';
    }
}
