@import url("resource:///com/endlessm/knowledge/data/css/common.css");
@import url("resource:///com/endlessm/knowledge/data/css/buffet_core.css");

* {
    -GtkScrollbar-min-slider-length: 100; /* larger than the top-menu height */
}

EknScrollingTemplate:not(.overshoot):not(.undershoot),
EknBackgroundModule {
    background-color: #e9e5e0;
}

EknSearchModule {
    background-color: transparent;
}

.card .title {
    color: #0f1b3c;
}

.trigger {
    font-family: 'Fira Sans';
    font-size: 15px;  /* 20px * 75% (DPI correction) */
    color: #0f1b3c;
}

.trigger:hover {
    color: #7297a7;
}

.trigger .image {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/news-arrow-dark.svg');
    -EknThemeableImage-min-height: 15;
    -EknThemeableImage-min-width: 16;
    margin-left: 5px;
    margin-bottom: 5px;
}

.trigger:hover .image {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/news-arrow-light.svg');
}

EknSetPreviewCard .text-card .title {
    color: #0f1b3c;
    font-family: 'Merriweather';
    font-weight: bold;
    padding-top: 50px;
    font-size: 30px;  /* 40px * 75% (DPI correction) */
}

EknSetPreviewCard .text-card:hover .title {
    color: #7297a7;
}

EknSetPreviewCard .separator {
    background-color: transparent;
    -EknThemeableImage-min-height: 0;
    margin: 0px 0px 30px;
}

EknAppBanner {
    font-family: 'Fira Sans';
    color: #7297a7;
}

EknPanelFrame .top-menu {
    background-color: #050c20;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 3px 20px;
}

EknSideBySideArrangement .text-card .title.label {
    font-family: 'Fira Sans';
    color: rgba(255, 255, 255, 0.6);
    padding: 5px 0px;
}

EknSideBySideArrangement .text-card:hover .title.label {
    border-bottom: 1px solid #7297a7;
    color: #7297a7;
}

EknSideBySideArrangement .text-card.highlighted .title.label {
    color: white;
}

EknSideBySideArrangement .text-card.highlighted:hover .title.label {
    border-bottom: none;
}

/* Selects the background around the suggested articles modules; cumbersome! */
.vertical EknResponsiveMarginsModule.second,
.no-results .vertical EknResponsiveMarginsModule {
    background-color: #0f1b3c;
}

EknSupplementaryArticlesModule > .title,
EknSuggestedArticlesModule > .title {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 16.5px;  /* 22px * 75% (DPI correction) */
    color: white;
    padding-bottom: 20px;
}

EknSearchBannerModule {
    padding: 50px 80px 0;
    font-family: Merriweather;
    font-weight: bold;
    color: #050c20;
    font-size: 48px;  /* 320% * 20px * 75% (DPI correction) */
    background-color: transparent;
}

.search-page-a .separator {
    color: transparent;
}

.search-results .results-message-title {
    font-family: 'Fira Sans';
    color: #7297a7;
    font-size: 22.5px;  /* 150% * 20px * 75% (DPI correction) */
    padding: 50px 80px 30px;
}

.results-message-title {
    color: white;
}

.search-results .results-message-subtitle {
    font-family: Merriweather;
    font-style: italic;
    color: #666666;
    font-size: 16.5px;  /* 110% * 20px * 75% (DPI correction) */
    padding-bottom: 50px;
    padding-left: 80px;
}

.all-type-card {
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    padding: 20px;
}

.all-type-card .title,
.search-result-card .title {
    font-family: 'Fira Sans';
    font-weight: bold;
    color: #0f1b3c;
    font-size: 13.5px; /* 18px * 75% (DPI correction) */
}

.all-type-card .card-synopsis,
.search-result-card .card-synopsis {
    font-family: 'Merriweather';
    font-style: italic;
    color: #666666;
    font-size: 12px; /* 16px * 75% (DPI correction) */
}

.all-type-card .card-context,
.search-result-card .card-context {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
    color: #7297a7;
    font-size: 10.5px; /* 14px * 75% (DPI correction) */
}

.all-type-card:hover .title,
.search-result-card:hover .title {
    color: #7297a7;
}

.search-result-card.next:hover .title {
    color: #0f1b3c;
}

.all-type-card.width-c {
    padding: 30px;
}
.all-type-card.width-c .title {
    font-size: 17.25px; /* 23px * 75% (DPI correction) */
}

.all-type-card.width-c.height-d,
.all-type-card.width-d {
    padding: 30px;
}
.all-type-card.width-c.height-d .title,
.all-type-card.width-d .title {
    font-size: 20.25px; /* 27px * 75% (DPI correction) */
}

.all-type-card.width-d.height-d,
.all-type-card.width-e,
.all-type-card.width-f.height-c {
    padding: 40px;
}
.all-type-card.width-d.height-d .title,
.all-type-card.width-e .title,
.all-type-card.width-f.height-c .title {
    font-size: 27.75px; /* 37px * 75% (DPI correction) */
}

.all-type-card.width-e.height-d,
.all-type-card.width-e.height-e,
.all-type-card.width-f,
.all-type-card.width-g,
.all-type-card.width-h {
    padding: 50px;
}
.all-type-card.width-e.height-d .title,
.all-type-card.width-e.height-e .title,
.all-type-card.width-f .title,
.all-type-card.width-g .title,
.all-type-card.width-h .title {
    font-size: 36.75px; /* 49px * 75% (DPI correction) */
}

.all-type-card.highlighted {
    background-color: #18264a;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}

.all-type-card.highlighted .title {
    color: white;
}

.card.arrow {
    -gtk-icon-source: none; /* kill the arrow that Gtk adds by default in Gtk.render_arrow() */
}

EknSetBannerModule .card .title,
EknSetBannerModule .card:hover .title {
    color: white;
    font-weight: bold;
    font-size: 40.5px;  /* 54px * 75% (DPI correction) */
    font-family: Merriweather;
    padding-top: 50px;
}

.post-card .title {
    font-family: 'Fira Sans';
    font-weight: bold;
}

.post-card .card-context {
    font-family: 'Merriweather';
    font-weight: bold;
}

EknSupplementaryArticlesModule .text-button {
    color: white;
    font-family: 'Merriweather';
    font-weight: bold;
}
