@import url("resource:///com/endlessm/knowledge/data/css/common.css");
@import url("resource:///com/endlessm/knowledge/data/css/buffet_core.css");

scrollbar.vertical slider {
    min-height: 100px;
}

@define-color title-blue #0f1b3c;
@define-color context-blue #7297a7;

EknInfiniteScrollingLayout,
EknBackground,
.results-message-background,
EosWindow scrollbar {
    background-color: #e9e5e0;
}

EknSearch {
    background-color: transparent;
}

.card .title {
    color: @title-blue;
}

.trigger {
    font-family: 'Fira Sans';
    font-size: 20px;
    color: @title-blue;
}

.trigger:hover {
    color: @context-blue;
}

.trigger .image {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/news-arrow-dark.svg');
    -EknThemeableImage-min-height: 14;
    -EknThemeableImage-min-width: 14;
    margin-left: 5px;
    margin-bottom: 5px;
}

.trigger:hover .image {
    -gtk-icon-source: url('resource:///com/endlessm/knowledge/data/images/news-arrow-light.svg');
}

EknSetPreviewCard .text-card .title {
    color: @title-blue;
    font-family: 'Merriweather';
    font-weight: bold;
    padding-top: 50px;
    font-size: 40px;
}

EknSetPreviewCard .text-card:hover .title {
    color: @context-blue;
}

EknSetPreviewCard separator {
    background-color: transparent;
    min-height: 0;
    margin: 0px 0px 30px;
}

EknAppBanner {
    font-family: 'Fira Sans';
    color: @context-blue;
}

EknPanelFrame .top-menu {
    background-color: #050c20;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
}

EknSideBySideArrangement .text-card label.title {
    font-family: 'Fira Sans';
    color: rgba(255, 255, 255, 0.6);
    padding: 13px 0px 3px 0px;
    font-size: 18px;
}

EknSideBySideArrangement .text-card:hover label.title {
    border-bottom: 1px solid @context-blue;
    color: @context-blue;
}

EknSideBySideArrangement .text-card.highlighted label.title {
    color: white;
}

EknSideBySideArrangement .text-card.highlighted:hover label.title {
    border-bottom: none;
}

/* Selects the background around the suggested articles modules; cumbersome! */
.vertical EknResponsiveMargins.second,
.no-results .vertical EknResponsiveMargins {
    background-color: #0f1b3c;
}

EknSupplementaryArticles > .title,
EknSuggestedArticles > .title {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-bottom: 30px;
}

EknSearchBanner {
    padding: 50px 80px 0;
    font-family: Merriweather;
    font-weight: bold;
    color: #050c20;
    font-size: 54px;
    background-color: transparent;
}

.search-page-a separator {
    background-color: transparent;
}

.search-results .results-message-title {
    font-family: 'Fira Sans';
    color: @context-blue;
    font-size: 30px;
    padding: 50px 80px 30px 160px;
}

.results-message-title {
    color: white;
    padding-bottom: 30px;
}

.search-results .results-message-subtitle {
    font-family: Merriweather;
    font-style: italic;
    color: #666666;
    font-size: 22px;
    padding-bottom: 50px;
    padding-left: 160px;
}

.all-type-card {
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    padding: 20px;
}

.all-type-card .title,
.list-card .title,
.thumb-card .title {
    font-family: 'Fira Sans';
    font-weight: bold;
    color: @title-blue;
    font-size: 18px;
}

.all-type-card .card-synopsis,
.list-card .card-synopsis {
    font-family: 'Merriweather';
    font-style: italic;
    color: #666666;
    font-size: 16px;
}

.all-type-card .card-context,
.list-card .card-context,
.thumb-card .card-context {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
    color: @context-blue;
    font-size: 14px;
}

.all-type-card:hover .title,
.list-card:hover .title {
    color: @context-blue;
}

.list-card.next:hover .title {
    color: @title-blue;
}

.list-card .title.highlighted {
    background-color: rgba(114, 151, 167, 0.3);
}

.all-type-card.width-c {
    padding: 30px;
}
.all-type-card.width-c .title {
    font-size: 23px;
}

.all-type-card.width-c.height-d,
.all-type-card.width-d {
    padding: 30px;
}
.all-type-card.width-c.height-d .title,
.all-type-card.width-d .title {
    font-size: 27px;
}

.all-type-card.width-d.height-d,
.all-type-card.width-e,
.all-type-card.width-f.height-c {
    padding: 40px;
}
.all-type-card.width-d.height-d .title,
.all-type-card.width-e .title,
.all-type-card.width-f.height-c .title {
    font-size: 37px;
}

.all-type-card.width-e.height-d,
.all-type-card.width-e.height-e,
.all-type-card.width-f,
.all-type-card.width-g,
.all-type-card.width-h {
    padding: 50px;
}
.all-type-card.width-e.height-d .title,
.all-type-card.width-e.height-e .title,
.all-type-card.width-f .title,
.all-type-card.width-g .title,
.all-type-card.width-h .title {
    font-size: 49px;
}

.all-type-card.highlighted {
    background-color: #18264a;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}

.all-type-card.highlighted .title {
    color: white;
}

.card.arrow {
    -gtk-icon-source: none; /* kill the arrow that Gtk adds by default in Gtk.render_arrow() */
}

EknSetBanner .card .title,
EknSetBanner .card:hover .title {
    color: white;
    font-weight: bold;
    font-size: 54px;
    font-family: Merriweather;
    padding-top: 50px;
}

.post-card .title {
    font-family: 'Fira Sans';
    font-weight: bold;
}

.post-card .card-context {
    color: @context-blue;
    font-family: 'Merriweather';
    font-weight: bold;
}

.thumb-card {
    box-shadow: 0px 5px 10px 0px alpha(black, 0.22);
}
