@import "project-setup";

frame, grid, border {
    border: initial;
}

.resize-separator {
    margin: 6px 0;
}

.Card {
    background-color: initial;
    background-image: initial;
    padding: initial;
    border: initial;
    margin: initial;
    outline: initial;
}

@import "base";
