frame, grid, border {
    border: initial;
}

.resize-separator {
    margin: 6px 0;
}

.titlebar-hamburger {
    margin-right: 8px;
}

.card {
    background-color: initial;
    background-image: initial;
    padding: initial;
    border: initial;
    margin: initial;
    outline: initial;
}

@import url("resource:///com/endlessm/knowledge/data/css/mesh.css");
