$legacy-post-card-border-color: transparentize(black, 1 - 0.70) !default;
$legacy-post-card-border-color-hover: white !default;

@import "base";

.PagerParallaxBackground {
    -EknPager_Simple-transitions-style: 'slide-center';
}

.BannerDynamic {
    .home-page &__logo {
        -EknDynamicLogo-max-width: 600px;
        -EknDynamicLogo-max-height: 100px;
    }
}

.home-page {
    .CardDefault.CardPost {
        .CardDefault__title {
            font-weight: normal;
        }
        .CardDefault__content_grid {
            padding: 26px;
        }
        .CardDefault:hover {
            box-shadow: none;
        }
        box-shadow: none;
        margin: 4px;
    }

    .LayoutBox,
    .ContentGroupContentGroup {
        min-height: 240px;
    }

    .ContentGroupContentGroup {
        background-color: black;
        /* padding-top is a design decision that makes up for the incorrect spacing
         * created by adding a margin to the cards */
        padding-top: 4px;
    }

    .NavigationSearchBox {
        min-width: 400px;
        margin-right: 30px;
    }
}

.LayoutSidebar {
    .sidebar {
        background-color: transparentize(black, 1 - 0.80);

        .CardTitle {
            &__title {
                font-family: $context-font;
            }

            &:hover .CardTitle__title {
                color: white;
            }

            &:active,
            &.highlighted {
                .CardTitle__title {
                    background-color: black;
                }
            }
        }

        .ContentGroupNoResultsMessage {
            &__title {
                color: white;
                font-weight: bold;
                font-size: 30px;
            }

            &__subtitle {
                font-family: $display-font;
                color: transparentize(white, 1 - 0.80);
                font-size: 20px;
            }
        }
    }

    .content {
        .BannerSet .CardTitle__title,
        .BannerSearch_title {
            font-family: $title-font;
            text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
        }
    }
}

.PagerParallaxBackground--right .LayoutSidebar .sidebar {
    margin-left: 60px;
}

.article-page {
    .sidebar {
        margin-left: 50px;
    }
}

.window-small {
    .home-page {
        .CardDefault {
            &__title {
                font-size: 1.0em;
                padding: 0.5em 0em;
            }
        }
    }

    .set-page,
    .search-page {
        .content .Card__title {
            font-size: 60px;
        }
    }
}

.composite {
    .home-page {
        .CardDefault {
            &__title {
                font-family: $title-font-composite;
                font-size: 20px;
                font-weight: 400;
                padding: 0.5em 0.2em;
            }
            margin: 2px;
        }

        .LayoutBox {
            min-height: 150px;
        }

        .ContentGroupContentGroup {
            min-height: 200px;
            /* padding-top is a design decision that makes up for the incorrect spacing
             * created by adding a margin to the cards */
            padding-top: 2px;
        }

        .NavigationSearchBox {
            min-width: 130px;
            margin: 0px;
        }
    }

    .search-page,
    .set-page,
    .article-page {
        .sidebar {
            .ContentGroupContentGroup {
                background-color: transparentize(black, 1 - 0.8);
            }
            .ContentGroupNoResultsMessage {
                margin: 1.0em;
                &__title,
                &__subtitle {
                    font-size: 20px;
                }
            }
        }
    }

    .set-page,
    .search-page {
        .content {
            .Card__title,
            .BannerSearch {
                font-family: $display-font-composite;
                font-size: 30px;
                padding: 0.5em 0em 0em 1.5em;
                color: white;
            }
        }
    }
}
