$body-font: 'Merriweather' !default;
$display-font: 'Fira Sans' !default;
$display-font-composite: 'Roboto' !default;

@import 'mesh';

.home-page {
    .CardLegacyPolaroid {
        padding: 10px 10px 0px 10px;
        box-shadow: 2px 8px 5px transparentize(black, 1 - 0.20);
        &__title {
            font-size: 0.85em;
            padding: 10px;
        }
    }

    .ArrangementOverflow {
        padding: 60px 60px 40px 60px;
    }
}

.CardTitle__title,
.CardKnowledgeDocument__title {
    color: white;
}

.BannerSet .Card {
    background: none;
}

.set-page,
.search-page {
    .BannerSet .Card__title,
    .BannerSearch__title {
        color: white;
        font-size: 55px;
        padding: 1.0em 1.0em 0.50em 1.0em;
        text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
    }

    .CardLegacyPolaroid {
        padding: 11px;
        box-shadow: 2px 8px 5px transparentize(black, 1 - 0.20);
        &__title {
            font-size: 1.0em;
        }

        &__synopsis {
            font-size: 0.75em;
            margin-top: 0.26em;
        }
    }

    .ContentGroupContentGroup {
        padding: 0px 60px 60px 60px;
    }
}

.search-results {
    background-color: transparent;

    .ContentGroupNoResultsMessage {
        margin-top: 3.0em;
        &__title,
        &__subtitle {
            font-size: 1.25em;
            color: white;
            padding: 0em 1.25em 0em 1.25em;
            font-style: normal;
            text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
        }
        &__subtitle {
            margin-top: 1.0em;
        }
    }
}

.article-page {
    .Card__title {
        color: white;
    }

    .CardKnowledgeDocument {
        &__contentFrame {
            margin: 0px 0px 0px 50px;
        }

        &__toolbarFrame {
            // margin-top: 60px;
            // margin-left: 50px;
            margin: 60px 0px 0px 50px;
        }
    }
}

.PagerParallaxBackground {
    -EknPager_Simple-transitions-style: 'slide-all';
}

.composite {
    .BannerApp .ThemeableImage {
        min-height: 50px;
    }

    .NavigationSearchBox {
        min-width: 50px;
    }

    .home-page {
        .ArrangementOverflow {
            padding: 0px;
        }
    }

    .set-page,
    .search-page {
        padding: 0px;

        .ContentGroupContentGroup__title,
        .BannerSet__title,
        .BannerSearch__title {
            font-family: $title-font-composite;
        }

        .CardLegacyPolaroid__title {
            font-size: 1.0em;
        }

        .CardLegacyPolaroid__synopsis {
            font-size: 1.0em;
        }

        .BannerSet .Card__title,
        .BannerSearch__title {
            font-size: 30px;
        }

        .ContentGroupContentGroup {
            padding: 0px 40px 20px 40px;
        }
    }

    .article-page {
        .Card__title {
            font-size: 30px;
            padding: 1.0em 0.5em 0.5em 0.5em;
        }

        .CardKnowledgeDocument__contentFrame {
            margin: 0px 0px 0px 0px;
        }

        .CardKnowledgeDocument__toolbarFrame {
            margin: 0px 20px 0px 45px;
        }
    }

    .ContentGroupNoResultsMessage {
        font-size: 20px;
        &__title {
            padding: 0em;
        }
        &__subtitle {
            padding: 0em 0em 2.0em 0em;
        }
    }
}
