$body-font: 'Merriweather' !default;
$display-font: 'Fira Sans' !default;
$display-font-composite: 'Roboto' !default;

@import "project-setup";
@import "compass";

@import 'mesh';

.home-page {
    .LayoutBox,
    .ContentGroupContentGroup {
        min-height: 240px;
    }

    .ContentGroupContentGroup {
        background-color: black;
        /* padding is a design decision that makes up for the double borders 
        created by the Card.LegacyPost cards. This should be fixed with 
        implementation of Constraint-Based cards. */
        padding-top: 5px;
    }

    .NavigationSearchBox {
        min-width: 400px;
        margin-right: 30px;
    }
}

.set-page,
.search-page {
    .content {
        .Card__title,
        .BannerSearch {
            font-size: 72px;
            padding: 1.0em 0em 1.0em 1.25em;
            color: white;
            text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
        }
    }
}

.sidebar {
    scrollbar {
        trough {
            padding: 0px 3px;
            background-color: transparentize(black, 1 - 0.90);
            background-image: linear-gradient(89deg,
                                              transparentize(white, 1 - 0.1) 0%,
                                              transparentize(black, 1 - 0.1) 100%);
            box-shadow: inset 1px 0px 0px 0px transparentize(black, 1 - 0.15);
        }

        slider {
            background-color: transparentize(white, 1 - 0.5);
        }
    }

    .ContentGroupContentGroup {
        background-color: transparentize(black, 1 - 0.75);
    }

    .ContentGroupNoResultsMessage {
        padding-top: 60px;
        &__title,
        &__subtitle {
            font-size: 20px;
            color: white;
            padding: 0em 1.25em 0em 1.25em;
            font-style: normal;
            text-shadow: 2px 8px 6px transparentize(black, 1 - 0.20);
        }
        &__subtitle {
            margin-top: 1.0em;
        }
    }
}

.article-page {
    .sidebar {
        padding-left: 45px;
    }
}

.PagerParallaxBackground {
    -EknPager_Simple-transitions-style: 'slide-center';
}

.window-small {
    .home-page {
        .CardLegacyPost {
            &__title {
                font-size: 1.0em;
                padding: 0.5em 0em;
            }
        }
    }

    .set-page,
    .search-page {
        .content .Card__title {
            font-size: 60px;
        }
    }
}

.composite {
    .home-page {
        .CardLegacyPost__title {
            font-family: $title-font-composite;
            font-size: 20px;
            font-weight: 400;
            padding: 0.5em 0.2em;
        }

        .LayoutBox {
            min-height: 150px;
        }

        .ContentGroupContentGroup {
            min-height: 200px;
            /* padding is a design decision that makes up for the double 
            borders created by the Card.LegacyPost cards. This should be fixed 
            with implementation of Constraint-Based cards. */
            padding-top: 2px;
        }

        .NavigationSearchBox {
            min-width: 130px;
            margin: 0px;
        }
    }

    .search-page,
    .set-page,
    .article-page {
        .ContentGroupContentGroup {
            background-color: transparentize(black, 1 - 0.8);
        }
    }

    .set-page,
    .search-page {
        .content {
            .Card__title,
            .BannerSearch {
                font-family: $title-font-composite;
                font-size: 30px;
                padding: 0.5em 0em 0em 1.5em;
                color: white;
            }
        }
    }

    .ContentGroupNoResultsMessage {
        padding-top: 15px;
        font-size: 20px;
    }
}
