@import "project-setup";
@import "compass";

@import 'mesh';

.home-page .CardLegacyPolaroid__title {
    padding: 9px 0px;
}

.home-page .ArrangementOverflow {
    margin-top: 40px;
}

.CardTitle__title,
.CardKnowledgeDocument__title {
    color: white;
}

.BannerSet .Card {
    background: none;
}

.set-page,
.search-page {
    padding: 0 100px;

    .BannerSet .Card__title,
    .BannerSearch__title {
        padding-top: 1.0em;
        padding-bottom: 1.0em;

        font-size: 36px;
    }

    separator {
        min-height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .CardLegacyPolaroid__title {
        font-size: 0.77em;
        text-shadow: 0px 1px 0px white;
    }
}

.set-page flowbox, .search-page flowbox {
    margin-top: 20px;
}

.search-results {
    background-color: transparent;

    .ContentGroupNoResultsMessage__title,
    .ContentGroupNoResultsMessage__subtitle {
        color:white;
        font-size: 16px;
        font-style:normal;
        padding: 2.0em 0 0 0;
    }
}

.article-page .CardKnowledgeDocument__contentFrame {
    padding: 20px 0px;
}

.article-page .Card__title {
    color: white;
}

.window-small {
    .set-page,
    .search-page {
        .ContentGroupContentGroup__title,
        .BannerSearch__title {
            font-size: 1.75em; /* 28pt * 1/12 * 0.75 DPI correction factor */
        }
    }

    .ContentGroupNoResultsMessage__title,
    .ContentGroupNoResultsMessage__subtitle {
        padding-top: 1.5em;
    }
}

.composite {
    .BannerApp .ThemeableImage {
        min-height: 50px;
    }

    .home-page .ArrangementOverflow {
        margin-top: 0px;
    }

    .set-page,
    .search-page {
        padding: 0px;
        .ContentGroupContentGroup__title,
        .BannerSearch__title {
            font-size: 16.4px;  /* 14px spec * 88% */
        }
    }

    .ContentGroupNoResultsMessage__title,
    .ContentGroupNoResultsMessage__subtitle {
        font-size: 18.8px;  /* 16px spec * 88% */
    }
}
