/* Copyright 2014 Endless Mobile, Inc. */

body {
    margin: 45px 50px 0;
    background-color: #e9e4de;
}

h1 {
    font-family: Lato;
    /*font-weight: 300;*/ /* FIXME: Lato Light displays as Hairline in Webkit */
    font-size: 2em; /* 24pt */
    color: #7e7e7e;
    line-height: 29pt;
    margin-left: 7px;
    margin-bottom: 22px;
}

.search-query {
    color: black;
    font-weight: normal;
}

.separator {
    height: 10px;
    background-image: url('../images/separator.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 35px;
}

li {
    font-family: Lato;
    font-size: 1.25em; /* 15pt */
    line-height: 1.67em; /* 20pt */
    margin-left: 0;
    padding-left: 1.4em; /* Width of bullet + 0.8em padding (see below) */
    text-indent: -1.4em;
    margin-bottom: 1.58em; /* 19pt = 39pt "line height" - 20pt text height */
}

/* ::marker pseudo-element not supported, list-style spec does not allow for
setting color. */
ul {
    list-style: none;
}
li:before {
    content: '•'; /* Unicode U+2022 */
    color: rgba(145, 145, 145, 0.5);
    padding-right: 0.8em;
}

a {
    color: #277090;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* Spinner animation - loosely based on something crappy from http://cssload.net/ */

.spinner-element {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: #a8a39c;
    -webkit-animation-name: spinner-animation;
    -webkit-animation-duration: 1.2s; /* 8 * 0.15 s */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}

.anim0 {
    top: 0px;
    left: 13px; /* 16px radius - 3px border radius */
    -webkit-animation-delay: 0s;
}

.anim1 {
    top: 4px; /* 16px - round(1/2 * sqrt(2) * 13px) */
    right: 4px;
    -webkit-animation-delay: 0.15s;
}

.anim2 {
    top: 13px;
    right: 0px;
    -webkit-animation-delay: 0.3s;
}

.anim3 {
    bottom: 4px;
    right: 4px;
    -webkit-animation-delay: 0.45s;
}

.anim4 {
    bottom: 0px;
    left: 13px;
    -webkit-animation-delay: 0.6s;
}

.anim5 {
    bottom: 4px;
    left: 4px;
    -webkit-animation-delay: 0.75s;
}

.anim6 {
    top: 13px;
    left: 0px;
    -webkit-animation-delay: 0.9s;
}

.anim7 {
    top: 4px;
    left: 4px;
    -webkit-animation-delay: 1.05s;
}

@-webkit-keyframes spinner-animation {
    0% {
        background-color: black;
    }
    100% {
        background-color: #a8a39c;
    }
}
