EknAppBanner {
    font-size: 1.19em; /* 19px / 12px/em * 72/96 */
    font-family: $title-font;
    color: white;

    .subtitle {
        letter-spacing: 0.74px;
        margin-top: 70px;
    }

    &.brand-page .image {
        -EknThemeableImage-sizing: "size-down";
        min-width: 200px;
        min-height: 200px;
    }

    .composite & {
        font-size: 22.3px;  /* 19px spec * 88% */
    }
}
