.BannerApp {
    &__subtitle {
        font-size: 1.19em; /* 19px / 12px/em * 72/96 */
        font-family: $support-font;
        color: $primary-light-color;
        letter-spacing: 0.74px;
        margin-top: 70px;
    }

    &__image {
        -EknThemeableImage-sizing: "size-down";
        min-width: 200px;
        min-height: 200px;
    }

    .DynamicLogo {
        -EknDynamicLogo-mode: "full";
        -EknDynamicLogo-sizing: "auto";
        -EknDynamicLogo-text-transform: "none";    
        font-family: $logo-font;
        font-weight: bold;
        font-size: 100px;
        color: white;
    }

    .composite &__subtitle {
        font-size: 22.3px;  /* 19px spec * 88% */
    }
}
