.BannerDynamic {
    font-size: 20px;

    &__subtitle {
        font-family: $support-font;
        color: white;
    }

    &__logo {
        -EknDynamicLogo-sizing: "auto";
        -EknDynamicLogo-text-transform: "none";
        font-family: $logo-font;
        font-weight: bold;
        color: white;
    }

    .composite & {
        font-size: 22.3px;
    }
}
