EknSetBanner {
    margin-top: 40px;

    /* FIXME: remove or update :hover selector after issues with Title card are fixed */
    .card .title,
    .card:hover .title {
        color: white;
        font-weight: bold;
        font-size: 54px;
        font-family: $title-font;
        padding-top: 50px;
    }
}
