.BannerSet {
    margin-top: 40px;

    .Card__title {
        color: $primary-medium-color;
        font-weight: bold;
        font-size: 54px;
        font-family: $title-font;
        padding-top: 50px;
    }
}
