.BannerSet {
    margin-top: 40px;

    .Card .title {
        color: $primary-dark-color;
        font-weight: bold;
        font-size: 54px;
        font-family: $display-font;
        padding-top: 50px;
    }
}
