.BannerTitle {
    font-family: $title-font;

    &__subtitle {
      color: $primary-medium-color;
      font-size: 1.75em; /* 28px / 12px/em * 72/96 */
    }

    &__title {
      color: $accent-light-color;
      font-size: 3.25em; /* 52px / 12px/em * 72/96 */
    }
}
